openapi: 3.2.0
info:
  title: Cvent REST Campaigns API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Campaigns
  description: Planners use eMarketing campaigns to contact an audience, such as newsletters, press releases, or product updates. Campaign emails are used as newsletters, promotions, advertisements, or marketing messages. Use these APIs to send an email and get historical data about your campaigns.
paths:
  /campaigns:
    get:
      summary: List eMarketing Campaigns
      operationId: getCampaigns
      description: Gets a list of eMarketing campaigns.
      tags:
      - Campaigns
      security:
      - OAuth2.clientCredentials:
        - eMarketing/campaigns:read
      - OAuth2.authorizationCode:
        - eMarketing/campaigns:read
      parameters:
      - $ref: '#/components/parameters/before1'
      - $ref: '#/components/parameters/after1'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\n'OR' is not supported. Only 'AND' operator is supported.\n\nThe following comparison types can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater or equal: ge\n  * less than or equal: le\n\nThe following fields are filterable:\n  * campaign.name (eq|ne)\n  * campaign.id (eq|ne)\n  * campaign.active (eq|ne)\n  * created (eq|le|ge)\n  * lastModified (eq|le|ge)\n"
        schema:
          type: string
          example: campaign.active eq '1'
      responses:
        '200':
          description: Successfully retrieved a paginated list of eMarketing campaigns.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign-list-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /emarketing/campaigns/{campaignId}/email-templates:
    get:
      summary: List Email Templates
      operationId: getEmailTemplates
      description: Gets a list of eMarketing email templates.
      tags:
      - Campaigns
      security:
      - OAuth2.clientCredentials:
        - eMarketing/eMarketing-email-templates:read
      - OAuth2.authorizationCode:
        - eMarketing/eMarketing-email-templates:read
      parameters:
      - $ref: '#/components/parameters/before1'
      - $ref: '#/components/parameters/after1'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/campaignId'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\n'OR' is not supported. Only 'AND' operator is supported.\n\nThe following comparison types can be used in filter expressions:\n  * equal: eq\n\nThe following fields are filterable:\n  * name (eq)\n  * createdBy (eq)\n"
        schema:
          type: string
          example: emailName eq 'Invitation'
      responses:
        '200':
          description: Successfully retrieved a paginated list of email templates for a campaign.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-template-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /emarketing/emails:
    post:
      summary: Send Email To Recipients
      operationId: sendEMarketingEmails
      description: Sends an email to one or more eMarketing campaign recipients who are on the recipient list.
      tags:
      - Campaigns
      security:
      - OAuth2.clientCredentials:
        - eMarketing/eMarketing-send-emails:write
      - OAuth2.authorizationCode:
        - eMarketing/eMarketing-send-emails:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/send-email-request'
      responses:
        '202':
          description: Successfully sent the request(s) for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-email-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /emarketing/emails/{emailRequestId}/status:
    get:
      summary: List Emarketing Email Status
      operationId: getEmarketingEmailStatus
      description: Gets the status of email using unique email request ID that was generated as a response of Send Email To Recipients request.
      tags:
      - Campaigns
      security:
      - OAuth2.clientCredentials:
        - emarketing/emarketing-email-status:read
      - OAuth2.authorizationCode:
        - emarketing/emarketing-email-status:read
      parameters:
      - $ref: '#/components/parameters/emailRequestId'
      responses:
        '200':
          description: Successfully retrieved a list of emarketing email send statuses associated with particular email request ID.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-email-emarketing-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  schemas:
    recipients-response.json:
      title: Email Recipient Response
      description: Response object indicating the status of send email request for a particular recipient.
      required:
      - id
      - status
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the recipient you're emailing.
          example: 9A641E55-3367-4C50-B21B-B6A7613DFB23
        status:
          $ref: '#/components/schemas/send-email-status.json'
        errorMessage:
          type: string
          description: The error description describes the reason of a failed email.
          example: Recipient does not exist.
    send-email-response:
      title: Send EMarketing Email Response
      description: Response object containing a request ID and a list of all email responses sent to recipients.
      type: object
      required:
      - requestId
      - templateId
      - recipientResponse
      properties:
        requestId:
          type: string
          format: uuid
          description: The request ID for the eMarketing email send request.
          example: 3A541E55-3367-4C50-B21B-B6A7613DFB23
        templateId:
          type: string
          description: The template ID of the eMarketing email.
          example: '12345'
        recipientResponse:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/recipients-response.json'
          description: List of responses specifying the status of email request for each recipient.
        status:
          $ref: '#/components/schemas/send-email-request-status.json'
        description:
          type: string
          description: The description of the request status. If the `status` is `ERROR`, this field contains the reason for the failure.
          example: Cannot send an email to inactive campaign(s).
    send-email-request-status.json:
      title: Send Email Request Status
      enum:
      - ERROR
      - IN-PROGRESS
      - SUCCESSFUL
      type: string
      description: Denotes the status of the send email request.
      example: ERROR
    pagination-links.json:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/link.json'
        self:
          $ref: '#/components/schemas/link.json'
        prev:
          $ref: '#/components/schemas/link.json'
    send-email-event-response:
      title: Send Event Email Response
      description: Response object containing a request ID and a list of all email responses sent to attendees.
      type: object
      allOf:
      - title: Send Email Response
        description: Response object containing details of email send.
        type: object
        allOf:
        - title: Audit
          description: Audit information
          type: object
          properties:
            created:
              type: string
              format: date-time
              description: The ISO 8601 zoned date time when this record was created.
              readOnly: true
              example: '2017-01-02T02:00:00Z'
            createdBy:
              type: string
              description: The identifier of the user that created this record.
              readOnly: true
              example: hporter
            lastModified:
              type: string
              format: date-time
              description: The ISO 8601 zoned date time when this record was updated.
              readOnly: true
              example: '2019-02-12T03:00:00Z'
            lastModifiedBy:
              type: string
              description: The identifier of the user that last updated this record.
              readOnly: true
              example: hporter
        required:
        - requestId
        properties:
          requestId:
            type: string
            format: uuid
            description: The request ID for the email send request.
            example: 3A541E55-3367-4C50-B21B-B6A7613DFB23
          status:
            $ref: '#/components/schemas/send-email-request-status.json'
          description:
            type: string
            description: The description of the response. If the `status` is `ERROR`, this field contains the reason for the failure.
            example: Cannot send an email from deleted event.
      required:
      - event
      - email
      - resendToPreviousRecipients
      - attendeeResponse
      properties:
        event:
          $ref: '#/components/schemas/event.json4'
        email:
          $ref: '#/components/schemas/email.json'
        resendToPreviousRecipients:
          type: boolean
          description: True indicates this email should be resent to attendees who had already received this email previously.
          example: true
        attendeeResponses:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/attendee-response.json'
          description: List of responses specifying the status of email request for each attendee.
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    paging.json:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/pagination-links.json'
    email-template-data.json:
      title: Email Template Response
      description: Response object to get email templates for an unique campaign.
      allOf:
      - title: EmailTemplateCommon
        description: Email Template
        type: object
        allOf:
        - $ref: '#/components/schemas/send-email-event-response/allOf/0/allOf/0'
        properties:
          name:
            type: string
            description: Name of the email template.
            example: Invitation
          subject:
            type: string
            description: Subject of the email template.
            example: Email Template Testing
          fromName:
            type: string
            description: Name of the sender.
            example: Henry Potterfield
          fromEmail:
            type: string
            description: The email address of the sender.
            example: h.potterfield@test.com
          plaintextBody:
            type: string
            description: Plain text body of the page in the email.
            example: We’d love to hear your thoughts!\n\nPlease take a few minutes to let us know about your recent experience.\n\nStart Survey Now ({[RES-SURVEY URL]})
          htmlBody:
            type: string
            description: html body of the page sent in the email
            example: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html><head><title></title></head><body style="margin:0;padding:0" id="body"><table ><tbody><tr><td align="center" bgcolor="#041532"><table ><tbody><tr><td align="center" bgcolor="#DDE2E6" style="padding-top:0;padding-bottom:0;padding-left:0;padding-right:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px" class="wrapper"><tbody><tr><td><table><tbody><tr><td valign="top"><table><tbody><tr><td><table><tbody><tr><td bgcolor="transparent" style="padding-top:15px;padding-bottom:15px;padding-left:15px;padding-right:15px"><table><tbody><tr><td><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>{[C-FIRST NAME]}, <br></td></tr> <tr><td>We&#x2019;d love to hear your thoughts!</td></tr> </table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" class="column"><tbody><tr><td><table border="0" cellpadding="0" cellspacing="0" width="100%" data-cvent-id="widget-NucleusText-widget:13ea36d2-1eb4-452f-ae17-9d582dbeb7eb"><tbody><tr><td bgcolor="transparent" style="padding-top:15px;padding-bottom:15px;padding-left:15px;padding-right:15px"><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td><table><tr><td>Please take a few minutes to let us know about your recent experience.</td></tr> </table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td valign="top"><table><tbody><tr><td><table><tbody><tr><td><table><tbody><tr><td >Start Survey Now</a></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" align="left" class="column"><tbody><tr><td><table ><tbody><tr><td bgcolor="transparent" style="padding-top:15px;padding-bottom:15px;padding-left:15px;padding-right:15px"><table ><tbody><tr><td><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td style="font-size:16px;line-height:20px;font-family:Arial,Helvetica,sans-serif;color:#273F69;font-style:normal;font-weight:400;text-align:center; padding: 6px 0;">If you have any questions, feel free to email us at {[SUR-AUTHOR EMAIL]}.<br>Thank you,<br>{[SUR-AUTHOR COMPANY]}&#xA0;</td></tr> </table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td valign="top"><table><tbody><tr><td><table><tbody><tr><td bgcolor="transparent" style="padding-top:15px;padding-bottom:15px;padding-left:15px;padding-right:15px"><table ><tbody><tr><td><table><tr><td>Click the link below to opt out of receiving emails from {[SUR-AUTHOR FIRST NAME]} {[SUR-AUTHOR LAST NAME]}.<br>{[EMAIL OPT OUT]}&#xA0;</td></tr> </table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td><table><tbody><tr><td><table><tbody></tbody></table></td></tr></tbody></table></td></tr></tbody></table> ></td></tr></tbody></table></body></html>'
          locale:
            type: string
            description: The locale of the email template using the IETF Language Tag format.
            example: en-US
          clickTrackingEnabled:
            type: boolean
            description: Enables tracking when respondent clicks on the email
            example: true
          replyToName:
            type: string
            description: Name of the person to reply to
            example: Henry Potterfield
          replyToEmail:
            type: string
            description: Email address to reply to
            example: h.potterfield@test.com
      properties:
        id:
          type: string
          description: The ID of the eMarketing email.
          example: '12345'
        active:
          type: boolean
          description: True indicates the email will be active and can be sent.
          example: true
    send-email-request:
      title: Send EMarketing Email Request
      description: Request object to send an email to one or more eMarketing campaign recipients.
      required:
      - templateId
      - recipients
      type: object
      properties:
        templateId:
          type: string
          description: The template ID of the eMarketing email to be sent.
          example: '12345'
        recipients:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/recipients-request.json'
          description: Array of one or more recipients whom emails need to be sent.
    campaign-list-paginated-response:
      title: Campaign List Paginated Response
      description: The response from a request to get the list of campaign. This includes the paging object as well as the collection of campaign data.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/campaign-data.json'
          description: A list of all campaigns.
    email-template-paginated-response:
      title: Email template List Paginated Response
      description: The response from a request to get the list of email templates. This includes the paging object as well as the collection of email template.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/email-template-data.json'
          description: A list of all email templates data for an unique campaign that will help the planner to select specific email and send.
    send-email-status.json:
      title: Send Email Status
      enum:
      - Sent
      - In-Progress
      - Error
      - Opted-Out
      type: string
      description: It is used to denote the status of the sent email.
      example: Accepted
    campaign-data.json:
      title: Campaign Data
      type: object
      description: Campaign data model.
      allOf:
      - $ref: '#/components/schemas/send-email-event-response/allOf/0/allOf/0'
      properties:
        campaignId:
          type: string
          format: uuid
          description: Unique ID of a campaign.
          example: 2A941E55-3367-4C50-B21B-B6A7613DFB23
        campaignName:
          type: string
          description: Name of the campaign.
          example: Demo Campaign
        active:
          type: boolean
          description: True indicates the campaign is active.
          example: true
        clickTrackingEnabled:
          type: boolean
          description: True indicates click tracking is enabled in the campaign.
          example: true
        companyName:
          type: string
          description: Name of the company who is organising the campaign.
          example: Demo Company
        fromName:
          type: string
          description: The name of the person on whose behalf the email will be sent.
          example: Demo name
    link.json:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    recipients-request.json:
      title: Email Recipient Request
      description: Recipient contains the recipient ID of a recipient.
      required:
      - id
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of a recipient whom you'd like to send an email.
          example: 9A641E55-3367-4C50-B21B-B6A7613DFB23
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    send-email-emarketing-response:
      title: Send Emarketing Email Response
      description: Response object containing a request ID and a list of all email responses sent to recipients.
      type: object
      allOf:
      - $ref: '#/components/schemas/send-email-event-response/allOf/0'
      required:
      - templateId
      - recipientResponse
      properties:
        templateId:
          type: string
          description: The template ID of the eMarketing email.
          example: 12345::2023-09-22T08:34:21.593Z
        recipientResponse:
          type: array
          minItems: 1
          maxItems: 200
          items:
            $ref: '#/components/schemas/recipients-response.json'
          description: List of responses specifying the status of email request for each recipient.
  parameters:
    before1:
      in: query
      name: before
      description: Used to query records that have been created before this time point. Defaults to current time.
      required: false
      schema:
        type: string
        example: '2021-03-25T02:30:00Z'
    campaignId:
      in: path
      name: campaignId
      description: The unique ID of a campaign. Used to retrieve the email templates used in this campaign.
      required: true
      schema:
        type: string
        format: uuid
        example: 9A641E55-3367-4C50-B21B-B6A7613DFB23
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    after1:
      in: query
      name: after
      description: Used to query records that have been created after this time point. Defaults to 6 months back from current time.
      required: false
      schema:
        type: string
        example: '2021-03-26T02:30:00Z'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    emailRequestId:
      in: path
      name: emailRequestId
      description: Used to get status of emails which were sent with this email request ID.
      required: true
      schema:
        type: string
        format: uuid,
        example: 2A941E55-3367-4C50-B21B-B6A7613DFB23
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
