openapi: 3.2.0
info:
  title: Cvent REST Venue Meeting Rooms API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Venue Meeting Rooms
  description: Manage meeting rooms for a venue, including creating and updating room details, configuring capacities and amenities, and associating images.
paths:
  /venues/{venueId}/meeting-rooms:
    post:
      operationId: createMeetingRoom
      summary: Create Meeting Room
      description: Create a new meeting room for the specified venue.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-rooms:write
      - OAuth2.clientCredentials:
        - venue/meeting-rooms:write
      parameters:
      - $ref: '#/components/parameters/venueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meetingRoom'
      tags:
      - Venue Meeting Rooms
      responses:
        '201':
          description: Meeting room created successfully.
          headers:
            Location:
              description: URL of the newly created meeting room.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existingMeetingRoom'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /venues/{venueId}/meeting-rooms/overviews:
    get:
      operationId: listMeetingRoomsOverviews
      summary: List Meeting Rooms Overviews
      description: Retrieve a paginated list of meeting room overviews for the specified venue.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-room-overviews:read
      - OAuth2.clientCredentials:
        - venue/meeting-room-overviews:read
      parameters:
      - $ref: '#/components/parameters/venueId'
      - name: limit
        in: query
        required: false
        description: The maximum number of records to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 100
        example: 100
      - name: token
        in: query
        required: false
        description: The continuation token returned from a previous request. This must be a valid UUID v4 if provided. This will override any other pageable parameters provided.
        schema:
          type: string
          format: uuid
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results to data that matches your criteria. See [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details. Supported fields and operators are listed below:


          * `hiddenOnProfile` (`eq`)

          '
        schema:
          type: string
        example: hiddenOnProfile eq 'false'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully retrieved overview of meeting rooms.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meetingRoomsOverviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /venues/{venueId}/meeting-rooms/{meetingRoomId}:
    put:
      operationId: updateMeetingRoom
      summary: Update Meeting Room
      description: Update a meeting room for the specified venue, replacing the existing meeting room data.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-rooms:write
      - OAuth2.clientCredentials:
        - venue/meeting-rooms:write
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existingMeetingRoom'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully updated the meeting room.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existingMeetingRoom'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    patch:
      operationId: patchMeetingRoom
      summary: Patch Meeting Room
      description: 'Partially update a meeting room for the specified venue.


        - Only fields present in the request body are updated; omitted fields remain unchanged.

        - Set a field to `null` to unset it.

        - **Arrays (`capacities`, `amenities`) are treated as full replacements** — the entire array is replaced, not merged.

        - All changes are applied atomically.'
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-rooms:write
      - OAuth2.clientCredentials:
        - venue/meeting-rooms:write
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/patchMeetingRoom'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully updated the meeting room.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patchMeetingRoom'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /venues/{venueId}/meeting-rooms/{meetingRoomId}/images:
    put:
      operationId: associateMeetingRoomImage
      summary: Associate Meeting Room Image
      description: 'Associate a previously uploaded image with a meeting room using a file UUID from the file upload endpoint. This will replace the current image if one is already associated.


        **Note:** The recommended image dimensions are at least 1920 x 1080 pixels. Only JPEG images (.jpg, .jpeg) are accepted. Maximum file size is 10 MB.'
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-room-images:write
      - OAuth2.clientCredentials:
        - venue/meeting-room-images:write
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meetingRoomImageAssociationRequest'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully associated the image with the meeting room.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meetingRoomImageAssociationResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    get:
      operationId: listMeetingRoomImages
      summary: List Meeting Room Images
      description: Retrieves the images associated with a meeting room. Each meeting room has at most one image.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-room-images:read
      - OAuth2.clientCredentials:
        - venue/meeting-room-images:read
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully retrieved the meeting room images.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meetingRoomImagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /venues/{venueId}/meeting-rooms/{meetingRoomId}/images/{imageId}:
    delete:
      operationId: disassociateMeetingRoomImage
      summary: Remove Meeting Room Image
      description: Disassociates the current image from a meeting room.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-room-images:delete
      - OAuth2.clientCredentials:
        - venue/meeting-room-images:delete
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      - $ref: '#/components/parameters/imageId1'
      tags:
      - Venue Meeting Rooms
      responses:
        '204':
          description: Successfully disassociated the image from the meeting room.
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /venues/{venueId}/meeting-rooms/{meetingRoomId}/overview:
    get:
      operationId: getMeetingRoomOverview
      summary: Get Meeting Room Overview
      description: Retrieve an overview of a specific meeting room for the specified venue.
      security:
      - OAuth2.authorizationCode:
        - venue/meeting-room-overviews:read
      - OAuth2.clientCredentials:
        - venue/meeting-room-overviews:read
      parameters:
      - $ref: '#/components/parameters/venueId'
      - $ref: '#/components/parameters/meetingRoomId'
      tags:
      - Venue Meeting Rooms
      responses:
        '200':
          description: Successfully retrieved the meeting room overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meetingRoomOverview'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
components:
  schemas:
    MeetingRoomAmenity:
      title: Meeting Room Amenity
      description: Available amenities for a meeting room.
      type: string
      example: PROJECTOR
      enum:
      - AUDIO_RECORDING
      - BACKGROUND_MUSIC
      - BLACKBOARD
      - BUILT_IN_SCREEN
      - CLOSED_CIRCUIT_VIDEO
      - DRY_ERASE_BOARD
      - DVD_PLAYER
      - EASEL
      - ELECTRIC_POINTER
      - FLIPCHART_MARKERS
      - INTERNET
      - LECTERN
      - MICROPHONE
      - MONITOR_CART
      - OUTDOOR_SPACE
      - PERSONAL_COMPUTER
      - POWERED_SPEAKER
      - PRIVATE_SPACE
      - PROJECTION_STAND
      - PROJECTOR
      - SEMI_PRIVATE_SPACE
      - TELEVISION
      - VHS_PLAYER
      - VIDEO_CAMERA
      - VIDEO_MONITOR
      - VIDEO_RECORDING
      - WHEELCHAIR_ACCESSIBLE
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    MeetingRoomExhibitCapacity:
      title: Meeting Room Exhibit Capacity
      description: Maximum number of exhibits for a specific exhibit layout type in a meeting room.
      type: object
      properties:
        layoutType:
          $ref: '#/components/schemas/ExhibitLayoutType'
        maxExhibits:
          type: integer
          description: Maximum number of exhibits for this layout type.
          minimum: 0
          maximum: 9999999
          example: 50
      required:
      - layoutType
      - maxExhibits
    meetingRoomImagesResponse:
      title: Meeting Room Images Response
      type: object
      description: The images associated with a meeting room. Each meeting room has at most one image.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/meetingRoomImage'
          maxItems: 1
          description: The images for a meeting room. Contains at most one item.
    meetingRoomImageAssociationRequest:
      title: Meeting Room Image Association Request
      description: Request body for associating an uploaded image file with a meeting room.
      type: object
      required:
      - file
      properties:
        file:
          type: object
          description: The previously uploaded image file to associate with the meeting room.
          required:
          - id
          properties:
            id:
              type: string
              format: uuid
              description: The unique identifier of a previously uploaded image file.
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    existingMeetingRoom:
      title: Existing Meeting Room
      description: An existing venue meeting room with read-only generated properties.
      required:
      - id
      type: object
      allOf:
      - $ref: '#/components/schemas/meetingRoom'
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier for the meeting room.
          readOnly: true
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
    Dimension:
      title: Dimension
      description: A dimension measurement in feet or meters.
      type: object
      properties:
        value:
          type: number
          description: The numeric value of the dimension.
          minimum: 0
          maximum: 99999.99
          example: 12.5
        unit:
          type: string
          description: The unit of measurement for the dimension.
          enum:
          - FEET
          - METERS
          example: FEET
      required:
      - value
      - unit
    meetingRoomsOverviewResponse:
      title: Meeting Rooms Overview Response
      description: Paginated overview of meeting rooms for a venue.
      type: object
      required:
      - data
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          description: Overview of meeting rooms.
          minItems: 0
          maxItems: 200
          items:
            $ref: '#/components/schemas/meetingRoomOverview'
    SeatingLayoutType:
      title: Seating Layout Type
      description: The seating arrangement style for a meeting room. Values represent standard event industry seating configurations.
      type: string
      enum:
      - BANQUET
      - CLASSROOM
      - COCKTAIL_ROUNDS
      - CONFERENCE
      - CRESCENT_ROUNDS
      - E_SHAPE
      - HOLLOW_SQUARE
      - MAXIMUM_CAPACITY
      - PERIMETER_SEATING
      - ROYAL_CONFERENCE
      - TALK_SHOW
      - THEATER
      - T_SHAPE
      - U_SHAPE
      example: THEATER
    AreaMeasurement:
      title: Area Measurement
      description: Measurement of area in square feet or square meters.
      type: object
      properties:
        value:
          type: number
          description: The numeric value of the area measurement.
          minimum: 1
          maximum: 9999999
          example: 1500
        unit:
          type: string
          description: The unit of measurement for the area.
          enum:
          - SQUARE_FEET
          - SQUARE_METERS
          example: SQUARE_FEET
      required:
      - value
      - unit
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    meetingRoomImage:
      title: Meeting Room Image
      description: The image associated with a meeting room.
      type: object
      required:
      - id
      - href
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          description: The ID of the associated meeting room image.
          example: 286e2866-b443-4d09-ab0f-0fac45cc026f
        href:
          type: string
          format: uri
          readOnly: true
          description: URL of the meeting room image.
          example: https://images.cvent.com/production/csn/3c7be8c9-cddb-4eaf-93a8-27da3250ed4f/images/83142ebfecbb42d2ac3be0433a180829_extrasmall!_!5b5c517134afb758b6fbbefb0e94d819.jpg
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    meetingRoomOverview:
      title: Meeting Room Overview
      description: An overview of a venue meeting room containing key identifiers and display properties.
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the meeting room.
          readOnly: true
          example: b2c3d4e5-f6a7-8901-bcde-f12345678901
        name:
          type: string
          description: The display name of the meeting room.
          example: Grand Ballroom
        hiddenOnProfile:
          type: boolean
          description: True indicates the meeting room is hidden on the venue profile.
          example: false
        displayOrder:
          type: integer
          description: Position of this meeting room in the venue's room listing, with 1 being the first position.
          minimum: 1
          example: 1
    VenueID:
      title: Venue ID
      description: A unique identifier for a venue
      type: string
      format: uuid
      example: 6bb0e2db-861f-46e3-a923-eb4d959ffa00
    meetingRoom:
      title: Meeting Room
      description: A venue meeting room.
      allOf:
      - $ref: '#/components/schemas/Audit'
      type: object
      required:
      - name
      - dimensions
      properties:
        name:
          type: string
          description: The name of the meeting room.
          minLength: 1
          maxLength: 100
          example: Grand Ballroom
        description:
          type: string
          description: The detailed description of the meeting room.
          maxLength: 2500
          example: Large conference space with natural lighting
        dimensions:
          type: object
          description: Physical dimensions for the meeting room.
          required:
          - totalSpace
          properties:
            totalSpace:
              $ref: '#/components/schemas/AreaMeasurement'
            ceilingHeight:
              $ref: '#/components/schemas/Dimension'
            length:
              $ref: '#/components/schemas/Dimension'
            width:
              $ref: '#/components/schemas/Dimension'
        displayOrder:
          type: integer
          description: The position of this meeting room in the venue's room listing.
          minimum: 1
          example: 1
        externalSourceId:
          type: string
          description: The provider's own identifier for this meeting room.
          maxLength: 100
          example: EXT-123
        rates:
          type: object
          description: Rate information for move in/out and events.
          properties:
            moveIn:
              $ref: '#/components/schemas/MeetingRoomRate'
            moveOut:
              $ref: '#/components/schemas/MeetingRoomRate'
            event:
              $ref: '#/components/schemas/MeetingRoomRate'
        capacities:
          $ref: '#/components/schemas/MeetingRoomCapacities'
        amenities:
          type: array
          description: List of amenities available in the meeting room.
          maxItems: 50
          items:
            $ref: '#/components/schemas/MeetingRoomAmenity'
        hiddenOnProfile:
          type: boolean
          description: True indicates the meeting room is hidden on the venue profile.
          default: false
          example: false
    MeetingRoomRate:
      title: Meeting Room Rate
      description: Meeting room rate with a value and application type.
      type: object
      properties:
        value:
          type: number
          description: The monetary value of the rate.
          minimum: 0
          maximum: 999999
          multipleOf: 0.01
          example: 500
        applicationType:
          $ref: '#/components/schemas/RateApplicationType'
      required:
      - value
      - applicationType
    meetingRoomImageAssociationResponse:
      title: Meeting Room Image Association Response
      description: Response body after successfully associating an image with a meeting room.
      type: object
      allOf:
      - $ref: '#/components/schemas/meetingRoomImage'
      - required:
        - file
        properties:
          file:
            type: object
            description: The file uploaded to be associated with the meeting room.
            readOnly: true
            required:
            - id
            properties:
              id:
                type: string
                format: uuid
                description: The ID of the uploaded image file.
                example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    RateApplicationType:
      title: Rate Application Type
      description: 'How the rate is applied to the meeting room booking.


        Values:

        - `COMPLIMENTARY` — Complimentary

        - `INCLUDED` — Included

        - `ONETIME_FEE` — One-Time Fee

        - `PER_DAY` — Per Day

        - `PER_HOUR` — Per Hour

        - `PER_SQ_FT` — Per Square Foot

        - `PER_SQ_MTR` — Per Square Meter

        - `TOTAL` — Total'
      type: string
      enum:
      - COMPLIMENTARY
      - INCLUDED
      - ONETIME_FEE
      - PER_DAY
      - PER_HOUR
      - PER_SQ_FT
      - PER_SQ_MTR
      - TOTAL
      example: PER_DAY
    patchMeetingRoom:
      title: MeetingRoomPatch
      description: Partial update payload for a venue meeting room.
      type: object
      properties:
        name:
          type: string
          description: The name of the meeting room.
          example: Grand Ballroom
          minLength: 1
          maxLength: 100
        description:
          type:
          - string
          - 'null'
          description: The detailed description of the meeting room.
          example: Large conference space with natural lighting
          maxLength: 2500
        dimensions:
          type: object
          description: Physical dimensions for the meeting room.
          properties:
            totalSpace:
              $ref: '#/components/schemas/AreaMeasurement'
            ceilingHeight:
              $ref: '#/components/schemas/Dimension'
            length:
              $ref: '#/components/schemas/Dimension'
            width:
              $ref: '#/components/schemas/Dimension'
        displayOrder:
          type: integer
          description: The position of this meeting room in the venue's room listing.
          example: 1
          minimum: 1
        externalSourceId:
          type:
          - string
          - 'null'
          description: The provider's own identifier for this meeting room.
          example: EXT-RM-12345
          maxLength: 100
        rates:
          type:
          - object
          - 'null'
          description: Rate information for move in/out and events.
          properties:
            moveIn:
              $ref: '#/components/schemas/MeetingRoomRate'
            moveOut:
              $ref: '#/components/schemas/MeetingRoomRate'
            event:
              $ref: '#/components/schemas/MeetingRoomRate'
        capacities:
          type:
          - object
          - 'null'
          description: Capacity information for the meeting room, grouped by category.
          properties:
            exhibits:
              type:
              - array
              - 'null'
              description: Maximum number of exhibits per room setup.
              maxItems: 6
              items:
                $ref: '#/components/schemas/MeetingRoomExhibitCapacity'
            seating:
              type:
              - array
              - 'null'
              description: Maximum number of attendees per seating style.
              maxItems: 14
              items:
                $ref: '#/components/schemas/MeetingRoomSeatingCapacity'
        amenities:
          type:
          - array
          - 'null'
          description: List of amenities available in the meeting room.
          maxItems: 50
          items:
            $ref: '#/components/schemas/MeetingRoomAmenity'
        hiddenOnProfile:
          type: boolean
          description: True indicates the meeting room is hidden on the venue profile.
          example: false
    MeetingRoomSeatingCapacity:
      title: Meeting Room Seating Capacity
      description: Maximum number of attendees for a specific seating style in a meeting room.
      type: object
      properties:
        layoutType:
          $ref: '#/components/schemas/SeatingLayoutType'
        maxAttendees:
          type: integer
          description: Maximum number of attendees for this seating style.
          minimum: 0
          maximum: 9999999
          example: 250
      required:
      - layoutType
      - maxAttendees
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    MeetingRoomCapacities:
      title: Meeting Room Capacities
      description: Capacity information for a meeting room, grouped by category.
      type: object
      properties:
        exhibits:
          type: array
          description: Maximum number of exhibits per room setup.
          maxItems: 6
          items:
            $ref: '#/components/schemas/MeetingRoomExhibitCapacity'
        seating:
          type: array
          description: Maximum number of attendees per seating style.
          maxItems: 14
          items:
            $ref: '#/components/schemas/MeetingRoomSeatingCapacity'
    ExhibitLayoutType:
      title: Exhibit Layout Type
      description: The exhibit setup type for a meeting room. Values represent standard exhibit booth and display configurations.
      type: string
      enum:
      - BOOTH_10x10
      - BOOTH_8x10
      - ISLAND_EXHIBIT
      - PENINSULA_EXHIBIT
      - PERIMETER_EXHIBIT
      - TABLETOP_EXHIBIT
      example: BOOTH_10x10
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  parameters:
    imageId1:
      description: Unique identifier of a venue image.
      name: imageId
      required: true
      in: path
      schema:
        type: string
        format: uuid
    meetingRoomId:
      description: Unique identifier for a meeting room.
      name: meetingRoomId
      required: true
      in: path
      schema:
        type: string
        format: uuid
    venueId:
      description: Unique Cvent based identifier for a Venue.
      name: venueId
      required: true
      in: path
      schema:
        $ref: '#/components/schemas/VenueID'
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
