openapi: 3.0.2
info:
  title: Cvent Registration Events API
  version: ea
  description: 'Registration-surface slice of the official Cvent REST APIs OpenAPI, filtered to the ''Events'' tag(s).

    Derived verbatim (operations, schemas, parameters and responses copied unchanged) from Cvent''s own published contract
    at https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml — the spec Cvent generates its official
    TypeScript, Java and C# SDKs from.

    Full platform description, authentication, pagination, filtering, rate-limit and versioning narrative lives in openapi/_original/cvent-rest-apis-openapi.yaml.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Events
  description: Events are used to collect registrations and allow attendees to select their schedule. Use these APIs to get
    information about your events and use the event ID to get further details about the event, such as Attendees and Sessions.
paths:
  /admission-items:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/admission-items:read
      - OAuth2.authorizationCode:
        - event/admission-items:read
      summary: List Admission Items
      description: Gets a paginated list of admission items.
      operationId: listAdmissionItems
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\nThese are the comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n  * starts with: sw\n  * contains a value: contains\n\
          \nThe following fields are filterable:\n  * id (eq|ne)\n  * event.id (eq|ne)\n  * name (eq|ne)\n  * code (eq|ne)\n\
          \  * allowOptionalSessions (eq|ne)\n\nThe following operators are available:\n  * and\n  * or"
        schema:
          type: string
          example: event.id eq 'abc' or name eq 'admission' or id eq 'abc'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of admission items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/admission-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /admission-items/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/admission-items:read
      - OAuth2.authorizationCode:
        - event/admission-items:read
      summary: List Admission Items
      description: 'Gets a paginated list of admission items by sending a filter in the body of the request. This method will
        return the same data as [GET List Admission Items](#operation/listAdmissionItems) but allows for longer filters.

        '
      operationId: listAdmissionItemsPostFilters
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      requestBody:
        description: 'The request body accepts filters to refine the data returned.  Refer to available filter details in  [GET
          List Admission](#operation/listAdmissionItems).

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: event.id eq 'abc' or name eq 'admission' or id eq 'abc'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of admission items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/admission-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /event-questions:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/events:read
      - OAuth2.authorizationCode:
        - event/events:read
      summary: List Event Questions
      description: Gets a paginated list of event questions.
      operationId: getEventQuestions
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThese are the comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n\nThe following fields are filterable:\n  * event.id\
          \ (eq|ne)\n  * id (eq|ne)\n  * code (eq|ne)\n  * tag (eq|ne)\n  * created (eq|ne|lt|le|gt|ge)\n  * lastModified\
          \ (eq|ne|lt|le|gt|ge)\n"
        schema:
          type: string
          example: code eq 'Code162' or tag  eq 'Primary Questions'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of event questions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-questions-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /event-questions/{questionId}/choices:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/events:read
      - OAuth2.authorizationCode:
        - event/events:read
      summary: Get Question Choices
      description: Gets all the choices for a given event question.
      operationId: getChoicesForQuestion
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: questionId
        in: path
        required: true
        description: Question Id
        schema:
          $ref: '#/components/schemas/uuid-property'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThis comparison type will\
          \ be used in filter expression:\n  * equal: eq\n\nThe following fields are filterable:\n  * text (eq)\n\nThe following\
          \ operators are available:\n  * or\n"
        schema:
          type: string
          example: text eq 'Choice A'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of event question choices.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-question-choices-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/events:read
      - OAuth2.authorizationCode:
        - event/events:read
      summary: List Events
      description: 'Gets a paginated list of events.

        '
      operationId: getEvents
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/eventSort'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\nThese are the comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n  * contains a value: contains\n\nThe following fields\
          \ are filterable:\n  * id (eq|ne)\n  * start (eq|ne|lt|le|gt|ge)\n  * end (eq|ne|lt|le|gt|ge)\n  * status (eq|ne)\n\
          \  * eventStatus (eq|ne) **Note:** Events with a status of `Deleted` are available\n    for approximately 24 hours\
          \ after deletion. After this, they are\n    removed and no longer appear in search results.\n  * format (eq|ne)\n\
          \  * title (eq|ne|contains) **Note:** Contains filters must be between 3 and 15 characters.\n  * code (eq|ne)\n\
          \  * description (eq|ne)\n  * launchAfter (eq|ne|lt|le|gt|ge)\n  * created (eq|ne|lt|le|gt|ge)\n  * lastModified\
          \ (eq|ne|lt|le|gt|ge)\n  * closeAfter (eq|ne|lt|le|gt|ge)\n  * archiveAfter (eq|ne|lt|le|gt|ge)\n  * capacity (eq|ne|lt|le|gt|ge)\n\
          \  * stakeholder.firstName (eq|ne)\n  * stakeholder.lastName (eq|ne)\n  * stakeholder.email (eq|ne)\n  * stakeholder.company\
          \ (eq|ne)\n  * stakeholder.title (eq|ne)\n  * stakeholder.workPhone (eq|ne)\n  * note (eq|ne)\n  * virtual (eq|ne)\n\
          \  * planner.firstName (eq|ne)\n  * planner.lastName (eq|ne)\n  * planner.email (eq|ne)\n  * venue.address.city\
          \ (eq|ne)\n  * venue.address.region (eq|ne)\n  * venue.address.regionCode (eq|ne)\n  * venue.address.country (eq|ne)\n\
          \  * venue.address.countryCode (eq|ne)\n  * customField.{uuid of custom field} (eq|ne|lt|le|gt|ge|sw|contains)\n"
        schema:
          type: string
          example: status eq 'Accepted' or status eq 'Pending' and (id eq 'abc' or id eq 'def')
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of events.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/async:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      summary: Create Event Async
      description: 'Creates an event using the details supplied in the request body. Check the

        [Get Event Async Status](#operation/getEventAsyncStatus) to determine when the

        event is ready.

        '
      operationId: createEventAsync
      tags:
      - Events
      requestBody:
        description: The event to be created.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event1'
      responses:
        '202':
          description: 'Successfully started the process to create the event. Use [Get Event Async Status](#operation/getEventAsyncStatus)

            to determine when the event is ready to be used.

            '
          headers:
            Location:
              example: /events/async/9463c74e-18c6-401a-a710-ae0f485bf059/status
              description: URL to check the status of the event being created.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-async-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/async/{eventCreationId}/status:
    get:
      summary: Get Event Async Status
      description: Gets the event creation status of the given event.
      operationId: getEventAsyncStatus
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved the event status.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-async-status'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/eventCreationId'
  /events/copy/{eventCopyId}/status:
    get:
      summary: Get Event Copy Status
      description: Gets the event copy status of the given event.
      operationId: getEventCopyStatus
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved the event copy status.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-async-status'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/eventCopyId'
  /events/emails:
    post:
      summary: Send Email To Attendees
      operationId: sendEventEmails
      description: Sends an email to one or more event attendees who are on the invitation list.
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/event-emails:write
      - OAuth2.authorizationCode:
        - event/event-emails:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/send-email-event-request'
      responses:
        '202':
          description: Successfully sent the request(s) for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-email-event-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/emails/{emailRequestId}/status:
    get:
      summary: List Event Email Status
      operationId: getEventEmailStatus
      description: Gets the status of email using unique email request ID that was generated as a response of [Send Email
        To Attendees](#tag/Events/operation/sendEventEmails) request.
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/event-email-status:read
      - OAuth2.authorizationCode:
        - event/event-email-status:read
      parameters:
      - $ref: '#/components/parameters/emailRequestId'
      responses:
        '200':
          description: Successfully retrieved a list of event email send statuses associated with particular email request
            ID.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send-email-event-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/events:read
      - OAuth2.authorizationCode:
        - event/events:read
      summary: List Events
      description: 'Gets a paginated list of events by sending a filter in the body of the request. This method will return
        the same data as [GET List Events](#operation/getEvents) but allows for longer filters.

        '
      operationId: getEventsPostFilters
      requestBody:
        description: 'See the filters of [GET List Events](#operation/getEvents) for full filtering information you can pass
          in the request body.

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: status eq 'Accepted' or status eq 'Pending' and (id eq 'abc' or id eq 'def')
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/eventSort'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of events.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}:
    get:
      summary: Get Event
      description: Gets a single event based on the provided event ID.
      operationId: getEventById
      security:
      - OAuth2.clientCredentials:
        - event/events:read
      - OAuth2.authorizationCode:
        - event/events:read
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved the event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      summary: Update Event
      description: Updates the information for a single event based on the details provided in the request body.
      operationId: updateEvent
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      tags:
      - Events
      requestBody:
        description: Event update details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event-update'
      responses:
        '200':
          description: Successfully updated an event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-update'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/check-in:
    post:
      tags:
      - Events
      operationId: eventCheckIn
      security:
      - OAuth2.clientCredentials:
        - event/attendees:write
      - OAuth2.authorizationCode:
        - event/attendees:write
      summary: Event Check-In
      description: Check-in attendees to an event based on the attendee IDs provided in the body of the request.
      requestBody:
        description: Attendees to be checked-in. Up to **100 attendees** can be checked-in per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-checkin'
        required: true
      responses:
        '207':
          description: Attendee(s) successfully checked-in.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-add-bulk-response-event'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/check-in/{attendeeId}:
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/attendees:write
      - OAuth2.authorizationCode:
        - event/attendees:write
      summary: Remove Check-In
      description: Deletes the event check-in of attendee.
      operationId: deleteEventCheckIn
      tags:
      - Events
      responses:
        '204':
          description: Successfully removed event check-in for the attendee.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
    - $ref: '#/components/parameters/attendeeId4'
  /events/{id}/copy:
    post:
      summary: Copy Event
      description: 'Copies the event details provided in the request body. Supports either creating a new event using the

        copied data, or inserting the copied data to an existing event.

        '
      operationId: copyEvent
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      tags:
      - Events
      requestBody:
        description: Event copy details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event-copy'
      responses:
        '202':
          description: 'Successfully started the process to copy the event provided. Check the

            <a href="#operation/getEventCopyStatus">Get Event Copy Status</a> to determine

            when it is ready to be used.

            '
          headers:
            Location:
              example: /events/copy/9463c74e-18c6-401a-a710-ae0f485bf059/status
              description: URL to check the status of the event being copied.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-async-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/custom-fields/{customFieldId}/answers:
    put:
      tags:
      - Events
      operationId: answerEventCustomField
      security:
      - OAuth2.clientCredentials:
        - event/events:write
      - OAuth2.authorizationCode:
        - event/events:write
      summary: Event Custom Field Answers
      description: 'Answer a single custom field for an event. Event custom fields are used to store extra 

        information about an event, such as the event type or event region.

        '
      requestBody:
        description: Custom field answer you're updating.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field1'
        required: true
      responses:
        '200':
          description: Successfully updated custom field answer in the event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field1'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
    - $ref: '#/components/parameters/customFieldId3'
  /events/{id}/donation-items:
    get:
      summary: List Donation Items
      operationId: listDonationItems
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/donation-items:read
      - OAuth2.authorizationCode:
        - event/donation-items:read
      description: 'Gets a paginated list of donation items. Donation items are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items).

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field             | Operators |

          |-------------------|-----------|

          | id                | `in`      |

          | registrationTypes | `in`      |


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16') and registrationTypes
            in ('1b01ae34-6970-41f2-a4e8-b4f39185dc28')
      responses:
        '200':
          description: Successfully retrieved a paginated list of donation items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/donation-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /events/{id}/donation-items/filter:
    post:
      summary: List Donation Items
      operationId: listDonationItemsPostFilter
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/donation-items:read
      - OAuth2.authorizationCode:
        - event/donation-items:read
      description: 'Gets a paginated list of donation items by sending a filter in the body of the request. Donation items
        are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items).

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      requestBody:
        description: 'See the parameter description of filter in <a href="#operation/listDonationItems">GET List Donation
          Items</a> for full filtering information.

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16')
      responses:
        '200':
          description: Successfully retrieved a paginated list of donation items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/donation-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /events/{id}/emails:
    get:
      summary: List Event Emails
      operationId: listEventEmails
      description: Gets a paginated list of emails for a given event.
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/event-emails:read
      - OAuth2.authorizationCode:
        - event/event-emails:read
      parameters:
      - $ref: '#/components/parameters/id9'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThere are six comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n  * contains a value: contains\n\nThe following fields\
          \ are filterable for event emails:\n  * id (eq|ne)\n  * name (eq|ne|contains)\n  * active (eq|ne)\n  * created (eq|ne|lt|le|gt|ge)\n\
          \  * createdBy (eq|ne)\n  * lastModified (eq|ne|lt|le|gt|ge)\n  * lastModifiedBy (eq|ne)\n  * invitationList.id\
          \ (eq|ne)\n"
        schema:
          type: string
          example: id eq 'a150f1ee-6c54-4b01-90e6-d701748f0851'
      responses:
        '200':
          description: Successfully retrieved a paginated list of emails for a given event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-emails-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/fee-items:
    get:
      summary: List Fee Items
      operationId: listFeeItems
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/fee-items:read
      - OAuth2.authorizationCode:
        - event/fee-items:read
      description: 'Gets a paginated list of fee items associated with the event.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field                 | Operators                          |

          |-----------------------|------------------------------------|

          | id                    | `eq`, `ne`                         |

          | product.id            | `eq`, `ne`                         |

          | generalLedgerCodes.id | `eq`, `ne`                         |

          | product.type          | `eq`, `ne`                         |

          | created               | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified          | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
          example: id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3' or product.id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d6'
      responses:
        '200':
          description: Successfully retrieved a paginated list of fee items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fee-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /events/{id}/invitation-lists:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/invitation-lists:read
      - OAuth2.authorizationCode:
        - event/invitation-lists:read
      summary: List Invitation Lists
      description: Gets a paginated list of invitation lists for a given event.
      operationId: getInvitationList
      parameters:
      - $ref: '#/components/parameters/id9'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThere are six comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n  * contains a value: contains\n\nThe following fields\
          \ are filterable for invitation list:\n  * id (eq|ne)\n  * name (eq|ne|contains)\n  * locale (eq|ne)\n  * createdBy\
          \ (eq|ne)\n  * created (eq|ne|lt|le|gt|ge)\n  * lastModifiedBy (eq|ne)\n  * lastModified (eq|ne|lt|le|gt|ge)\n \
          \ * default (eq|ne)\n"
        schema:
          type: string
          example: id eq 'a150f1ee-6c54-4b01-90e6-d701748f0851'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of invitation lists.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invitation-list-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/membership-items:
    get:
      summary: List Membership Items
      operationId: listMembershipItems
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/membership-items:read
      - OAuth2.authorizationCode:
        - event/membership-items:read
      description: 'Gets a paginated list of membership items. [Membership items](https://support.cvent.com/s/communityarticle/Setting-Up-Memberships)
        are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items) that can be
        purchased during registration.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field             | Operators |

          |-------------------|-----------|

          | id                | `in`      |

          | registrationTypes | `in`      |


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16') and registrationTypes
            in ('1b01ae34-6970-41f2-a4e8-b4f39185dc28')
      responses:
        '200':
          description: Successfully retrieved a paginated list of membership items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membership-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/membership-items/filter:
    post:
      summary: List Membership Items
      operationId: listMembershipItemsPostFilter
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/membership-items:read
      - OAuth2.authorizationCode:
        - event/membership-items:read
      description: 'Gets a paginated list of membership items. [Membership items](https://support.cvent.com/s/communityarticle/Setting-Up-Memberships)
        are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items) that can be
        purchased during registration.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      requestBody:
        description: 'See the parameter description of filter in <a href="#operation/listMembershipItems">GET List Membership
          Items</a> for full filtering information.

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16')
      responses:
        '200':
          description: Successfully retrieved a paginated list of membership items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/membership-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/orders:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: List Orders
      description: Gets a paginated list of Orders in event
      operationId: getOrders
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | event.id     | `eq`, `ne`                         |

          | type         | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: attendee.id eq '78b3d72a-1851-46f4-a837-5f8613f4db83' AND (type eq 'Online Charge' OR type eq 'Online Refund')
      - $ref: '#/components/parameters/deleted'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Orders in event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-details-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/orders/items:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: List Order Items
      description: Gets a paginated list of Order items in event
      operationId: getOrderItems
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | event.id     | `eq`, `ne`                         |

          | order.id     | `eq`, `ne`                         |

          | product.id   | `eq`, `ne`                         |

          | product.type | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: attendee.id eq '78b3d72a-1851-46f4-a837-5f8613f4db83' AND (product.id eq '65322e75-076f-4070-a6e6-3315c581728d'
          OR product.id eq 'e1874067-a5ed-4111-ac8a-63de9aa18929')
      - $ref: '#/components/parameters/deleted'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Order items in event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/orders/{orderId}/items/{orderItemId}/discounts/{discountCode}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/discounts:write
      - OAuth2.authorizationCode:
        - event/discounts:write
      summary: Assign Discount to Order Item
      description: Assigns a discount code to an order item based on the given IDs.
      operationId: associateDiscountCodeToOrderItem
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/orderId'
      - $ref: '#/components/parameters/orderItemId'
      - $ref: '#/components/parameters/discountCode'
      requestBody:
        description: Details in body required to associate discount code to order item.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/order-item-associate-discount'
      tags:
      - Events
      responses:
        '200':
          description: Successfully assigned discount code to an order item.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-item-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/planning-documents:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/planning-documents:read
      - OAuth2.authorizationCode:
        - event/planning-documents:read
      summary: List Event Planning Documents
      description: 'Gets a paginated list of event planning documents.

        '
      operationId: getEventPlanningDocuments
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\nThese are the comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater than: gt\n  * greater\
          \ or equal: ge\n  * less than: lt\n  * less than or equal: le\n\nThe following fields are filterable:\n  * id (eq|ne)\n\
          \  * name (eq)\n  * category (eq)\n  * lastModified (eq|ne|lt|le|gt|ge)\n  * uploaded (eq|ne|lt|le|gt|ge)\n  * mimeType\
          \ (eq|ne)\n"
        schema:
          type: string
          example: mimeType eq 'application/pdf' and name eq 'abc' and uploaded ge '2024-06-15T13:45:30Z'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of event planning documents.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planning-documents-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/quantity-items:
    get:
      summary: List Quantity Items
      operationId: listQuantityItems
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/quantity-items:read
      - OAuth2.authorizationCode:
        - event/quantity-items:read
      description: 'Gets a paginated list of quantity items. Quantity items are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items).

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field             | Operators |

          |-------------------|-----------|

          | id                | `in`      |

          | registrationTypes | `in`      |


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16') and registrationTypes
            in ('1b01ae34-6970-41f2-a4e8-b4f39185dc28')
      responses:
        '200':
          description: Successfully retrieved a paginated list of quantity items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quantity-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /events/{id}/quantity-items/filter:
    post:
      summary: List Quantity Items
      operationId: listQuantityItemsPostFilter
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/quantity-items:read
      - OAuth2.authorizationCode:
        - event/quantity-items:read
      description: 'Gets a paginated list of quantity items by sending a filter in the body of the request. Quantity items
        are a type of [optional item](https://support.cvent.com/s/communityarticle/Understanding-Agenda-Items).

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      requestBody:
        description: 'See the parameter description of filter in <a href="#operation/listQuantityItems">GET List Quantity
          Items</a> for full filtering information.

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id in ('1b01ae34-6970-41f2-a4e8-b4f39185dc15', '1b01ae34-6970-41f2-a4e8-b4f39185dc16')
      responses:
        '200':
          description: Successfully retrieved a paginated list of quantity items.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quantity-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /events/{id}/registration-paths:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/registration-paths:read
      - OAuth2.authorizationCode:
        - event/registration-paths:read
      summary: List Registration Paths
      description: Gets a paginated list of registration paths.
      operationId: listRegistrationPaths
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/locale1'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of registration paths.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-path-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/registration-types:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/registration-types:read
      - OAuth2.authorizationCode:
        - event/registration-types:read
      summary: List Registration Types
      description: Gets a paginated list of registration types.
      operationId: listRegistrationTypes
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of registration types.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-type-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/registration-types/{registrationTypeId}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/registration-types:write
      - OAuth2.authorizationCode:
        - event/registration-types:write
      summary: Update Event Registration Type
      description: Updates an attendee's registration type in an event.
      operationId: updateRegistrationType
      tags:
      - Events
      requestBody:
        description: Registration type details to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration-type-update'
        required: true
      responses:
        '200':
          description: Successfully updated the registration type.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-type-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
    - $ref: '#/components/parameters/registrationTypeId'
  /events/{id}/taxes:
    get:
      summary: List Taxes
      operationId: listTaxes
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/taxes:read
      - OAuth2.authorizationCode:
        - event/taxes:read
      description: 'Gets a paginated list of taxes for an event. A tax is an event-level pricing configuration applied to
        products such as admission items, sessions, and other billable items.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `in`                         |

          | active       | `eq`                               |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3'
      responses:
        '200':
          description: Successfully retrieved a paginated list of taxes.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/taxes-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/transactions:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: List Transactions
      description: Gets a paginated list of Transactions in event
      operationId: getTransactions
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field                  | Operators                          |

          |------------------------|------------------------------------|

          | id                     | `eq`, `ne`                         |

          | processorTransactionId | `eq`, `ne`                         |

          | attendee.id            | `eq`, `ne`                         |

          | event.id               | `eq`, `ne`                         |

          | success                | `eq`, `ne`                         |

          | paymentType            | `eq`, `ne`                         |

          | created                | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified           | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: attendee.id eq 'f4af0b94-4427-46f8-bea0-b06af2a0af80' AND (paymentType eq 'Online Charge' OR paymentType
          eq 'Online Refund')
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Transactions in event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-details-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:write
      - OAuth2.authorizationCode:
        - event/transactions:write
      summary: Create Transactions
      description: Create offline transactions for an order in your event. Offline transactions can be any digital or physical
        transactions performed outside Cvent. Valid transaction types for this method include Offline Charge and Offline Refund.
      operationId: postTransactions
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/partialPayment'
      tags:
      - Events
      requestBody:
        $ref: '#/components/requestBodies/CreateTransactionRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/transactions/items:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: List Transaction Items
      description: Gets a paginated list of Transaction items in event
      operationId: getTransactionItems
      parameters:
      - $ref: '#/components/parameters/id1'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field                              | Operators                          |

          |------------------------------------|------------------------------------|

          | id                                 | `eq`, `ne`                         |

          | attendee.id                        | `eq`, `ne`                         |

          | event.id                           | `eq`, `ne`                         |

          | transaction.id                     | `eq`, `ne`                         |

          | transaction.processorTransactionId | `eq`, `ne`                         |

          | uniqueId                           | `eq`, `ne`                         |

          | created                            | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified                       | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: attendee.id eq '78b3d72a-1851-46f4-a837-5f8613f4db83' AND (transaction.id eq '82da8c60-24f4-47d0-b6e2-429b18a4bb7c'
          OR transaction.id eq '034bb884-05de-4818-b9f9-5144495d5495')
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Transaction items in event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/user-groups:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/event-user-groups:read
      - OAuth2.authorizationCode:
        - event/event-user-groups:read
      summary: List Event User Groups
      description: Gets a paginated list of user groups associated with an event.
      operationId: listEventUserGroups
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of user groups.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user-groups-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
  /events/{id}/user-groups/{userGroupId}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/event-user-groups:write
      - OAuth2.authorizationCode:
        - event/event-user-groups:write
      summary: Associate User Group to Event
      description: Associates (adds) a user group to an event.
      operationId: associateEventUserGroup
      tags:
      - Events
      responses:
        '204':
          description: Successfully associated the user group with the event.
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/event-user-groups:write
      - OAuth2.authorizationCode:
        - event/event-user-groups:write
      summary: Disassociate Group from Event
      description: Disassociates (removes) a single user group from an event.
      operationId: disassociateEventUserGroup
      tags:
      - Events
      responses:
        '204':
          description: Successfully disassociated the user group from the event.
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/id4'
    - $ref: '#/components/parameters/userGroupId1'
  /events/{id}/vouchers:
    get:
      summary: List Event Vouchers
      operationId: listEventVouchers
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/vouchers:read
      - OAuth2.authorizationCode:
        - event/vouchers:read
      description: 'Retrieves a paginated list of vouchers set up for a specific event.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/voucherSort'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field | Operators |

          |-------|-----------|

          | id    | `in`      |


          No logical operators are available.

          '
        schema:
          type: string
          example: id in ('1800c9bd-b5f4-438a-a92c-ea1f59553a5c', '2900d8ce-c6f5-449b-b03d-fb2f60664b6d')
      responses:
        '200':
          description: Successfully retrieved a paginated list of vouchers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vouchers-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/vouchers/filter:
    post:
      summary: List Event Vouchers (Filter)
      operationId: listEventVouchersPostFilter
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/vouchers:read
      - OAuth2.authorizationCode:
        - event/vouchers:read
      description: 'Retrieves a paginated list of vouchers configured for an event using a filter provided in the body of
        the request.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/voucherSort'
      requestBody:
        description: 'See the `filter` parameter in [List Event Vouchers](#operation/listEventVouchers) for full filtering
          information.

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id in ('1800c9bd-b5f4-438a-a92c-ea1f59553a5c', '2900d8ce-c6f5-449b-b03d-fb2f60664b6d')
      responses:
        '200':
          description: Successfully retrieved a paginated list of vouchers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vouchers-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /events/{id}/vouchers/{voucherId}/attendees:
    get:
      summary: List Voucher Attendees
      operationId: listEventVoucherAttendees
      tags:
      - Events
      security:
      - OAuth2.clientCredentials:
        - event/vouchers:read
      - OAuth2.authorizationCode:
        - event/vouchers:read
      description: 'Retrieves a paginated list of attendees who have redeemed a specific voucher for the given event.

        '
      parameters:
      - $ref: '#/components/parameters/eventId2'
      - $ref: '#/components/parameters/voucherId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved a paginated list of attendees for the voucher.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendees-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /quantity-items/{quantityItemId}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/quantity-items:write
      - OAuth2.authorizationCode:
        - event/quantity-items:write
      summary: Update Quantity Item
      description: Update a specific [quantity item](https://support.cvent.com/s/communityarticle/Creating-Quantity-Items)
        for an attendee's registration based on the details supplied in the body of the request.
      operationId: updateQuantityItemRegistrationForAttendee
      parameters:
      - $ref: '#/components/parameters/quantityItemId'
      requestBody:
        description: Details in body required to update quantity item for an attendee.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/quantity-item-update'
      tags:
      - Events
      responses:
        '200':
          description: Successfully updated quantity item for the attendee.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/quantity-item-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /sessions/attendance:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/session-attendance:read
      - OAuth2.authorizationCode:
        - event/session-attendance:read
      summary: Session Attendance
      description: Get a paginated list of session attendance.
      operationId: listSessionsAttendance
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'A filter query string narrows search results and supports the combination of logical and comparison
          operators. The filter adheres to the pattern filter=''field'' comparisonType ''value''.


          There are eight comparison types that can be used in filter expressions:

          * equal: eq

          * not equal: ne

          * greater than: gt

          * greater or equal: ge

          * less than: lt

          * less than or equal: le

          * starts with: sw

          * contains a value: contains


          The following fields are filterable:

          * id (eq|ne)

          * event.id (eq|ne)

          * attendee.id (eq|ne)

          * session.id (eq|ne)

          * deleted (eq|ne)

          * created (eq|ne|lt|le|gt|ge)

          * lastModified (eq|ne|lt|le|gt|ge)'
        schema:
          type: string
          example: id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c::2ffa56d9-9f60-4b8c-8b3b-3451de21293c'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of sessions attendance.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessions-checkin-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /sessions/enrollment:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/session-enrollment:read
      - OAuth2.authorizationCode:
        - event/session-enrollment:read
      summary: List Session Registrants
      description: 'Gets registrant data for sessions. The returned data depends on the individual session type.

        - **Optional Sessions:** Provides a paginated list of attendees registered for the session.

        - **Included Session:** Provides a paginated list of attendees who have participated or marked as no-shows. It does
        not list all registered attendees.

        '
      operationId: listSessionsEnrollment
      parameters:
      - $ref: '#/components/parameters/after_inclusive'
      - $ref: '#/components/parameters/before_inclusive'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter string passed in the body of the request, narrows search results and supports the combination\
          \ of logical and comparison operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\
          These are the comparison types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater\
          \ than: gt\n  * greater or equal: ge\n  * less than: lt\n  * less than or equal: le\n\nThe following fields are\
          \ filterable:\n  * id (eq|ne)\n  * event.id (eq|ne)\n  * attendee.id (eq|ne)\n  * session.id (eq|ne)\n  * status\
          \ (eq|ne)\n  * deleted (eq|ne)\n  * created (eq|ne|lt|le|gt|ge)\n  * lastModified (eq|ne|lt|le|gt|ge)\n"
        schema:
          type: string
          example: id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c::2ffa56d9-9f60-4b8c-8b3b-3451de21293c'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of sessions registrants.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessions-enrollment-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /sessions/enrollment/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/session-enrollment:read
      - OAuth2.authorizationCode:
        - event/session-enrollment:read
      summary: List Session Registrants
      description: "Gets registrant data for sessions. The returned data depends on the individual session type.   - **Optional\
        \ Sessions:** Provides a paginated list of attendees registered for the session.   - **Included Session:** Provides\
        \ a paginated list of attendees who have participated or been\n  marked as no-shows. It does not list all registered\
        \ attendees.\n\nThis method will return the same data as [GET List Session Registrants](#operation/listSessionsEnrollment)\
        \  but allows for longer filters.\n"
      operationId: listSessionsEnrollmentPostFilter
      requestBody:
        description: 'The request body accepts filters to refine the data returned.  Refer to available filter details in
          [GET List Session Registrants](#operation/listSessionsEnrollment).

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c::2ffa56d9-9f60-4b8c-8b3b-3451de21293c'
      parameters:
      - $ref: '#/components/parameters/after_inclusive'
      - $ref: '#/components/parameters/before_inclusive'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      tags:
      - Events
      responses:
        '200':
          description: Successfully retrieved a paginated list of sessions registrant.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessions-enrollment-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /sessions/{id}/attendance/{attendeeId}:
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/session-attendance:write
      - OAuth2.authorizationCode:
        - event/session-attendance:write
      summary: Del Session Check-in
      description: Deletes the attendance of an attendee in a session.
      operationId: deleteSessionAttendance
      tags:
      - Events
      responses:
        '204':
          description: Successfully removed session attendance for an attendee.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/sessionId4'
    - $ref: '#/components/parameters/attendeeId4'
  /sessions/{id}/check-in:
    post:
      tags:
      - Events
      operationId: sessionCheckIn
      security:
      - OAuth2.clientCredentials:
        - event/session-attendance:write
      - OAuth2.authorizationCode:
        - event/session-attendance:write
      summary: Session Check-In
      description: Check-in attendees to a session based on the attendee IDs provided in the body of the request.
      requestBody:
        description: Attendees to be checked-in. Up to **100 attendees** can be checked-in per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-bulk-checkin'
        required: true
      responses:
        '207':
          description: Attendee(s) successfully checked-in to the session.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-add-bulk-response1'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      tags:
      - Events
      operationId: updateSessionCheckIn
      security:
      - OAuth2.clientCredentials:
        - event/session-attendance:write
      - OAuth2.authorizationCode:
        - event/session-attendance:write
      summary: Update Session Check-In
      description: Update check-in details of attendees in a session based on the attendee IDs provided in the body of the
        request.
      requestBody:
        description: Attendee check-in to be updated. Up to **100 attendees** can be updated per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/session-checkin-bulk-update'
        required: true
      responses:
        '207':
          description: Successfully updated check-in details of attendees in a session.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-add-bulk-response1'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/sessionId4'
  /sessions/{id}/enrollment/{attendeeId}:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/session-enrollment:write
      - OAuth2.authorizationCode:
        - event/session-enrollment:write
      summary: Create Session Registration
      description: 'Register an attendee in the given session. Requires the modify registration widget to be

        present on the event''s registration path. See the following

        [article](https://support.cvent.com/s/communityarticle/Modifying-Registrations#modifyown) for

        more information.

        '
      operationId: createSessionEnrollment
      tags:
      - Events
      responses:
        '204':
          description: Successfully registered the attendee in the given session.
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/session-enrollment:delete
      - OAuth2.authorizationCode:
        - event/session-enrollment:delete
      summary: Delete Session Registration
      description: 'Unregister an attendee from a session. Requires the modify registration widget

        to be present on the event''s registration path. See the following

        [article](https://support.cvent.com/s/communityarticle/Modifying-Registrations#modifyown)

        for more information.

        '
      operationId: deleteSessionEnrollment
      tags:
      - Events
      responses:
        '204':
          description: Successfully unregistered the attendee from the session.
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/sessionId4'
    - $ref: '#/components/parameters/attendeeId4'
components:
  parameters:
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of
        time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    after_inclusive:
      name: after
      required: false
      description: Used to query records that have been added or updated on or after this time point. Defaults to the beginning
        of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    attendeeId4:
      name: attendeeId
      in: path
      description: Unique ID of an attendee.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    before_inclusive:
      name: before
      required: false
      description: Used to query records that have been added or updated on or before this time point. The date and time should
        be in ISO 8601 format.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    customFieldId3:
      in: path
      name: customFieldId
      description: Unique ID of the custom field.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    deleted:
      name: deleted
      in: query
      required: false
      description: When `true`, includes soft-deleted records in the response. Defaults to `false`.
      schema:
        type: boolean
        default: false
    discountCode:
      in: path
      name: discountCode
      description: Unique Code for a Discount.
      required: true
      schema:
        type: string
        maxLength: 30
        example: HALF_OFF
    emailRequestId:
      in: path
      name: emailRequestId
      description: Used to get status of emails which were sent with this email request ID.
      required: true
      schema:
        type: string
        format: uuid,
        example: 2A941E55-3367-4C50-B21B-B6A7613DFB23
    eventCopyId:
      in: path
      name: eventCopyId
      description: Process ID for the async process for copying events.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    eventCreationId:
      in: path
      name: eventCreationId
      description: Process ID for the async process for creating events.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    eventId2:
      in: path
      name: id
      description: Unique ID of an event.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    eventSort:
      name: sort
      required: false
      in: query
      style: form
      explode: false
      description: "The sort order passed as a parameter, used to control the order of the\nsearch results as a priority ordered\
        \ list of sorts\n\nThere are two orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n\
        \  * start\n"
      schema:
        type: string
        example: start:DESC
    id1:
      in: path
      name: id
      description: Unique ID of an Event.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    id4:
      in: path
      name: id
      description: Unique ID of an event.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    id9:
[...]
