openapi: 3.2.0
info:
  title: Cvent Registration Contacts API
  version: '1.0'
  description: 'Operations tagged Contacts across 2 of this provider''s published API definitions: cvent-registration-openapi.yml, cvent-rest-apis-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-platform.cvent.com
  description: Cvent Platform REST API (US/global)
- url: https://api-platform-eur.cvent.com
  description: Cvent Platform REST API (EMEA)
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Contacts
  description: Contact/address book
paths:
  /ea/contacts:
    get:
      tags:
      - Contacts
      summary: List contacts
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Token'
      responses:
        '200':
          description: Paginated contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
      security:
      - OAuth2ClientCredentials: []
      operationId: getEaContacts
      x-operation-id-source: derived
    post:
      tags:
      - Contacts
      summary: Create contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - OAuth2ClientCredentials: []
      operationId: postEaContacts
      x-operation-id-source: derived
    servers:
    - url: https://api-platform.cvent.com
      description: Cvent Platform REST API (US/global)
    - url: https://api-platform-eur.cvent.com
      description: Cvent Platform REST API (EMEA)
  /ea/contacts/{contactId}:
    parameters:
    - in: path
      name: contactId
      required: true
      schema:
        type: string
    get:
      tags:
      - Contacts
      summary: Get contact
      responses:
        '200':
          description: Contact detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - OAuth2ClientCredentials: []
      operationId: getEaContactsByContactId
      x-operation-id-source: derived
    put:
      tags:
      - Contacts
      summary: Update contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Updated contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
      security:
      - OAuth2ClientCredentials: []
      operationId: putEaContactsByContactId
      x-operation-id-source: derived
    delete:
      tags:
      - Contacts
      summary: Delete contact
      responses:
        '204':
          description: Deleted
      security:
      - OAuth2ClientCredentials: []
      operationId: deleteEaContactsByContactId
      x-operation-id-source: derived
    servers:
    - url: https://api-platform.cvent.com
      description: Cvent Platform REST API (US/global)
    - url: https://api-platform-eur.cvent.com
      description: Cvent Platform REST API (EMEA)
  /contact-groups:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:write
      - OAuth2.authorizationCode:
        - event/contact-groups:write
      summary: Create Contact Group
      description: Create a contact group
      operationId: createContactGroup
      tags:
      - Contacts
      requestBody:
        description: Contact Group to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-group'
      responses:
        '201':
          description: Successfully created a contact group.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-group'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:read
      - OAuth2.authorizationCode:
        - event/contact-groups:read
      summary: List Contact Groups
      description: Gets a paginated list of contact groups
      operationId: listContactGroups
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field            | Operators                          | Notes |

          |------------------|-------------------------------------|-------|

          | name             | `eq`, `ne`, `sw`, `contains`        | |

          | type             | `eq`                                | Not supported with before or after parameters |


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: name eq 'groupName' and type eq 'STANDARD'
      responses:
        '200':
          description: Successfully retrieved a paginated list of Contact Groups.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-group-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contact-groups/{id}:
    parameters:
    - $ref: '#/components/parameters/contactGroupId'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:read
      - OAuth2.authorizationCode:
        - event/contact-groups:read
      summary: Get Contact Group
      description: Get a single contact group
      operationId: getContactGroupById
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully retrieved a Contact Group object.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-group'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:write
      - OAuth2.authorizationCode:
        - event/contact-groups:write
      summary: Update Contact Group
      description: Update a contact group
      operationId: updateContactGroup
      tags:
      - Contacts
      requestBody:
        description: Contact Group to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-group'
      responses:
        '200':
          description: Successfully updated a contact group.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-group'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:write
      - OAuth2.authorizationCode:
        - event/contact-groups:write
      summary: Delete Contact Group
      description: Delete a contact group
      operationId: deleteContactGroup
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully deleted a contact group.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contact-groups/{id}/contacts:
    parameters:
    - $ref: '#/components/parameters/contactGroupId'
    get:
      summary: Get Ids in Contact Group
      description: Get all contact ids in a single contact group
      operationId: getContactIdsByContactGroup
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:read
      - OAuth2.authorizationCode:
        - event/contact-groups:read
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved Contact ids.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-id-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contact-groups/{id}/contacts/{contactId}:
    parameters:
    - $ref: '#/components/parameters/contactGroupId'
    - $ref: '#/components/parameters/contactId'
    put:
      summary: Add Contact To Group
      description: Adds a single Contact to a single Contact Group
      operationId: addContactToContactGroup
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:write
      - OAuth2.authorizationCode:
        - event/contact-groups:write
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully added Contact to Contact Group
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Remove Contact From Group
      description: Removes a single Contact from a single Contact Group
      operationId: removeContactFromContactGroup
      security:
      - OAuth2.clientCredentials:
        - event/contact-groups:write
      - OAuth2.authorizationCode:
        - event/contact-groups:write
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully removed a Contact from a Contact Group
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contact-types:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/contact-types:read
      - OAuth2.authorizationCode:
        - event/contact-types:read
      summary: List Contact Types
      description: Gets a paginated list of contact types.
      operationId: listContactTypes
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field            | Operators                          |

          |------------------|-------------------------------------|

          | name             | `eq`, `ne`, `sw`, `contains`        |


          No logical operators are supported on this endpoint, only one filter

          can be passed in each request.

          '
        schema:
          type: string
          example: name eq 'groupType'
      responses:
        '200':
          description: Successfully retrieved a paginated list of contact types.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-type-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      summary: List Contacts
      description: 'Gets a paginated list of Contacts.


        For information on reading secure contact fields, see the description of

        GET Contact.'
      operationId: listContacts
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field            | Operators                          | Notes |

          |------------------|-------------------------------------|-------|

          | id               | `eq`, `ne`                          | |

          | sourceId         | `eq`, `ne`                          | |

          | firstName        | `eq`, `ne`, `contains`, `sw`        | |

          | lastName         | `eq`, `ne`, `contains`, `sw`        | |

          | email            | `eq`, `ne`, `contains`, `sw`        | |

          | ccEmail          | `eq`, `ne`                          | |

          | company          | `eq`, `ne`                          | |

          | type.id          | `eq`, `ne`                          | |

          | nickname         | `eq`, `ne`                          | |

          | title            | `eq`, `ne`                          | |

          | workPhone        | `eq`, `ne`                          | |

          | middleName       | `eq`, `ne`                          | |

          | mobilePhone      | `eq`, `ne`                          | |

          | homeFax          | `eq`, `ne`                          | |

          | designation      | `eq`, `ne`                          | |

          | homePhone        | `eq`, `ne`                          | |

          | pager            | `eq`, `ne`                          | |

          | workFax          | `eq`, `ne`                          | |

          | lastModifiedBy   | `eq`, `ne`                          | |

          | lastModified     | `eq`, `ne`, `lt`, `le`, `gt`, `ge`  | |

          | created          | `eq`, `ne`, `lt`, `le`, `gt`, `ge`  | |

          | createdBy        | `eq`, `ne`                          | |

          | workAddress.address1 | `eq`, `ne`                      | |

          | workAddress.address2 | `eq`, `ne`                      | |

          | workAddress.address3 | `eq`, `ne`                      | |

          | workAddress.city | `eq`, `ne`                          | |

          | workAddress.country | `eq`, `ne`                       | |

          | homeAddress.address1 | `eq`, `ne`                      | |

          | homeAddress.address2 | `eq`, `ne`                      | |

          | homeAddress.address3 | `eq`, `ne`                      | |

          | homeAddress.city | `eq`, `ne`                          | |

          | homeAddress.country | `eq`, `ne`                       | |

          | deleted          | `eq`, `ne`                          | Filters for deleted contacts. To retrieve purged contacts, see the `includePurged` parameter. |

          | customField.{uuid of custom field} | `eq`, `ne`, `lt`, `le`, `gt`, `ge`, `sw`, `contains` | |

          | optOut.optedOut  | `eq`, `ne`                          | |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
          example: firstName eq 'John' or lastName eq 'Anderson'
      - $ref: '#/components/parameters/includePurged'
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Contacts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Update Contacts
      description: 'Updates a list of contacts based on the values provided in the request body. If you''re changing de-duplication fields, the new values must be unique in your account.

        For information on updating secure contact fields, see the description of PUT Contact.'
      operationId: updateContacts
      tags:
      - Contacts
      requestBody:
        description: List of contacts to be updated. Up to **10 contacts** can be updated per call.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-bulk-update'
      responses:
        '207':
          description: Successfully updated a list of Contacts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    patch:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Patch Contacts
      description: 'Updates a list of contacts based on the values provided only, keeping the existing values intact for every contact.


        For information on PATCH behavior, see the description of

        PATCH Contact.


        For information on updating secure contact fields, see the description of

        PUT Contact.'
      operationId: patchContacts
      tags:
      - Contacts
      requestBody:
        description: List of contacts to be updated. Up to **10 contacts** can be updated per call.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-bulk-patch'
      responses:
        '207':
          description: Successfully updated a list of contacts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Create Contacts
      description: 'Creates a list of contacts based on the values provided in the request body. If you''re changing de-duplication fields, the new values must be unique in your account.

        For information on creating contacts with secure contact fields, see the description of PUT Contact.'
      operationId: createContacts
      tags:
      - Contacts
      parameters:
      - name: upsert
        in: query
        required: false
        description: 'This parameter determines whether the POST operation should be treated as an upsert. Upserts update existing contacts if they already exist, and otherwise create new contacts.


          True indicates that this operation creates new contacts and updates existing contacts if they exist. False means that it only creates new contacts, and attempting to create an existing contact will result in the API returning an error.


          Existing contacts are matched to the upsert request via the account''s [match key](https://support.cvent.com/s/communityarticle/Allowing-Multiple-People-to-Use-the-Same-Email-Address). By default, the match key for contacts is their email. The match key can also be altered to match contacts based on a combination of their first name, last name, and email.

          '
        schema:
          type: boolean
          example: true
          default: false
      requestBody:
        description: List of contacts to be created. Up to **10 contacts** can be created per call.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-bulk-create'
      responses:
        '207':
          description: Successfully created a list of contacts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      summary: List Contacts
      description: 'Gets a paginated list of Contacts by sending a filter in the body of the request. This method will return the same data as the GET List Contacts but allows for longer filters.

        For information on reading secure contact fields, see the description of GET Contact.'
      operationId: listContactsPostFilters
      requestBody:
        description: See the request body of <a href="#operation/listContacts">GET List Contacts</a> for full filtering information
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: firstName eq 'John' or lastName eq 'Anderson'
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Contacts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/obfuscate/{obfuscateId}/status:
    parameters:
    - $ref: '#/components/parameters/obfuscateId'
    get:
      summary: Get Obfuscation Status
      description: Get the obfuscation status of a contact by the Obfuscate ID provided.
      operationId: getContactObfuscationStatusById
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully retrieved a contact's obfuscation status.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-obfuscation-status'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{contactId}/history:
    get:
      summary: Get Contact Change History
      description: Get the change history for a specific contact.
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      tags:
      - Contacts
      operationId: getChangeHistoryForASpecificContact
      parameters:
      - $ref: '#/components/parameters/contactId'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved change history for the given contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-history-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      summary: Get Contact
      description: 'Get a single contact.


        When reading a contact, the following secure contact fields are only returned when

        also providing the `event/contacts:read-sensitive` scope:

        * socialSecurityNumber

        * passportNumber

        * nationalIdentificationNumber

        * dateOfBirth'
      operationId: getContactById
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully retrieved a contact.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Update Contact
      description: 'Updates a contact based on contact ID and the values provided in the request body. If you''re changing de-duplication fields, the new values must be unique in your account.

        When writing a contact, the following secure contact fields are only written when also providing the `event/contacts:write-sensitive` scope:

        * socialSecurityNumber

        * passportNumber

        * nationalIdentificationNumber

        * dateOfBirth'
      operationId: updateContactById
      tags:
      - Contacts
      requestBody:
        description: Contact to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-update'
      responses:
        '200':
          description: Successfully updated the contact.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    patch:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Patch Contact
      description: 'Updates a part of a contact based on the given contactId.


        To update a field, pass the value to be updated. To delete a field, set the field to null. Fields not passed in the request body will remain unchanged.


        For information on updating secure contact fields, see the description of

        PUT Contact.'
      operationId: patchContactById
      tags:
      - Contacts
      requestBody:
        description: Contact to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-patch'
      responses:
        '200':
          description: Successfully updated the contact.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Contact
      description: Deletes a contact from the address book but does not remove the contact from events.
      security:
      - OAuth2.clientCredentials:
        - event/contacts:delete
      - OAuth2.authorizationCode:
        - event/contacts:delete
      operationId: deleteContactById
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully deleted the contact.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          $ref: '#/components/responses/Conflict1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/custom-fields/{customFieldId}/answers:
    parameters:
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/customFieldId'
    put:
      summary: Update Custom Field Answers
      description: Update custom field answers for a single custom field and single contact
      operationId: updateContactCustomFieldAnswers
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      tags:
      - Contacts
      requestBody:
        description: "Custom Field answers to be updated. Answer values must be formatted correctly for a given Custom Field. The available fields and their supported formats are listed below.\n* **Open Ended Text - Date/Time**. This field type has several possible user-selected answer formats:\n  - Date/Time (2022-01-01T12:00:00Z). Denoted by *DateTime* in the response payload. Milliseconds are truncated.\n  - Date (2022-01-01). Denoted by *Date* in the response payload.\n* **Open Ended Text - One Line**. This field type has several possible user-selected answer formats:\n  - General (Text). Denoted by *General* in the response payload.\n  - Number (Whole numbers, 10, -10). Denoted by *Number* in the response payload.\n  - Currency (Positive decimal value, 10.5). Denoted by *Currency* in the response payload.\n  - Decimal (-20.5). Denoted by *Decimal* in the response payload.\n  - US Phone Number (123-456-7890). Denoted by *USPhoneNumber* in the response payload.\n  - Email Address (h.potterfield@test.com). Denoted by *Email* in the response payload.\n* **Open Ended Text - Comment Box**. Answer format is free-text (any value). Denoted by *FreeText* in the\n    response payload.\n* **Choice - Single Answer (Drop-Down, Vertical, Horizontal).** Answer format is exactly one response to a\n    list of user-defined choices. Denoted by *SingleSelect* in the response payload.\n* **Choice - Multiple Answers (Multi-Select Box, Vertical, Horizontal).** Answer format is one or more\n    responses from a list of user-defined choices. Denoted by *MultiSelect* in the response payload.\n\nTo delete a Custom Field Answer, send an empty list of answers for a given Custom Field ID.\n"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom-field'
      responses:
        '200':
          description: Successfully updated custom field answers for a contact
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-field'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/merge:
    parameters:
    - $ref: '#/components/parameters/id'
    post:
      requestBody:
        description: "Merge the 'main' contact with one or two other 'secondary' contacts. By default, the main contact's values will be used for the merged contact if present. Otherwise, the secondary contact's value is used. For contact memberships and contact profile image, only the main contact's data is used.\n\nWhen merging contacts that contain secure fields, the `event/contacts:write-sensitive` scope is required.\n\n**Conflict Resolution**\n\n* **contactFields**: A conflict arises for a contact field if it is empty in the main contact, two secondary contacts are provided, and both secondary contacts have values for the field.\n  - You must provide the fieldName of the conflicted field and the ID of the contact whose value is to be kept to continue with the merge.\n  - This array can also be used to override the default behavior and choose which contact to pull values from for each contact field.\n  - The following contact fields are supported:\n    - `sourceId`\n    - `firstName`\n    - `lastName`\n    - `prefix`\n    - `email`\n    - `ccEmail`\n    - `company`\n    - `type.id`\n    - `nickname`\n    - `title`\n    - `workPhone`\n    - `middleName`\n    - `mobilePhone`\n    - `gender`\n    - `npi`\n    - `homeFax`\n    - `designation`\n    - `homePhone`\n    - `pager`\n    - `workFax`\n    - `lastModifiedBy`\n    - `lastModified`\n    - `created`\n    - `createdBy`\n    - `workAddress` (for address fields, the full address of work or home are taken all together from a given contact)\n    - `homeAddress`\n    - `deleted`\n    - `optOut.date`\n    - `_links.linkedInUrl`\n    - `_links.facebookUrl`\n    - `_links.twitterUrl`\n    - `customField.{uuid of custom field}`\n* **events**: A conflict arises for an event if it contains attendees associated with at least two of the provided contacts.\n  - You must provide the ID of the conflicted event and the ID of the contact whose attendee is to be associated with the merged contact to continue with the merge.\n  - Attendees with a 'No Response' or 'Visited' status whose linked contacts are not chosen in this step will be deleted. Attendees with other statuses will be kept but will be associated with an inactive contact.\n\n* **surveys**: A conflict arises for a survey containing respondents associated with at least two of the provided contacts.\n  - You must provide the ID of the conflicted survey and the ID of the contact whose respondent will be associated with the merged contact to continue with the merge.\n  - Respondents with a 'No Response' or 'Visited' status whose linked contacts are not chosen in this step will be deleted. Respondents with other statuses will be kept but will be associated with an inactive contact.\n  - Only legacy surveys support merge functionality at this time.\n* **contactRelationships**: By default, the main contact's relationships are carried over to the merged contact, and those of the other contact(s) are discarded. This is the default regardless of whether the main contact has relationships or not.\n  - You can provide a secondary contact's ID to carry over its relationships instead of the main contact. Only one contact's relationships can be carried over.\n"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-merge'
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
        - event/contacts:write-sensitive
      - OAuth2.authorizationCode:
        - event/contacts:write
        - event/contacts:write-sensitive
      summary: Merge Contacts
      description: Merges two or three contacts into a single contact.
      operationId: mergeContacts
      tags:
      - Contacts
      responses:
        '200':
          description: The successfully merged contact.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          $ref: '#/components/responses/Conflict1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/obfuscate:
    parameters:
    - $ref: '#/components/parameters/id'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Obfuscate a Contact
      description: 'Initiate obfuscation of a contact based on the given ID. Verify the status of the obfuscation using

        Get Obfuscation Status. Once this process succeeds, all

        the data for the contact will be obfuscated and will no longer be retrievable. See the

        Obfuscation User Guide for

        more details.'
      operationId: obfuscateContactById
      tags:
      - Contacts
      responses:
        '202':
          description: Successfully initiated obfuscation of the contact. Check the <a href="#operation/getContactObfuscationStatusById">contact's obfuscation status</a>.
          headers:
            Location:
              example: /contacts/obfuscate/9463c74e-18c6-401a-a710-ae0f485bf059/status
              description: This is the location to check the status of the obfuscation of the contact.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-obfuscation-status'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          $ref: '#/components/responses/Conflict1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/profile-images:
    parameters:
    - $ref: '#/components/parameters/id'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Delete Contact Profile Picture
      description: Deletes the profile picture of the given contact.
      operationId: deleteContactProfileImage
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully deleted the profile picture of the contact.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Assign Contact Profile Picture
      description: Assign a profile picture to a contact with a file UUID from file upload endpoint. This will replace the current profile picture if one is assigned.
      operationId: assignContactProfileImage
      requestBody:
        description: 'The file ID provided by the <a href="#operation/uploadFile">file upload</a> endpoint.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact-file'
      tags:
      - Contacts
      responses:
        '200':
          description: Successfully added the profile picture to the contact.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-file'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/related-contacts:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:read
      - OAuth2.authorizationCode:
        - event/contacts:read
      summary: Get Related Contact Ids
      description: Get all contact Ids related to the provided contact.
      operationId: getContactRelationshipsById
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved paginated list of Contact relationships.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact-id-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
  /contacts/{id}/related-contacts/{relatedContactId}:
    parameters:
    - $ref: '#/components/parameters/id'
    - $ref: '#/components/parameters/relatedContactId'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Add Contact Relationship
      description: Adds a single contact relationship between the two contact Ids provided.
      operationId: createContactRelationship
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully created a Contact relationship.
          headers: {}
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/contacts:write
      - OAuth2.authorizationCode:
        - event/contacts:write
      summary: Delete Contact Relationship
      description: Deletes a single contact relationship between the two contact Ids provided.
      operationId: deleteContactRelationship
      tags:
      - Contacts
      responses:
        '204':
          description: Successfully deleted a Contact relationship.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    servers:
    - url: https://api-platform.cvent.com/ea
    - url: https://api-platform-eur.cvent.com/ea
components:
  schemas:
    Paging:
      type: object
      properties:
        token:
          type: string
          nullable: true
        limit:
          type: integer
    ContactList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        paging:
          $ref: '#/components/schemas/Paging'
    Contact:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        company:
          type: string
        title:
          type: string
        phone:
          type: string
        address:
          type: object
          properties:
            line1:
              type: string
            city:
              type: string
            state:
              type: string
            postalCode:
              type: string
            countryCode:
              type: string
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    Paging_2:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    ContactCreate:
      title: ContactCreate
      description: This entity is used to represent a single item that is posted for a contact create
      allOf:
      - $ref: '#/components/schemas/CreateContact'
    contact-group:
      title: ContactGroup
      required:
      - id
      - name
      description: A group of contacts.
      allOf:
      - $ref: '#/components/schemas/Audit'
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the contact group.
          readOnly: true
        name:
          type: string
          description: Name of the contact group.
          maxLength: 100
          example: group name
        shortDescription:
          type: string
          description: Short description of the contact group.
          example: short description
        description:
          type: string
          description: Full description of the contact group.
          example: long description
        type:
          $ref: '#/components/schemas/ContactGroupType'
        note:
          deprecated: true
          type: string
          description: Moved to internalNote in the DistributionListInfo object. The note field only applies to Distribution List.
          example: Sample internal note
        distributionListInfo:
          $ref: '#/components/schemas/DistributionListInfo'
    EventContactId:
      title: EventContactId
      description: A pair of event and contact id.
      required:
      - eventId
      - contactId
      type: object
      properties:
        eventId:
          type: string
          format: uuid
          description: ID of the event.
        contactId:
          type: string
          format: uuid
          description: ID of the contact.
    Passport:
      title: Passport
      description: This entity represents a contact's passport information.
      type: object
      properties:
        number:
          type: string
          description: "The passport number of the contact.\n\n Reading and writing of this field require the `event/contacts:read-sensitive` and `event/contacts:write-sensitive` scopes respectively."
          example: '123456789'
          maxLength: 100
        country:
          type: string
          description: The passport country of the contact.
          example: United Kingdom
          readOnly: true
        countryCode:
          type: string
          description: The passport country code of the contact.
          example: GB
          minLength: 2
          maxLength: 3
    contact-id-paginated-response:
      title: ContactIdPaginatedResponse
      description: The response from a request to get the ids of contacts in a contact group or relationship. This includes the paging object as well as the collection of contact ids.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging_2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/IdOnlyEntity'
          description: Collection of contact ids.
    contact-bulk-create:
      type: array
      items:
        $ref: '#/components/schemas/ContactCreate'
    contact-bulk-patch:
      type: array
      items:
        $ref: '#/components/schemas/contact-patch'
    BaseAddress:
      title: Base Address
      description: Base Address Model
      type: object
      properties:
        address1:
          type: string
          maxLength: 40
          description: The first line of an address.
          example: Cvent Inc.
        address2:
          type: string
          maxLength: 40
          description: The second line of an address.
          example: 4001 West Parmer Lane
        address3:
          type: string
          maxLength: 40
          description: The third line of an address.
          example: PO Box 123
        city:
          type: string
          maxLength: 40
          description: The name of the city.
          example: Austin
        countryCode:
          type: string
          maxLength: 3
          minLength: 2
          description: ISO 3166 two-letter (alpha-2) country code.
          example: US
        postalCode:
          type: string
          maxLength: 25
          description: Postal code (also known as zipcode) of the address.
          example: '78727'
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    ContactMembership:
      title: ContactMembership
      description: Contact Membership information
      type: object
      readOnly: true
      properties:
        type:
          type: string
          description: The type of membership the contact has signed up for.
          maxLength: 300
          example: Corporate Sponsor
        plan:
          type: string
          description: Describes the specific plan the contact has signed up for.
          maxLength: 300
          example: Gold Level
        joined:
          type: string
          format: date
          description: The ISO-8601 formatted date the contact began their membership.
          readOnly: true
          example: '2017-02-10'
        expiration:
          type: string
          format: date
          description: The ISO-8601 formatted date the contact's membership will expire.
          readOnly: true
          example: '2020-02-09'
        lastRenewal:
          type: string
          format: date
          description: The ISO-8601 formatted date the contact last renewed their membership.
          readOnly: true
          example: '2019-02-08'
        amountDue:
          type: number
          description: The amount currently due for this membership.
          readOnly: true
          minimum: 0
          example: 50.5
        listInDirectory:
          type: boolean
          description: Indicates if the member details should be included in the member directory.
          example: false
    contact-group-paginated-response:
      title: ContactGroupPaginatedResponse
      description: The response from a request to get the list of contact groups.  This includes the paging object as well as the collection of contact-groups.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging_2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/contact-group'
          description: Collection of contact groups.
    contact-patch:
      title: ContactPatch
      description: This entity is used to represent a single item that is requested for a contact patch.
      required:
      - id
      allOf:
      - $ref: '#/components/schemas/contact'
      - properties:
          company: {}
          title: {}
          _links:
            properties:
              facebookUrl:
                properties:
                  href: {}
          homeAddress:
            properties:
              address3: {}
              countryCode: {}
          dateOfBirth: {}
          gender: {}
          homePhone: {}
          socialSecurityNumber: {}
    contact-update:
      title: ContactUpdate
      description: This entity is used to represent a single item that is requested for a contact update
      required:
      - id
      allOf:
      - $ref: '#/components/schemas/contact'
    SurveyContactId:
      title: SurveyContactId
      description: A pair of survey and contact id.
      required:
      - surveyId
      - contactId
      type: object
      properties:
        surveyId:
          type: string
          format: uuid
          description: ID of the survey
        contactId:
          type: string
          format: uuid
          description: ID of the contact
    contact-history-paginated-response:
      title: ContactHistoryPaginatedResponse
      description: The response of a request to get the change history for a specific contact.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging_2'
        data:
          description: Collection of change histories for a specific contact.
          type: array
          items:
            $ref: '#/components/schemas/ContactHistory'
    ContactLinks:
      title: ContactLinks
      type: object
      description: Collection of social media links for the contact.
      properties:
        twitterUrl:
          $ref: '#/components/schemas/Link'
        facebookUrl:
          $ref: '#/components/schemas/Link'
        linkedInUrl:
          $ref: '#/components/schemas/Link'
        profilePicture:
          type: object
          description: Reference to a profile picture.
          title: Link
          required:
          - href
          readOnly: true
          properties:
            href:
              type: string
              description: The url of the contact's profile picture
              example: https://cvent.com/picture123
    contact:
      title: ExistingContact
      description: Represents a contact that has been created and has an id.
      type: object
      allOf:
      - $ref: '#/components/schemas/Contact_2'
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the contact.
        parentId:
          type: string
          format: uuid
          description: ID of the parent contact, applicable with contact snapshot.
          readOnly: true
        event:
          description: Event ID
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: ID of the event where the contact was created, applicable when contact snapshot is enabled for an event.
          readOnly: true
    ContactMergeField:
      title: ContactMergeField
      description: A pair of a contact field name and a contact id.
      required:
      - fieldName
      - contactId
      type: object
      properties:
        fieldName:
          type: string
          example: firstName
          description: The name of a contact field.
        contactId:
          type: string
          format: uuid
          description: ID of the contact.
          example: a45a3341-d30f-4bd9-bfd8-fbcdae37f0f2
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    contact-file:
      title: ContactFile
      required:
      - file
      - href
      description: A contact's file, such as a profile image.
      properties:
        file:
          properties:
            id:
              type: string
              format: uuid
              description: The ID of the file.
        href:
          format: uri
          type: string
          description: URL of the contact's file.
          readOnly: true
          example: https://custom.cvent.com/a5154f85f71a4cf2464e037feb75b308/00000000000000000000000000000000/files/universal-file/tmp/e209d73d845746b7a6deda4da9d91b2c.png
    filter:
      title: A filter sent in the body of a request
      description: A filter which is sent through the body of the request.
      type: object
      properties:
        filter:
          type: string
          example: property eq 'value'
          description: Filter included in the request.
    contact-type-paginated-response:
      title: ContactTypePaginatedResponse
      description: The response from a request to get the list of contact types. This includes the paging object as well as the collection of contact-types.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging_2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ContactType'
          description: Collection of contact types.
    Gender:
      title: Gender
      enum:
      - Male
      - Female
      - Non-binary
      - Rather not say
      type: string
      description: The gender of the contact.
      example: Male
    ContactBulkResponseItem:
      title: ContactBulkResponseItem
      description: This entity is used to represent a single item that is returned as part of a Bulk request call.
      allOf:
      - $ref: '#/components/schemas/BulkResponseItem'
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/contact'
          - $ref: '#/components/schemas/ErrorResponse'
    contact-obfuscation-status:
      title: ContactObfuscationStatus
      description: Model representing an obfuscation status of a contact.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ContactObfuscationStatusType'
        obfuscateId:
          type: string
          format: uuid
          description: The obfuscation job identifier.
          readOnly: true
        contact:
          $ref: '#/components/schemas/ContactId'
    AttendeeContactType:
      title: AttendeeContactType
      type: object
      description: Contains details related to the attendee's contact type.
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the contact type
          example: 861B51EC-AA7E-475F-B38D-4C8E35C47D63
        name:
          type: string
          description: A descriptive name for the contact type
          example: VIP Member
          readOnly: true
    Address:
      title: Address
      description: Contact address details.
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      properties:
        region:
          type: string
          description: The name of the state/province/region of the address.
          readOnly: true
          example: Texas
        regionCode:
          type: string
          description: The abbreviation of the state/province/region of the address.
          minLength: 2
          maxLength: 10
          example: TX
        country:
          type: string
          description: Name of the country of the address.
          readOnly: true
          example: United States of America
    ContactHistory:
      title: ContactHistory
      description: A single instance of change for a specific contact in the contact's change history.
      type: object
      properties:
        updatedFieldName:
          description: The name of a field that was changed and tracked by this single instance of change in contact change history.
          type: string
          example: Last Name
        oldValue:
          description: The old value of a field that was changed.
          type: string
          example: Wilson
        newValue:
          description: The new value of a field that was changed.
          type: string
          example: James
        updatedThroughName:
          $ref: '#/components/schemas/UpdatedThroughNameProperty'
        updatedDate:
          description: The ISO 8601 formatted date-time when the associated contact, of this single instance of change in contact change history, was updated.
          type: string
          format: date-time
          example: '2023-08-03T14:51:00.777Z'
        updatedBy:
          description: The name of a person who updated a contact that is associated with this single instance of change in contact change history.
          type: string
          example: John Doe
    UpdatedThroughNameProperty:
      title: UpdatedThroughNameProperty
      description: Name of the place where this change was updated through.
      type: string
      enum:
      - Abstract Guest Side Author Update
      - Abstract Guest Side Reviewer Update
      - Abstract Guest Side User
      - Abstract Planner side
      - Address Book Profile
      - Amex Card Delete
      - Amex Card Insert
      - Amex Card Update
      - Answers Replaced from Administration
      - Appointment Guest Side
      - Attendee Hub
      - Budget Allocation Update
      - Budget Attendee Update
      - Budget Item Custom Field Answers Replaced from Administration
      - Budget Item Delete
      - Budget Item Duplicate
      - Budget Item Import
      - Budget Item Insert via REST API
      - Budget Item Insert
      - Budget Item Single Update
      - Budget Item Template Import
      - Budget Item Update via REST API
      - Budget Items Bulk Assign Vendor
      - Budget Items Bulk Copy Cost label
      - Budget Items Bulk Copy
      - Budget Items Bulk Delete
      - Budget Items Bulk Update
      - Budget Version Update
      - Bulk Update Contact Field Answer
      - Concur Reconciliation - Create New Budget Item For Each Expense
      - Concur Reconciliation - Map to Existing Budget Item
      - Confirm Opt In Email
      - Contact Import
      - Contact New Membership
      - Contact Pending Obfuscation
      - Contact Website Profile Update
      - Created Within Meeting Request
      - Created from API
      - Created from Request Website
      - Crowd Compass Profile Update
      - Custom Field Added From Admin
      - Custom Field Added via REST API
      - Custom Field Deleted From Admin
      - Custom Field Modified From Admin
      - Custom Field Modified via REST API
      - Deleted Within Administration
      - Deleted from Meeting Request Form
      - Deleted from Request Website
      - Deleted within Meeting Request
      - Event Automatically Created from Meeting Request
      - Event Created from API
      - Event Created from Event Wizard
      - Event Guest Side Modification
      - Event Guest Side Registration
      - Event Import
      - Event Modified from Meeting Request via API
      - Event Modified from Meeting Request
      - Event Onsite Registration
      - Event POST
      - Event Planner Contact Information Update
      - Event Planner Side Modification
      - Event Planner Side Registration
      - Hotel Request Import
      - Marketo Contact Import
      - Modified Within Event
      - Modified Within Meeting Request
      - Modified from API
      - Modified from Event Documents
      - Modified from Meeting Request via Notification
      - Modified from Request Website
      - Registration Import
      - REST API
      - Salesforce Integration
      - Survey Author Modification
      - Survey Author Response
      - Survey Guest Side Modification
      - Survey Guest Side Response
      - Survey POST
      - Travel Cost Import - Map to Existing Budget item
      - Travel Cost Import - Map to New Budget Item
      - VCN Transaction - Create New Budget Item For Each Transaction
      - VCN Transaction - Map to Multiple Budget Item
      - VCN Transaction - Map to Single Budget Item
      - VCN Transaction - Removed from Budget Item
      - Web Services
      - eMarketing Profile Update
      example: Address Book Profile
    DistributionListInfo:
      title: DistributionListInfo
      description: Model representing a distribution list info. Only required if the contact group type is DISTRIBUTION_LIST.
      type: object
      properties:
        securityType:
          $ref: '#/components/schemas/DistributionListSecurityType'
        internalNote:
          description: Internal note for Distribution Lists.
          type: string
          maxLength: 300
          example: Sample distribution list internal note
        status:
          $ref: '#/components/schemas/DistributionListStatus'
    DistributionListStatus:
      title: DistributionListStatus
      enum:
      - PENDING
      - PROCESSING
      - COMPLETE
      type: string
      description: Type of distribution list status.
      readOnly: true
      example: PENDING
    ContactObfuscationStatusType:
      title: ContactObfuscationStatusType
      enum:
      - INITIATED
      - QUEUED
      - PROCESSING
      - COMPLETED
      - FAILED
      type: string
      description: 'Status of the request to obfuscate a contact.


        INITIATED - The obfuscation request has been received.


        QUEUED - The obfuscation request is currently waiting in the queue to be executed.


        PROCESSING -  The obfuscation request is currently being processed.


        COMPLETED -  The obfuscation request is complete.


        FAILED - The obfuscation request failed due to an error.'
      example: INITIATED
    Compliance:
      title: Compliance
      description: Privacy compliance fields for a contact.
      type: object
      properties:
        creationTime:
          type: string
          format: date-time
          description: Date-time (in GMT) when privacy compliance details were created for the contact.
          example: '2021-03-08T17:30:01.727Z'
        complianceScope:
          type: string
          description: Scope of privacy compliance.
          example: CCPA
          enum:
          - CCPA
        action:
          type: string
          description: Action to take for a compliance request.
          example: DO_NOT_SELL
          enum:
          - DO_NOT_SELL
          - OK_TO_SELL
        createdBy:
          type: string
          description: Denotes how the compliance request was created.
          example: PLANNER
          enum:
          - ATTENDEE
          - PLANNER
          - IMPORT
          - SOAP_API
          - REST_API
          - MARKETO
          - SALEFORCE
          - VIDEO_CENTER_MEMBER
          - RESPONDENT
          - NOT_SET
    contact-merge:
      title: ContactMergeRequest
      description: This entity represents a request to merge one or two contacts with another 'main' contact.
      required:
      - secondaryContacts
      properties:
        secondaryContacts:
          type: array
          items:
            $ref: '#/components/schemas/uuid-property'
          minItems: 1
          maxItems: 2
          description: Id of the contact(s) to be merged to the main contact.
        conflictResolution:
          type: object
          description: Represents choices in resolving conflicts in the contacts to be merged or to optionally select fields to keep from a secondary contact, overriding default behavior.
          properties:
            events:
              type: array
              items:
                $ref: '#/components/schemas/EventContactId'
              description: For each event (designated by event id), choose a contact id whose linked attendee will be associated with the resulting merged contact. Use whenever at least two contacts exist as attendees in a single event.
            surveys:
              type: array
              items:
                $ref: '#/components/schemas/SurveyContactId'
              description: For each survey (designated by survey id), choose a contact id whose linked respondent will be associated with the resulting merged contact. Use whenever at least two contacts exist as respondents in a single survey.
            relatedContacts:
              type: string
              format: uuid
              description: The id of the contact to keep the relationships of in the resulting merged contact. Only one contact can be chosen, and relationships of the other contact(s) will be discarded.
            contactFields:
              type: array
              items:
                $ref: '#/components/schemas/ContactMergeField'
              description: Specify which contact to use values from for any contact field.
    OptoutBy:
      title: OptoutBy
      enum:
      - Abuse Complaint
      - Account User
      - API
      - Contact Self Opt-Out
      - Cvent Support
      - Hard Bounce
      - Import
      - Invitee Self Unsubscribe
      - Multiple Bounce
      - Respondent Self Unsubscribe
      - Temporary Block
      - Cvent Salesforce App
      type: string
      description: This is used to denote how a contact is opt'd out of Cvent system.
      example: Account User
      readOnly: true
    IdOnlyEntity:
      title: Id only entity
      description: An entity which only has an id.
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: The entity's id value.
          example: abc-123
    Contact_2:
      title: Contact
      description: Represents a contact and their related information.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        firstName:
          type: string
          description: The first name of the contact.
          maxLength: 30
          example: Henry
        lastName:
          type: string
          description: The last name of the contact.
          maxLength: 50
          example: Potterfield
        middleName:
          type: string
          description: The middle name of the contact.
          maxLength: 30
          example: A
        nickname:
          type: string
          description: The nickname of the contact.
          maxLength: 30
          example: Harry
        email:
          type: string
          format: email
          description: The email address of the contact.
          minLength: 6
          maxLength: 80
          example: h.potterfield@test.com
        ccEmail:
          type: string
          format: email
          description: An alternate email address of the contact that can be cc'd on email communications.
          minLength: 6
          maxLength: 80
          example: h.porter@tesing.com
        gender:
          $ref: '#/components/schemas/Gender'
        company:
          type: string
          description: The company/organization the contact belongs to.
          maxLength: 100
          example: Cvent Inc.
        designation:
          type: string
          description: The designation of the contact, typically an award or credential.
          maxLength: 30
          example: CPA
        title:
          type: string
          description: The job title of the contact.
          maxLength: 100
          example: Event Planner
        type:
          $ref: '#/components/schemas/AttendeeContactType'
        membership:
          $ref: '#/components/schemas/ContactMembership'
        primaryAddressType:
          $ref: '#/components/schemas/AddressType'
        homeAddress:
          $ref: '#/components/schemas/Address'
        homePhone:
          type: string
          description: The phone number of the contact at their place of residence.
          maxLength: 30
          example: 555-555-5555
        homeFax:
          type: string
          description: The fax number of the contact at their place of residence.
          maxLength: 30
          example: 555-555-5555
        workAddress:
          $ref: '#/components/schemas/Address'
        workPhone:
          type: string
          description: The phone number of the contact at their place of work.
          maxLength: 30
          example: 555-555-5555
        workFax:
          type: string
          description: The fax number of the contact at their place of work.
          maxLength: 30
          example: 555-555-5555
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/custom-field'
          description: Collection of custom fields.
          readOnly: true
        sourceId:
          description: 'This is a ID for the contact in an external system. NOTE: This value is expected to be unique for each contact within an account. Consider adding the external system name as part of the ID.'
          type: string
          maxLength: 50
          example: system-a-00000000-0000-0000-0000-000000000000
        mobilePhone:
          type: string
          description: The contact's mobile phone number.
          maxLength: 30
          example: 555-555-5555
        compliance:
          type: array
          items:
            $ref: '#/components/schemas/Compliance'
          description: Detail related to compliance with the contact's privacy rights under various legislation.
          readOnly: true
        prefix:
          type: string
          description: Denotes what is traditionally a title of an individual.
          maxLength: 30
          example: Mr.
        pager:
          type: string
          description: The pager number of the contact.
          maxLength: 30
          example: 555-555-5555
        deleted:
          type: boolean
          description: True indicates a contact is deleted. Deleted contacts still have their data retained, but the contact is inactive.
          default: false
          example: false
          readOnly: true
        purged:
          type: boolean
          description: True indicates a contact is purged. Purged contacts have only partial data retained, and will be permanently deleted in 30 days.
          default: false
          example: false
          readOnly: true
        optOut:
          $ref: '#/components/schemas/ContactOptOut'
        npi:
          type: string
          description: Unique 10-digit identification number issued by the Centers for Medicare and Medicaid Services for health care providers in the United States.
          minLength: 10
          maxLength: 10
          example: '5555555555'
        _links:
          $ref: '#/components/schemas/ContactLinks'
        dateOfBirth:
          type: string
          format: date
          description: "The date of birth of the contact.\n\n Reading and writing of this field require the `event/contacts:read-sensitive` and `event/contacts:write-sensitive` scopes respectively."
          example: '1990-01-01'
        passportNumber:
          type: string
          description: "The passport number of the contact.\n\n Reading and writing of this field require the `event/contacts:read-sensitive` and `event/contacts:write-sensitive` scopes respectively. This field has been deprecated. Instead, use the passport.number field."
          example: '123456789'
          maxLength: 100
          deprecated: true
        passport:
          $ref: '#/components/schemas/Passport'
        socialSecurityNumber:
          type: string
          description: "The social security number of the contact.\n\n Reading and writing of this field require the `event/contacts:read-sensitive` and `event/contacts:write-sensitive` scopes respectively."
          example: 123-45-6789
          maxLength: 11
        nationalIdentificationNumber:
          type: string
          example: '123456789'
          description: "The national identification number of the contact.\n\n Reading and writing of this field require the `event/contacts:read-sensitive` and `event/contacts:write-sensitive` scopes respectively."
          maxLength: 25
        headline:
          type: string
          description: The headline of the contact's profile, which summarizes their professional experience and qualities.
          example: Marketing Director Crafting Memorable Campaigns that Engage Audiences and Elevate Brands
          maxLength: 2500
        personalWebsite:
          type: string
          description: A contact's personal website URL.
          format: uri
          example: https://www.example.com
          maxLength: 2500
        biography:
          type: string
          description: A contact's biographical writeup.
          example: I am a marketing professional with experience in event planning and brand strategy.
          maxLength: 2500
        pronouns:
          type: string
          description: Represents the preferred pronouns of a contact.
          example: he/him/she/her/they/them
          maxLength: 50
    DistributionListSecurityType:
      title: DistributionListSecurityType
      enum:
      - PRIVATE
      - SEMI_PRIVATE
      - PUBLIC
      type: string
      description: Type of distribution list security. For a public list, contacts can sign up themselves. For a semi-private list, contacts can add themselves, but a planner must approve their membership before they can receive emails. For a private list, only planners can add contacts. Contacts can always remove themselves from lists on the Manage Profile page.
    CustomFieldBase:
      title: CustomFieldBase
      description: Base schema for Custom Field - allows type to be customized by extending schemas
      required:
      - id
      - value
      type: object
      properties:
        id:
          type: string
          description: The unique ID representing this custom field.
          format: uuid
        name:
          type: string
          description: The actual text of the custom field.
          example: What is your favorite color?
          readOnly: true
        value:
          type: array
          uniqueItems: true
          items:
            type: string
            description: A question answer value
            maxLength: 16000
          description: The set of answers or possible answers to a question.
          example:
          - Choice C
          - Choice A
        order:
          type: integer
          description: The order of this question in the bigger list of questions.
          example: 1
          readOnly: true
    CustomFieldType:
      title: CustomFieldType
      enum:
      - AutoIncrement
      - ConsentQuestion
      - Currency
      - Decimal
      - Date
      - DateTime
      - Email
      - FileUpload
      - FreeText
      - General
      - MultiChoice
      - MultiSelect
      - Number
      - OpenEndedDateTime
      - OpenEndedText
      - SingleChoice
      - SingleSelect
      - USPhoneNumber
      - Unknown
      type: string
      description: The type of data collected by a custom field.
      example: General
    AddressType:
      title: AddressType
      enum:
      - Home
      - Work
      type: string
      description: The type of address.
      example: Home
    contact-paginated-response:
      title: ContactPaginatedResponse
      description: The response from a request to get the list of contacts.  This includes the paging object as well as the collection of contacts.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging_2'
        data:
          type: array
          items:
            $ref: '#/components/schemas/contact'
          description: Collection of contacts.
    custom-field:
      title: CustomField
      description: A Custom Field
      type: object
      allOf:
      - $ref: '#/components/schemas/CustomFieldBase'
      properties:
        type:
          description: The type of data collected by a custom field.
          type: string
          allOf:
          - $ref: '#/components/schemas/CustomFieldType'
          - readOnly: true
            example: MultiSelect
    ContactGroupType:
      title: ContactGroupType
      enum:
      - BLACKLIST
      - DISTRIBUTION_LIST
      - STANDARD
      type: string
      description: Type of contact group. `BLACKLIST` are contacts that are not allowed to register for your events. `DISTRIBUTION_LIST` is a group of contacts you plan to send eMarketing emails to. `STANDARD` is a multi-purpose group for organizing contacts.
      example: STANDARD
      default: STANDARD
    ContactOptOut:
      title: ContactOptOut
      description: Details of an opt-out for a Contact.
      type: object
      properties:
        optedOut:
          type: boolean
          default: false
          description: Used to denote if a contact has opted-out of receiving system generated emails.
          example: false
        date:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this contact was opted-out. This value can change if the contact opts out multiple times.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        by:
          $ref: '#/components/schemas/OptoutBy'
    contact-bulk-response:
      title: ContactBulkResponse
      description: List of contacts to create or update.
      type: array
      items:
        $ref: '#/components/schemas/ContactBulkResponseItem'
    BulkResponseItem:
      title: BulkResponseItem
      description: Represents a single item that is returned as part of a Bulk request call.
      type: object
      required:
      - status
      - data
      properties:
        data:
          type: object
          description: The data returned for a single item in the bulk request call.
          example:
            event_id: 1234
            attendee_count: 50
          additionalProperties: true
        status:
          type: integer
          description: http status code representing processing status of a single item
          example: 400
        message:
          type: string
          description: Quick description of what happened with processing
          example: Example error message.
        request:
          type: object
          description: The processed request tied to this response. This field is only sent when processing fails.
          example:
            operation: PUT
            headers:
              header1: header1Value
              header2: header2Value
            queryParams:
              param1: param1Value
              param2: param2Value
          additionalProperties: true
      additionalProperties: false
    CreateContact:
      title: CreateContact
      description: Represents a contact to be created.
      type: object
      allOf:
      - $ref: '#/components/schemas/Contact_2'
      properties:
        parentId:
          deprecated: true
          type: string
          format: uuid
          description: ID of the parent contact, applicable with contact snapshot. This field has been deprecated. If the event has contact snapshot enabled, snapshot will be automatically created through the Add attendees API.
        event:
          deprecated: true
          description: Event ID
          type: object
          properties:
            id:
              deprecated: true
              type: string
              format: uuid
              description: ID of the event where the contact was created, applicable when contact snapshot is enabled for an event. This field has been deprecated. If the event has contact snapshot enabled, snapshot will be automatically created through the Add attendees API.
    ContactId:
      title: ContactId
      description: A contact id.
      required:
      - id
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the contact.
    ContactType:
      title: ContactType
      description: This entity represents a contact type at contact level.
      required:
      - id
      - code
      - name
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the contact type.
          readOnly: true
        code:
          type: string
          description: The contact type code. Must be unique in the account.
          readOnly: true
          maxLength: 30
          example: VIP
        name:
          type: string
          description: Name of the contact type.
          maxLength: 50
          example: VIP Attendee
        description:
          type: string
          description: Description of the contact type.
          maxLength: 2500
          example: Very important attendee.
        active:
          type: boolean
          description: Indicates whether the contact type is active.
          example: true
          readOnly: true
    contact-bulk-update:
      type: array
      items:
        $ref: '#/components/schemas/contact-update'
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
  parameters:
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    Token:
      in: query
      name: token
      schema:
        type: string
      description: Continuation token for paged results.
    contactGroupId:
      in: path
      name: id
      description: ID of a contact group.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    id:
      in: path
      name: id
      description: ID of a contact.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    customFieldId:
      in: path
      name: customFieldId
      description: ID of a custom field.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    relatedContactId:
      in: path
      name: relatedContactId
      description: ID of a related contact.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    contactId:
      in: path
      name: contactId
      description: ID of a contact.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    includePurged:
      in: query
      required: false
      name: includePurged
      description: 'True means purged contacts can be included in the response. Purged contacts contain only limited display data (`id`, `lastModified`, and `purged`). When true, the filter query parameter can only filter by the `id` field. The `before`, `after`, `limit`, and `token` query parameters are still valid query parameters to use with this parameter. If false, only contacts that have not been purged will be returned.

        '
      schema:
        type: boolean
        default: false
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

[...]
