openapi: 3.0.2
info:
  title: Cvent Registration Event Travel API
  version: ea
  description: 'Registration-surface slice of the official Cvent REST APIs OpenAPI, filtered to the ''Event Travel'' tag(s).

    Derived verbatim (operations, schemas, parameters and responses copied unchanged) from Cvent''s own published contract
    at https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml — the spec Cvent generates its official
    TypeScript, Java and C# SDKs from.

    Full platform description, authentication, pagination, filtering, rate-limit and versioning narrative lives in openapi/_original/cvent-rest-apis-openapi.yaml.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Event Travel
  description: Event travel lets planners capture air & hotel requests from attendees and track air actuals, hotel reservations
    and alternate travel answers at your event. Use these endpoints to retrieve your air, hotel, housing reservation request
    and alternate travel answers data from your events. **Housing Reservation Request** - An association between an attendee's
    information in a registration event and a Cvent Passkey event. Also known as a Passkey bridge.
paths:
  /events/{id}/event-travel/air-actuals:
    get:
      summary: Get Air Actual
      description: Get attendee air actual details for an event.
      operationId: getAirActualDetail
      tags:
      - Event Travel
      security:
      - OAuth2.clientCredentials:
        - event/air-request:read
      - OAuth2.authorizationCode:
        - event/air-request:read
      responses:
        '200':
          description: Successfully retrieved the air actual details.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/air-actual-detail'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/expandAirActualQuestionAnswer'
      - $ref: '#/components/parameters/sortForAirActual'
      - $ref: '#/components/parameters/filter2'
    parameters:
    - $ref: '#/components/parameters/id2'
  /events/{id}/event-travel/air-requests:
    get:
      summary: Get Air Requests
      description: Get attendee air request details for an event.
      operationId: getAirRequests
      tags:
      - Event Travel
      security:
      - OAuth2.clientCredentials:
        - event/air-request:read
      - OAuth2.authorizationCode:
        - event/air-request:read
      responses:
        '200':
          description: Successfully retrieved the air request detail.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/air-reservation-detail'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/sortForAirRequest'
      - $ref: '#/components/parameters/filter2'
      - $ref: '#/components/parameters/expandAirRequestQuestionAnswer'
    parameters:
    - $ref: '#/components/parameters/id2'
  /events/{id}/event-travel/alternate-answers:
    get:
      summary: Get Alternate Travel Answers
      description: Get alternate travel answers submitted by attendees who opt out of air or hotel bookings for an event.
      operationId: getAlternateTravelAnswers
      tags:
      - Event Travel
      security:
      - OAuth2.clientCredentials:
        - event/alternate-travel:read
      - OAuth2.authorizationCode:
        - event/alternate-travel:read
      responses:
        '200':
          description: Successfully retrieved the alternate travel answers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alternate-travel-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/filter2'
    parameters:
    - $ref: '#/components/parameters/id2'
  /events/{id}/event-travel/hotel-requests:
    get:
      summary: Get Hotel Requests
      description: Get attendee hotel requests for an event.
      operationId: getHotelRequests
      tags:
      - Event Travel
      security:
      - OAuth2.clientCredentials:
        - event/hotel-request:read
      - OAuth2.authorizationCode:
        - event/hotel-request:read
      responses:
        '200':
          description: Successfully retrieved the hotel request detail.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hotel-reservation-detail'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/expandHotelRequestQuestionAnswer'
      - $ref: '#/components/parameters/sortForHotelRequest'
      - $ref: '#/components/parameters/filter2'
    parameters:
    - $ref: '#/components/parameters/id2'
  /events/{id}/event-travel/housing-reservation-requests:
    get:
      summary: Get Housing Requests
      description: Get attendee housing reservation request details for an event.
      operationId: getHousingReservationRequests
      tags:
      - Event Travel
      security:
      - OAuth2.clientCredentials:
        - event/hotel-request:read
      - OAuth2.authorizationCode:
        - event/hotel-request:read
      responses:
        '200':
          description: Successfully retrieved the reservation request detail.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reservation-request-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/filter2'
    parameters:
    - $ref: '#/components/parameters/id2'
components:
  parameters:
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of
        time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    expandAirActualQuestionAnswer:
      name: expand
      in: query
      required: false
      description: "A list of fields to be expanded, returning additional information alongside the specified fields. The\
        \ expanded entity is retrieved and displayed inline for each specified expansion field. The respective scopes for\
        \ each expansion are required.\n\nThe following fields are expandable:\n  * airActualDetails.airActualAnswers.question\
        \ (<a href=\"#operation/getEventQuestions\">List Event Questions</a>)\n"
      schema:
        example: airActualDetails.airActualAnswers.question
        type: array
        items:
          type: string
          enum:
          - airActualDetails.airActualAnswers.question
    expandAirRequestQuestionAnswer:
      name: expand
      in: query
      required: false
      description: "A list of fields to be expanded, returning additional information alongside the specified fields. The\
        \ expanded entity is retrieved and displayed inline for each specified expansion field. The respective scopes for\
        \ each expansion are required.\n\nThe following fields are expandable:\n  * airRequestDetails.airRequestAnswers.question\
        \ (<a href=\"#operation/getEventQuestions\">List Event Questions</a>)\n"
      schema:
        example: airRequestDetails.airRequestAnswers.question
        type: array
        items:
          type: string
          enum:
          - airRequestDetails.airRequestAnswers.question
    expandHotelRequestQuestionAnswer:
      name: expand
      in: query
      required: false
      description: "A list of fields to be expanded, returning additional information alongside the specified fields. The\
        \ expanded entity is retrieved and displayed inline for each specified expansion field. The respective scopes for\
        \ each expansion are required.\n\nThe following fields are expandable:\n  * hotelRequestDetails.hotelRequestAnswers.question\
        \ (<a href=\"#operation/getEventQuestions\">List Event Questions</a>)\n"
      schema:
        example: hotelRequestDetails.hotelRequestAnswers.question
        type: array
        items:
          type: string
          enum:
          - hotelRequestDetails.hotelRequestAnswers.question
    filter2:
      name: filter
      in: query
      required: false
      description: 'Use filter query parameters to limit results

        to data that matches your criteria. See

        [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


        Supported fields and operators are listed below:


        | Field            | Operators                          | Notes                                          |

        |------------------|-------------------------------------|------------------------------------------------|

        | attendee.id      | `eq`, `ne`                          | Limit: 17 fields can be passed in a filter     |


        The following logical operators are supported for combining filters:

        * or

        '
      schema:
        type: string
        example: (attendee.id eq '76f2b9e2-fcce-4d93-be29-a008b76a050c') OR (attendee.id eq '16322408-bae8-4b29-a559-702d2023e13a')
    id2:
      in: path
      name: id
      description: ID of an event.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    sortForAirActual:
      name: sort
      required: false
      in: query
      style: form
      explode: false
      description: "The sort order passed as a parameter, used to control the order of the\nsearch results as a priority ordered\
        \ list of sorts\n\nThere are two orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n\
        \  * airActualDetails.name\n  * airActualDetails.lastModified\nwhere i <= limit\n"
      schema:
        type: string
        example: airActualDetails.name:DESC,airActualDetails.lastModified:ASC
    sortForAirRequest:
      name: sort
      required: false
      in: query
      style: form
      explode: false
      description: "The sort order passed as a parameter, used to control the order of the\nsearch results as a priority ordered\
        \ list of sorts\n\nThere are two orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n\
        \  * airRequestDetails.requesterFirstName\n  * airRequestDetails.requesterLastName\n  * airRequestDetails.lastModified\n"
      schema:
        type: string
        example: airRequestDetails.requesterFirstName:DESC,airRequestDetails.requesterLastName:ASC
    sortForHotelRequest:
      name: sort
      required: false
      in: query
      style: form
      explode: false
      description: "The sort order passed as a parameter, used to control the order of the\nsearch results as a priority ordered\
        \ list of sorts\n\nThere are two orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n\
        \  * hotelRequestDetails.requesterFirstName\n  * hotelRequestDetails.requesterLastName\n  * hotelRequestDetails.lastModified\n"
      schema:
        type: string
        example: hotelRequestDetails.requesterFirstName:DESC,hotelRequestDetails.requesterLastName:ASC
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
  responses:
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
  schemas:
    Address7:
      title: Address
      description: Address of the hotel.
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      properties:
        region:
          type: string
          description: The name of the state/province/region of the address.
          readOnly: true
          example: Texas
        regionCode:
          type: string
          description: The abbreviation of the state/province/region of the address.
          minLength: 2
          maxLength: 10
          example: TX
        country:
          type: string
          description: Name of the country.
          readOnly: true
          example: United States of America
    AirActual:
      title: AirActual
      description: Representation of an air actual.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        airActualId:
          type: string
          format: uuid
          description: ID of the air actual.
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        requesterId:
          type: string
          format: uuid
          description: ID of the flight requester. For an event attendee, this field is contact ID. For guest, this field
            is guest ID. For any other passenger, this fields contains null.
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        status:
          $ref: '#/components/schemas/TravelRequestStatus'
        requesterType:
          $ref: '#/components/schemas/AirRequesterType'
        name:
          type: string
          description: Name of the attendee booked for the flight.
          example: John Doe
        confirmationNumber:
          type: string
          description: Confirmation Number of the flight.
          example: 123-456-XYZ
        totalAmount:
          type: number
          description: Total cost of the flight.
          example: 500
        currencyCode:
          type: string
          description: ISO 4217 currency code for the cost of the flight.
          example: USD
          maxLength: 3
        note:
          type: string
          description: Additional note associated to the air actual.
          maxLength: 300
          example: Additional note here.
        recordLocatorGDS:
          type: string
          description: The unique reservation number associated with the Global Distribution System (GDS) where the flight
            was booked.
          example: ABC123
        noteGDS:
          type: string
          description: Additional note from the GDS associated to the air actual.
          example: GDS note.
        journeyType:
          $ref: '#/components/schemas/JourneyType'
        flightDetail:
          description: List of all the flight details taken by attendee and its guest
          type: array
          items:
            $ref: '#/components/schemas/FlightDetail'
        airActualAnswers:
          type: array
          description: Answer provided by requester to the air actual related question.
          items:
            $ref: '#/components/schemas/AttendeeAnswer1'
    AirActualDetail:
      title: AirActualDetail
      description: Representation of an air actual detail response.
      type: object
      properties:
        attendee:
          $ref: '#/components/schemas/Attendee3'
        airActualDetails:
          description: List of air actual details for the attendee and its guest.
          type: array
          items:
            $ref: '#/components/schemas/AirActual'
          minItems: 0
          maxItems: 200
    AirRequest:
      title: AirRequest
      description: Representation of an air request.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        airRequestId:
          type: string
          format: uuid
          description: ID of the air request.
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        requesterId:
          type: string
          format: uuid
          description: ID of the flight requester. For an event attendee, this field is contact ID. For guest, this field
            is guest ID. For any other passenger, this fields contains null.
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        requesterType:
          $ref: '#/components/schemas/AirRequesterType'
        requesterFirstName:
          type: string
          description: First name of the flight requester.
          example: John
          maxLength: 50
        requesterMiddleName:
          type: string
          description: Middle name of the flight requester.
          example: Frances
          maxLength: 30
        requesterLastName:
          type: string
          description: Last name of the flight requester.
          example: Doe
          maxLength: 50
        requesterSuffix:
          type: string
          description: Suffix of the flight requester.
          enum:
          - II
          - III
          - IV
          - V
          - Sr.
          - Jr.
          example: Jr.
        fullName:
          type: string
          description: Full name of the requester.
          example: John Doe
        redressNumber:
          type: string
          description: TSA redress number for the passenger.
          example: '1234567'
        knownTravelerNumber:
          type: string
          description: TSA known traveller number for the passenger.
          example: '1234567'
        outgoingLeg:
          $ref: '#/components/schemas/LegDetail'
        incomingLeg:
          $ref: '#/components/schemas/LegDetail'
        seatType:
          $ref: '#/components/schemas/SeatType'
        ticketType:
          $ref: '#/components/schemas/TicketType'
        foodPreference:
          type: string
          description: Additional text related to the passenger's meal.
          example: Please provide vegetarian meal.
          maxLength: 300
        specialRequest:
          type: string
          description: Additional text associated with air request.
          example: Please provide blanket
          maxLength: 300
        airlinePreference:
          description: Requester's preferred airlines.
          type: array
          items:
            $ref: '#/components/schemas/AirlinePreference'
          maxItems: 3
        ageCategory:
          type: string
          description: Age category of the requester.
          enum:
          - Adult
          - Senior
          - Child
          - Infant
          example: Adult
        status:
          $ref: '#/components/schemas/TravelRequestStatus'
        dateOfBirth:
          type: string
          description: Date of birth of the requester.
          example: '1980-03-04'
        gender:
          $ref: '#/components/schemas/Gender1'
        plannerMemo:
          type: string
          description: Additional note by, or intended for, event planners.
          example: Some planner related text.
          maxLength: 300
        airRequestAnswers:
          type: array
          description: Answer provided by requester to the air request related question.
          items:
            $ref: '#/components/schemas/AttendeeAnswer1'
    AirRequesterType:
      title: AirRequesterType
      description: Representation of an attendee type of the flight requester. Contact means the requester is an independent
        attendee. Guest means the attendee is accompanying another attendee. Unknown means attendee has requested a flight
        for passenger other than its guest.
      type: string
      enum:
      - Contact
      - Guest
      - Unknown
      example: Contact
    AirReservationDetail:
      title: AirReservationDetail
      description: Representation of an air reservation detail response.
      type: object
      properties:
        attendee:
          $ref: '#/components/schemas/Attendee3'
        airRequestDetails:
          description: List of all air request by attendee and its guest.
          type: array
          items:
            $ref: '#/components/schemas/AirRequest'
    AirlinePreference:
      title: Airline Preference
      description: Representation of airlines based on preference
      type: object
      properties:
        airlineName:
          type: string
          description: Name of preferred airline.
          example: Emirates
        rewardsCode:
          type: string
          description: Loyalty program number for the preferred airline.
          example: SKYWARD12345
    AlternateAnswer:
      title: AlternateAnswer
      description: Represents the answer(s) to an alternate travel question submitted by an attendee.
      type: object
      properties:
        value:
          type: array
          description: The set of answers to a single alternate travel question.
          maxItems: 50
          items:
            type: string
            description: A single answer to the alternate travel question.
            example: '1234'
          example:
          - '1234'
    AlternateQuestion:
      title: AlternateQuestion
      description: Represents a reference to an alternate travel question entity, containing only the question ID and text.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the question entity.
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        text:
          type: string
          description: Text of the alternate travel question.
          example: Why are you not booking a hotel with us?
    AlternateTravelDetail:
      title: AlternateTravelDetail
      description: Details of an alternate travel answer submitted by an attendee who opted out of air or hotel bookings.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        attendee:
          $ref: '#/components/schemas/Attendee3'
        requesterId:
          type: string
          format: uuid
          description: ID of the entity this alternate travel belongs to. For an event attendee, this field is contact ID.
            For guest, this field is guest ID.
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        requesterType:
          type: string
          description: Attendee type of the entity this alternate travel belongs to. Contact means the requester is an independent
            attendee. Guest means the attendee is accompanying another attendee.
          enum:
          - Contact
          - Guest
          example: Contact
        travelType:
          type: string
          description: Type of travel alternate question
          enum:
          - AirRequest
          - HotelRequest
          - AirActual
          - GroupFlight
          example: AirRequest
        question:
          $ref: '#/components/schemas/AlternateQuestion'
        answer:
          $ref: '#/components/schemas/AlternateAnswer'
    Attendee3:
      title: Attendee
      description: Representation of the attendee
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
    AttendeeAnswer1:
      title: AttendeeAnswer
      description: Answer for the question answered by attendee.
      required:
      - question
      - value
      type: object
      properties:
        question:
          type: object
          description: The reference to the question entity. Contains only the ID of the question entity.
          properties:
            id:
              type: string
              description: Question ID
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        value:
          type: array
          description: The set of answers to a question.
          items:
            type: string
            description: A question answer
            example: '1234'
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    BaseAddress:
      title: Base Address
      description: Base Address Model
      type: object
      properties:
        address1:
          type: string
          maxLength: 40
          description: The first line of an address.
          example: Cvent Inc.
        address2:
          type: string
          maxLength: 40
          description: The second line of an address.
          example: 4001 West Parmer Lane
        address3:
          type: string
          maxLength: 40
          description: The third line of an address.
          example: PO Box 123
        city:
          type: string
          maxLength: 40
          description: The name of the city.
          example: Austin
        countryCode:
          type: string
          maxLength: 3
          minLength: 2
          description: ISO 3166 two-letter (alpha-2) country code.
          example: US
        postalCode:
          type: string
          maxLength: 25
          description: Postal code (also known as zipcode) of the address.
          example: '78727'
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    FlightDetail:
      title: FlightDetail
      description: Representation of a flight's details.
      type: object
      properties:
        airline:
          type: string
          description: Name of the airline.
          example: Emirates
        flightNumber:
          type: string
          description: Number assigned to a particular flight by the airline.
          example: EK 516
        origin:
          type: string
          description: Origin airport of the flight.
          example: Delhi - Indira Gandhi Intl - (DEL)
        originCode:
          type: string
          description: IATA airport code of the origin airport.
          maxLength: 3
          minLength: 3
          example: DEL
        destination:
          type: string
          description: Destination airport of the flight.
          example: New York - John F Kennedy Intl - (JFK)
        destinationCode:
          type: string
          description: IATA airport code of the destination airport.
          maxLength: 3
          minLength: 3
          example: JFK
        departing:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) of flight departure.
          example: '2023-05-19T00:00:00Z'
        arriving:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) of flight arrival.
          example: '2023-05-19T00:00:00Z'
        seatNumber:
          type: string
          description: Seat number assigned to the passenger.
          example: 21A
        ticketClass:
          type: string
          description: Category of the passenger's ticket.
          example: coach
        flightConfirmationNumber:
          type: string
          description: The airline's flight confirmation number.
          example: 123-456-XYZ
        flightGDSRecordLocator:
          type: string
          description: The unique reservation number associated with the Global Distribution System (GDS) where the flight
            was booked.
          example: ABC123
        journeySegment:
          type: string
          description: Journey Segment
          enum:
          - LeavingEvent
          - GoingToEvent
          - NotApplicable
          example: LeavingEvent
    Gender1:
      title: Gender
      description: Gender of the requester.
      enum:
      - Male
      - Female
      - Non-binary
      - Rather not say
      type: string
      example: Male
    HotelRequest:
      title: HotelRequest
      description: Representation of a hotel request.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        hotelRequestId:
          type: string
          format: uuid
          description: ID of the hotel request.
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        requesterId:
          type: string
          format: uuid
          description: ID of the flight requester. For an event attendee, this field is contact ID. For guest, this field
            is guest ID.
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        requesterType:
          type: string
          description: Attendee type of the hotel requester. Contact means the requester is an independent attendee. Guest
            means the attendee is accompanying another attendee.
          enum:
          - Contact
          - Guest
          example: Contact
        requesterFirstName:
          type: string
          description: First name of the hotel requester.
          example: John
          maxLength: 30
        requesterLastName:
          type: string
          description: Last name of the hotel requester.
          example: Doe
          maxLength: 50
        hotelName:
          type: string
          description: Name of the hotel.
          example: Fairmont Chicago
          maxLength: 100
        hotelCode:
          type: string
          description: Code of the hotel.
          example: 6BNMSHJFSRP
          maxLength: 30
        roomName:
          type: string
          description: Name of the room.
          example: Deluxe Room
          maxLength: 50
        roomCode:
          type: string
          description: Code of the room.
          example: 6BNMSHJFSR
          maxLength: 10
        quantity:
          type: integer
          description: Number of hotel requests made by requester.
          example: 1
        roommateRequested:
          type: string
          description: Name of the roommate requested by requester.
          example: Will Doe
        specialRequest:
          type: string
          description: Any special requests the requester asks of the hotel.
          maxLength: 300
          example: Please provide early check-in.
        rewardsCode:
          type: string
          description: Requesters' reward code for the hotel's loyalty program.
          example: ROYALTY
          maxLength: 50
        checkinDate:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) when the guest will check in to the hotel.
          example: '2023-05-19T00:00:00Z'
        checkoutDate:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) when the guest will check out of the hotel.
          example: '2023-05-20T00:00:00Z'
        smoking:
          type: boolean
          description: True indicates smoking should be allowed in the room.
        cancelled:
          type: boolean
          description: True indicates this hotel request is cancelled.
        status:
          $ref: '#/components/schemas/TravelRequestStatus'
        confirmationNumber:
          type: string
          description: The hotel's confirmation number.
          example: CONFIRM_123
        isADAAccessible:
          type: boolean
          description: True indicate the room should meet the Americans with Disabilities Act (ADA) accessibility requirements.
        shareRoom:
          type: boolean
          description: True indicates the requester wants a roommate.
        roommateLeader:
          type: boolean
          description: True indicates the requester is the roommate in charge of the room.
        gender:
          $ref: '#/components/schemas/Gender1'
        totalAmount:
          type: number
          description: Total cost of the hotel stay.
          example: 500
        currencyCode:
          type: string
          description: ISO 4217 currency code for the cost of the hotel stay.
          example: USD
          maxLength: 3
        roomCharge:
          type: boolean
          description: Specifies if the planner will charge for the hotel.
        roomTaxBillingInstructions:
          type: string
          description: Specifies who the hotel will charge for the room rate's tax.
          example: tax instructions
        incidentalBillingInstructions:
          type: string
          description: Specifies who the hotel will charge incidental (extra) room expenses, like room service or long-distance
            calling.
          example: billing instructions
        plannerMemo:
          type: string
          description: Additional note by, or intended for, event planners.
          maxLength: 300
          example: Planner's notes here.
        earliestShoulderDate:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) when the requester is requesting for an earliest shoulder date.
          example: '2023-05-19T00:00:00Z'
        latestShoulderDate:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) when the requester is requesting for an latest shoulder date.
          example: '2023-05-19T00:00:00Z'
        roomTaxBillingExceptions:
          type: string
          description: Specifies who the hotel will charge for the room rate's tax.
          example: exceptions noted here.
        incidentalBillingExceptions:
          type: string
          description: Specifies who the hotel will charge incidental (extra) room expenses, like room service or long-distance
            calling.
          example: exceptions noted here.
        hotelAddress:
          $ref: '#/components/schemas/Address7'
        hotelRoomRates:
          type: array
          description: Collection of hotel room rates the requester has taken.
          items:
            $ref: '#/components/schemas/HotelRoomRate'
        hotelRequestAnswers:
          type: array
          description: Answer provided by requester to the hotel request related question.
          items:
            $ref: '#/components/schemas/AttendeeAnswer1'
    HotelReservationDetail:
      title: HotelReservationDetail
      description: Representation of a hotel reservation detail response.
      type: object
      properties:
        attendee:
          $ref: '#/components/schemas/Attendee3'
        hotelRequestDetails:
          description: List of all the hotel requests by attendee and its guest.
          type: array
          items:
            $ref: '#/components/schemas/HotelRequest'
    HotelRoomRate:
      title: HotelRoomRate
      description: Representation of a hotel room rate
      type: object
      properties:
        roomNight:
          type: string
          format: date-time
          description: The ISO 8601 date-time (in UTC) of the night for which the room has been booked.
          example: '2023-05-19T00:00:00Z'
        roomRate:
          type: number
          description: The nightly rate at which the room has been booked.
          example: 100
    HousingReservation:
      title: HousingReservation
      description: Representation of the housing reservation details.
      type: object
      properties:
        id:
          type: string
          format: string
          description: Reservation request ID, also known as a bridge ID.
          example: D6A63423-G796
        bookingSite:
          title: Link
          required:
          - href
          type: object
          description: Represents a link to a related resource.
          properties:
            href:
              type: string
              description: URL of the booking site for this reservation request.
              example: https://book.passkey.com/entry?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwYXlsb2FkIjp7ImVudHJ5IjoiUkVHSVNUUkFUSU9OIiwicGFyYW1zIjpbeyJuYW1lIjoiYnJpZGdlSWQiLCJ2YWx1ZSI6IlQ3VFdNTEhQLUdFNEQifV19fQ.7sH1gO_1Aambk-SRRlO2c7ac2DOpqLmCB-zsxB71q_A
    HousingReservationResponse:
      title: HousingReservationResponse
      description: Representation of the reservation request response.
      type: object
      properties:
        attendee:
          $ref: '#/components/schemas/Attendee3'
        reservationRequest:
          $ref: '#/components/schemas/HousingReservation'
        lastModified:
          $ref: '#/components/schemas/lastModified'
    JourneyType:
      title: JourneyType
      description: Type of journey for an air booking.
      type: string
      enum:
      - Oneway
      - RoundTrip
      example: RoundTrip
    LegDetail:
      title: LegDetail
      description: Representation of a leg detail in air request.
      type: object
      properties:
        origin:
          type: string
          description: Name of the airport where the flight of the passenger's journey originates.
          example: Delhi - Indira Gandhi Intl - (DEL)
        destination:
          type: string
          description: Name of the airport where the flight of the passenger's journey ends.
          example: Dubai - International (DXB)
        date:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time (in UTC) of the flight origin.
          example: '2023-05-19T00:00:00Z'
        time:
          type: string
          description: General time of day or specific time when the flight of the passenger's journey starts.
          example: Morning
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the
            previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another
            page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records.
            To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    SeatType:
      title: SeatType
      description: Preferred or assigned seat type for an air booking.
      type: string
      enum:
      - Aisle
      - Window
      example: Window
    TicketType:
      title: TicketType
      description: Category of the passenger's ticket class for an air booking.
      type: string
      enum:
      - Economy/Coach
      - Business
      - FirstClass
      example: Economy/Coach
    TravelRequestStatus:
      title: TravelRequestStatus
      enum:
      - SUBMITTED
      - PROCESSING
      - APPROVED
      - RESERVED
      - DENIED
      - NOT_AVAILABLE
      - CANCELLED
      - PENDING
      - TICKETED
      - WAITLISTED
      type: string
      description: Status of the travel request done by attendee.
      example: SUBMITTED
    air-actual-detail:
      title: AirActualPaginatedResponse
      description: The response from a request to get the list of air actual for the attendees.  This includes the paging
        object as well as the collection of air actual details.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/AirActualDetail'
          description: Collection of air actuals for attendees.
          minItems: 0
          maxItems: 200
    air-reservation-detail:
      title: AirReservationPaginatedResponse
      description: The response from a request to get the list of air reservation for the attendees.  This includes the paging
        object as well as the collection of air actual details.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/AirReservationDetail'
          description: Collection of air reservations for attendees.
    alternate-travel-paginated-response:
      title: AlternateTravelPaginatedResponse
      description: Paginated response containing alternate travel answers submitted by attendees who opt out of air or hotel
        bookings.
      type: object
      required:
      - paging
      - data
      properties:
        paging:
          type: object
          description: Represents pagination information for the list of results.
          allOf:
          - $ref: '#/components/schemas/Paging'
        data:
          type: array
          maxItems: 200
          description: Collection of alternate travel answers for attendees.
          items:
            $ref: '#/components/schemas/AlternateTravelDetail'
    hotel-reservation-detail:
      title: HotelReservationPaginatedResponse
      description: The response from a request to get the list of hotel reservation for the attendees.  This includes the
        paging object as well as the collection of air actual details.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/HotelReservationDetail'
          description: Collection of hotel reservation for attendees.
    lastModified:
      type: string
      format: date-time
      description: The ISO 8601 zoned date time when this record was updated.
      readOnly: true
      example: '2019-02-12T03:00:00Z'
    reservation-request-paginated-response:
      title: HousingReservationPaginatedResponse
      description: The response from a request to get the list of housing reservation request details for the attendees. This
        includes the paging object as well as the collection of housing reservation request details.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/HousingReservationResponse'
          description: Collection of reservation request details for attendees.
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier
              chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel
              supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question
              data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account
              data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
x-generated-from: openapi/_original/cvent-rest-apis-openapi.yaml
x-source-url: https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml
x-generated-date: '2026-09-07'
x-method: searched
