openapi: 3.2.0
info:
  title: Cvent Registration REST Exhibitors API
  version: v2
  description: 'Registration surface of the Cvent Platform REST API — manage

    events, registration types, contacts, attendees, and webhook

    subscriptions for registration lifecycle events.'
  contact:
    name: Cvent Developer Portal
    url: https://developers.cvent.com
  license:
    name: Proprietary
servers:
- url: https://api-platform.cvent.com
  description: Cvent Platform REST API (US/global)
- url: https://api-platform-eur.cvent.com
  description: Cvent Platform REST API (EMEA)
security:
- OAuth2ClientCredentials: []
tags:
- name: Exhibitors
  description: Exhibitor management
paths:
  /ea/events/{eventId}/exhibitors:
    parameters:
    - $ref: '#/components/parameters/EventId'
    get:
      tags:
      - Exhibitors
      summary: List exhibitors
      responses:
        '200':
          description: Exhibitors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Exhibitor'
      operationId: getEaEventsByEventIdExhibitors
      x-operation-id-source: derived
components:
  schemas:
    Exhibitor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        boothNumber:
          type: string
  parameters:
    EventId:
      in: path
      name: eventId
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            event/events:read: Read events
            event/events:write: Write events
            event/contacts:read: Read contacts
            event/contacts:write: Write contacts
            event/attendees:read: Read attendees
            event/attendees:write: Write attendees
            event/sessions:read: Read sessions
            event/registration-types:read: Read registration types
            event/custom-fields:read: Read custom fields
    BasicAuth:
      type: http
      scheme: basic
      description: Client ID / client secret Basic auth used only for the /ea/oauth2/token call.
externalDocs:
  description: Cvent Platform REST API documentation
  url: https://developers.cvent.com/docs/rest-api/overview
