openapi: 3.2.0
info:
  title: Cvent Registration REST Webhooks API
  version: v2
  description: 'Registration surface of the Cvent Platform REST API — manage

    events, registration types, contacts, attendees, and webhook

    subscriptions for registration lifecycle events.'
  contact:
    name: Cvent Developer Portal
    url: https://developers.cvent.com
  license:
    name: Proprietary
servers:
- url: https://api-platform.cvent.com
  description: Cvent Platform REST API (US/global)
- url: https://api-platform-eur.cvent.com
  description: Cvent Platform REST API (EMEA)
security:
- OAuth2ClientCredentials: []
tags:
- name: Webhooks
  description: Webhook subscriptions
paths:
  /ea/webhooks:
    get:
      tags:
      - Webhooks
      summary: List webhook subscriptions
      responses:
        '200':
          description: Webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
      operationId: getEaWebhooks
      x-operation-id-source: derived
    post:
      tags:
      - Webhooks
      summary: Create webhook subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Webhook subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      operationId: postEaWebhooks
      x-operation-id-source: derived
components:
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        active:
          type: boolean
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            event/events:read: Read events
            event/events:write: Write events
            event/contacts:read: Read contacts
            event/contacts:write: Write contacts
            event/attendees:read: Read attendees
            event/attendees:write: Write attendees
            event/sessions:read: Read sessions
            event/registration-types:read: Read registration types
            event/custom-fields:read: Read custom fields
    BasicAuth:
      type: http
      scheme: basic
      description: Client ID / client secret Basic auth used only for the /ea/oauth2/token call.
externalDocs:
  description: Cvent Platform REST API documentation
  url: https://developers.cvent.com/docs/rest-api/overview
