openapi: 3.2.0
info:
  title: Cvent REST Meeting Request API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Meeting Request
  description: When planning an event, meeting request forms are customizable online questionnaires to capture information about the event and facilitate the approval of events. When a meeting request form is submitted it becomes a meeting request. Use this API to view forms, create meeting requests and track the status of meeting requests. **Legacy meeting request forms are not supported by this API.**
paths:
  /events/{id}/meeting-requests:
    get:
      tags:
      - Meeting Request
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:read
      - OAuth2.authorizationCode:
        - event/meeting-requests:read
      summary: Get MR by Event ID
      description: Gets a meeting request connected to a given event.
      operationId: getMeetingRequestByEventId
      parameters:
      - name: id
        in: path
        required: true
        description: ID of an event.
        schema:
          $ref: '#/components/schemas/uuid-property'
      responses:
        '200':
          description: Successfully retrieved a meeting request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /meeting-request-forms:
    get:
      tags:
      - Meeting Request
      security:
      - OAuth2.clientCredentials:
        - event/meeting-request-forms:read
      - OAuth2.authorizationCode:
        - event/meeting-request-forms:read
      parameters:
      - $ref: '#/components/parameters/limit3'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison operators. The filter adheres to the pattern filter='field' comparisonType 'value'.\nThis is the comparison type that can be used in filter expressions:\n  * equal: eq\n\nThe following field is filterable:\n  * active (eq)\n"
        schema:
          type: string
          example: active eq 'true'
      summary: List MR Forms
      description: Get a paginated list of meeting request forms.
      operationId: listMRF
      responses:
        '200':
          description: Successfully retrieved a paginated list of meeting request forms.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-form-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /meeting-request-forms/{id}:
    parameters:
    - name: id
      in: path
      description: ID of a meeting request form.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    get:
      tags:
      - Meeting Request
      security:
      - OAuth2.clientCredentials:
        - event/meeting-request-forms:read
      - OAuth2.authorizationCode:
        - event/meeting-request-forms:read
      summary: Get MR Form
      description: Get a single meeting request form by ID.
      operationId: getMRFById
      responses:
        '200':
          description: Successfully retrieved a meeting request form.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-form'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '422':
          $ref: '#/components/responses/UnprocessableEntity1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /meeting-request-forms/{id}/requests:
    parameters:
    - name: id
      required: true
      description: Meeting request form ID.
      in: path
      schema:
        $ref: '#/components/schemas/uuid-property'
    post:
      tags:
      - Meeting Request
      operationId: createMeetingRequest
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:write
      - OAuth2.authorizationCode:
        - event/meeting-requests:write
      summary: Create MR (Bulk)
      description: 'Creates a collection of meeting requests for a given active form. For complex questions such as Meeting Room Requirements, Sleeping Room Requirements, or Budget Estimates, send the answer as a JSON-serialized string. See the question schema and the Complex Questions Guide for details.


        **Note:** If the meeting request form is configured to auto-create an event upon submission, the `event.id` field may not be populated in the response at the time of initial creation. Event creation is processed asynchronously after the meeting request is saved. To retrieve the associated event ID once it is available, poll the Get MR endpoint.'
      parameters:
      - in: query
        name: skipRequiredQuestionValidation
        required: false
        schema:
          type: boolean
        description: Flag `true` to skip required field validation.
      requestBody:
        description: Up to **5 meeting requests** can be created per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meeting-request-bulk-create'
        required: true
      responses:
        '207':
          description: Meeting request(s) were successfully created.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      tags:
      - Meeting Request
      operationId: updateMeetingRequest
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:write
      - OAuth2.authorizationCode:
        - event/meeting-requests:write
      summary: Update MR (Bulk)
      description: 'Updates a collection of meeting requests for a given form, adding information to the existing meeting requests. For complex questions such as Meeting Room Requirements, Sleeping Room Requirements, or Budget Estimates, send the answer as a JSON-serialized string. See the question schema and the Complex Questions Guide for details.


        **Note:** If the meeting request form is configured to auto-create an event upon submission, the `event.id` field may not be populated in the response at the time of the update. Event creation is processed asynchronously after the meeting request is saved. To retrieve the associated event ID once it is available, poll the Get MR endpoint.'
      parameters:
      - in: query
        name: skipRequiredQuestionValidation
        required: false
        schema:
          type: boolean
        description: Flag `true` to skip required field validation.
      requestBody:
        description: Up to **5 meeting requests** can be updated per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/meeting-request-bulk-update'
        required: true
      responses:
        '207':
          description: Meeting request was successfully updated.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      tags:
      - Meeting Request
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:read
      - OAuth2.authorizationCode:
        - event/meeting-requests:read
      summary: List MR
      description: Gets a paginated list of meeting requests for a given form.
      operationId: listMeetingRequest
      parameters:
      - $ref: '#/components/parameters/limit3'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison operators. The filter adheres to the pattern filter='field' comparisonType 'value'.\nThese are the comparison types that can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n\nThe following fields are filterable:\n  * meeting-request.id (eq)\n  * sourceId (eq)\n  * status (eq|ne)\n"
        schema:
          type: string
          example: meeting-request.id eq '775b7a6c-de7f-4dfe-8d16-966acdc0e848'
      responses:
        '200':
          description: Successfully retrieved a paginated list of meeting requests.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /meeting-request-forms/{id}/requests/{requestId}:
    parameters:
    - name: id
      required: true
      description: The meeting request form ID.
      in: path
      schema:
        $ref: '#/components/schemas/uuid-property'
    - name: requestId
      required: true
      description: The meeting request ID.
      in: path
      schema:
        $ref: '#/components/schemas/uuid-property'
    get:
      tags:
      - Meeting Request
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:read
      - OAuth2.authorizationCode:
        - event/meeting-requests:read
      summary: Get MR
      description: Gets a single meeting request by ID.
      operationId: getMeetingRequestById
      responses:
        '200':
          description: Successfully retrieved a meeting request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /meeting-requests/{requestId}/documents:
    parameters:
    - name: requestId
      in: path
      required: true
      description: Meeting request ID.
      schema:
        $ref: '#/components/schemas/uuid-property'
    get:
      tags:
      - Meeting Request
      summary: List MR Documents
      description: Gets a paginated list of documents for a given meeting request ID. When a meeting request form is submitted, it becomes a meeting request. Some meeting requests have document attachments.
      operationId: listMeetingRequestDocuments
      security:
      - OAuth2.clientCredentials:
        - event/meeting-requests:read
      - OAuth2.authorizationCode:
        - event/meeting-requests:read
      parameters:
      - name: limit
        in: query
        required: false
        description: The maximum number of Documents that can be fetched at once.
        schema:
          type: integer
          maximum: 20
          minimum: 1
          default: 10
      - $ref: '#/components/parameters/token'
      - name: includeReferenceLink
        in: query
        required: false
        description: Set to `false` to exclude the field `referenceLink` from the response.
        schema:
          type: boolean
          default: true
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison operators. The filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThe following comparison types can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * greater or equal: ge\n  * less than or equal: le\n\nThe following fields are filterable:\n  * id (eq|ne)\n  * name (eq|ne)\n  * lastModified (le|ge)\n"
        schema:
          type: string
          example: lastModified lt '2024-12-12T03:00:00Z'
      responses:
        '200':
          description: Successfully retrieved the paginated list of documents for the meeting request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/meeting-request-document-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
components:
  schemas:
    meeting-request-document-paginated-response:
      title: MeetingRequestDocumentPaginatedResponse
      description: Paginated collection of meeting request documents.
      required:
      - data
      - paging
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/MeetingRequestDocument'
          description: Collection of meeting request object documents.
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    BudgetCostType:
      title: BudgetCostType
      enum:
      - FIXED
      - VARIABLE
      type: string
      description: Denotes the cost type of a budget item. FIXED costs stay the same regardless of quantity. VARIABLE costs are based on a quantity.
      example: FIXED
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    meeting-request-bulk-create:
      title: MeetingRequestBulkCreate
      description: Meeting requests to create.
      type: array
      items:
        $ref: '#/components/schemas/MeetingRequestCreate'
    MeetingRequestCreate:
      title: MeetingRequestCreate
      description: A meeting request to create.
      type: object
      required:
      - name
      - questions
      properties:
        name:
          type: string
          description: The name of the specific meeting request.
          example: '####test'
        sourceId:
          type: string
          description: 'The ID for the meeting request in an external system. NOTE: This value is expected to be unique for each meeting request within an account. Consider adding the external system name as part of the ID.'
          example: sourceId12
        questions:
          description: Questions for the meeting request.
          type: array
          items:
            $ref: '#/components/schemas/MeetingRequestQuestion'
    MeetingRequestCustomField:
      title: MeetingRequestCustomField
      description: Custom field for a meeting request.
      required:
      - id
      allOf:
      - $ref: '#/components/schemas/CustomField'
      properties:
        field:
          type: boolean
          description: True indicates the question is of the field type.
          example: true
        fieldName:
          type: string
          description: The fixed field name.
          example: Event Theme Color
        name:
          type: string
          description: The displayed field name which can be customized.
          readOnly: true
          example: What is your favorite color?
        hidden:
          type: boolean
          description: True indicates a question on the meeting request form should be hidden from the user filling out the meeting request.
          example: false
        required:
          type: boolean
          description: True indicates the given question must be answered.
          example: true
        minLength:
          type: number
          description: The minimum length of a text field.
          example: 0
        maxLength:
          type: number
          description: The maximum length of a text field.
          example: 100
        minChoice:
          type: number
          description: The minimum number of choices required for a multi-choice field.
          example: 0
        maxChoice:
          type: number
          description: The maximum number of choices allowed for a multi-choice field.
          example: 10
        minDate:
          type: string
          description: The ISO 8601 minimum date value for a date field.
          example: '1970-12-23'
        maxDate:
          type: string
          description: The ISO 8601 maximum date value for a date field.
          example: '2100-12-31'
        answerTypes:
          description: List of non-null answer types applicable to the question, such as `Other` or `NA`. This field is omitted when no non-default answer type is defined for the question.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/AnswerType1'
    MeetingRequestDocument:
      title: MeetingRequestDocument
      description: Document attached to a meeting request that can be downloaded.
      type: object
      allOf:
      - $ref: '#/components/schemas/Document'
      - properties:
          mimeType:
            type: string
            description: The MIME type of the document
            example: application/pdf
          referenceLink:
            $ref: '#/components/schemas/MeetingRequestDocumentReferenceLink'
          meetingRequest:
            type: object
            description: The meeting request this document is attached to.
            properties:
              id:
                description: Meeting Request ID.
                type: string
                format: uuid
    meeting-request-bulk-response:
      title: MeetingRequestBulkResponse
      description: Created meeting requests.
      type: array
      items:
        $ref: '#/components/schemas/MeetingRequestBulkResponseItem'
    Document:
      title: document
      description: The base model for the document metadata.
      type: object
      required:
      - id
      properties:
        id:
          description: Unique identifier of the document.
          type: string
          format: uuid
        name:
          type: string
          maxLength: 255
          description: Name of the document.
          example: Agenda
        size:
          type: integer
          description: Size of the document in bytes
          example: 204800
        uploaded:
          type: string
          format: date-time
          description: The ISO-8601 formatted date and time when the document was uploaded.
          example: '2024-06-15T13:45:30Z'
        uploadedBy:
          type: string
          description: The user who uploaded the document.
          example: John Doe
        lastModified:
          type: string
          format: date-time
          description: The ISO-8601 formatted date and time when this document was last updated.
          example: '2024-10-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The user who last updated the document.
          example: John Doe
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    SleepingRoomRequirement:
      title: SleepingRoomRequirement
      description: The requirements of a sleeping room on the specified date.
      required:
      - date
      properties:
        date:
          type: string
          description: The date for the sleeping room, in format of YYYY-MM-DD.
          example: '2099-12-11'
        any:
          type: integer
          description: The number of any sleeping rooms.
          example: 10
        single:
          type: integer
          description: The number of 1 bed sleeping rooms.
          example: 10
        double:
          type: integer
          description: The number of 2 beds sleeping rooms.
          example: 10
        suite:
          type: integer
          description: The number of suite sleeping rooms.
          example: 10
        staff:
          type: integer
          description: The number of sleeping rooms for staff.
          example: 10
    MeetingRoomAgendaItemType:
      title: MeetingRoomAgendaItemType
      description: Defines the agenda item types of a meeting room requirement.
      example: Breakout
      readOnly: true
      enum:
      - Break
      - Breakfast
      - Breakout
      - Dinner
      - Exhibit
      - General Session
      - Hospitality Desk
      - Hospitality Suite
      - Lunch
      - Meeting
      - Office
      - Other
      - Reception
      - Registration
      - Setup
      - Snack
      - Speaker Room
      - Storage Room
      - Teardown
    MeetingRequestDocumentReferenceLink:
      title: MeetingRequestDocumentReferenceLink
      description: A reference link contains the URL that provides direct access to download the file for the document. The expiration of the URL can be included if applicable.
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The URL to download the file resource for the document. This URL will expire after the time indicated by the field expiration. If not provided, the URL is considered dynamic and not guaranteed to remain constant. Clients should always retrieve the latest URL before attempting to download the file, as it may change over time.
          example: https://custom.cvent.com/4B31940730B6475A8D6A7785748A67EE/files/smm/8cfc2168a00342f5ba9e13f7a808df8e/78ce60fbf1da4cf5af139a65f59aed60.pdf
        expiration:
          type: string
          format: date-time
          description: The ISO 8601 formatted date and time at which the reference document will expire if an explicit expiration is defined.
          example: '2025-12-31T23:59:59Z'
    BudgetSubCategory:
      title: BudgetSubCategory
      type: object
      description: This is used to denote the sub category for a budget.
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        name:
          type: string
          description: Name of the budget subcategory assigned to the budget item.
          readOnly: true
          example: utilities
    CustomField:
      title: CustomField
      description: A Custom Field
      type: object
      allOf:
      - $ref: '#/components/schemas/CustomFieldBase'
      properties:
        type:
          description: The type of data collected by a custom field.
          type: string
          allOf:
          - $ref: '#/components/schemas/CustomFieldType'
          - readOnly: true
            example: MultiSelect
    CompositeValue:
      title: CompositeValue
      description: 'The structured representation of a complex question answer. Contains the same data as `value`, parsed into typed objects instead of JSON-serialized strings. This field is **read-only** — to write complex question answers, use `value` instead.


        The structure of the array depends on the question `type`.'
      oneOf:
      - type: array
        title: Meeting Room Requirement Set
        items:
          $ref: '#/components/schemas/MeetingRoomRequirement'
      - type: array
        title: Sleeping Room Requirement Set
        items:
          $ref: '#/components/schemas/SleepingRoomRequirement'
      - type: array
        title: Budget Estimate Set
        items:
          $ref: '#/components/schemas/BudgetEstimate'
      readOnly: true
    MeetingRoomRequirement:
      title: MeetingRoomRequirement
      description: The requirement of a meeting room on the specified date.
      required:
      - date
      properties:
        date:
          type: string
          description: The date for the meeting room, in format of YYYY-MM-DD.
          example: '2099-12-11'
        startTime:
          type: string
          description: The start time for the meeting room, in format of HH:MM:SS.
          example: 09:30:00
        endTime:
          type: string
          description: The end time for the meeting room, in format of HH:MM:SS.
          example: '14:45:00'
        agendaItem:
          type: string
          description: The agenda item for the meeting room.
          example: Meeting Room Agenda point 1.
        agendaItemType:
          type: array
          description: For the meeting requests, this is the selection of agenda item type. In this case, up to one agenda item type is allowed. For the meeting request forms, this is the list of all the available agenda item types.
          items:
            $ref: '#/components/schemas/MeetingRoomAgendaItemType'
        setupType:
          type: array
          description: For the meeting requests, this is the selection of setup type. In this case, up to one setup type is allowed. For the meeting request forms, this is the list of all the available setup types.
          items:
            $ref: '#/components/schemas/MeetingRoomSetupType'
        roomSize:
          type: number
          description: The size of the meeting room. It can be in any measurement the user chooses, e.g., square feet, number of seats, number of tables, etc.
          example: 100
        numberOfPeople:
          type: integer
          description: The number of people for the meeting room.
          example: 250
        twentyFourHourHold:
          type: boolean
          description: True indicates the meeting room is held for 24 hours.
          example: false
        note:
          type: string
          description: The meeting room requirement note.
          example: Meeting room note.
    meeting-request-form-paginated-response:
      title: MeetingRequestFormResponse
      description: The response from a request to get the list of meeting request forms. This includes the paging object as well as the collection of meeting request forms.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/meeting-request-form'
          description: Collection of meeting request form objects.
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    MeetingRoomSetupType:
      title: MeetingRoomSetupType
      description: Defines the setup types of a meeting room requirement.
      example: Classroom
      readOnly: true
      enum:
      - 10x10
      - 8x10
      - Buffet
      - Cabaret
      - Chevron
      - Classroom
      - Conference
      - Crescent Rounds
      - Flow
      - Herringbone
      - Hollow Square
      - Island
      - Other
      - Peninsula
      - Plated
      - Reception
      - Rounds
      - Rounds of 10
      - Rounds of 6
      - Rounds of 8
      - School Room
      - Tabletop
      - Theater
      - T-Shaped
      - U-Shaped
    meeting-request:
      title: MeetingRequest
      description: A meeting request.
      required:
      - id
      - name
      - meetingRequestForm
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          type: string
          description: The unique ID representing the meeting request.
          readOnly: true
          example: 017f1149-0f3a-4531-b1aa-6f66a6cb04f3
        name:
          type: string
          description: The name of the specific meeting request.
          example: Limited MR
        status:
          $ref: '#/components/schemas/MeetingRequestStatus'
        statusNote:
          type: string
          description: The note about the status.
          example: The status indicates that the request is submitted to accounting
        meetingRequestForm:
          type: object
          description: The meeting request form the request is associated with.
          properties:
            id:
              type: string
              format: uuid
              description: Meeting Request form ID.
            name:
              type: string
              description: The name of the meeting request form.
              example: Annual Sales Meeting Request Form
        questions:
          type: array
          items:
            $ref: '#/components/schemas/MeetingRequestQuestion'
          description: The list of possible answers to a question.
        event:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Event ID. This field may be absent immediately after creation when the meeting request form is configured to auto-create an event on submission, as event creation is processed asynchronously.
          description: The event the request is associated with.
        sourceId:
          type: string
          description: 'The ID for the meeting request in an external system. NOTE: This value is expected to be unique for each meeting request within an account. Consider adding the external system name as part of the ID.'
          example: sourceId12
        code:
          type: string
          description: The meeting request code for reference.
          example: VPNH3JGMTND
        archiveDate:
          type: string
          description: The ISO 8601 zoned date time when this request was archived.
          example: '2017-01-02T02:00:00Z'
    BudgetCostDetail1:
      title: BudgetCostDetail
      description: The budget entry in detail, which consists of the budget category or sub-category, the number of units, the cost per unit, and the total amount.
      properties:
        category:
          $ref: '#/components/schemas/BudgetCategory'
        subCategory:
          $ref: '#/components/schemas/BudgetSubCategory'
        units:
          type: number
          description: The number of units associated with a budget item. This field can be any number if the budget item is a *Variable* cost type. If the budget item uses a *Fixed* cost type, set this field to 1.
          example: 5.2
        cost:
          type: number
          description: The cost amount of the budget item. If the budget item uses a *Fixed* cost type, the value of this field won't be applied to the creation or update of a Meeting Request.
          example: 100.5
        totalCost:
          type: number
          description: The total cost of the budget item. If the budget item uses a *Variable* cost type, this field will be set as the result of units times cost. The value of this field will be applied to the creation or update of a Meeting Request only if the cost type is *Fixed*.
          example: 100.5
          readOnly: true
    meeting-request-bulk-update:
      title: MeetingRequestBulkUpdate
      description: Meeting requests to update.
      type: array
      items:
        $ref: '#/components/schemas/MeetingRequestUpdate'
    MeetingRequestUpdate:
      title: MeetingRequestUpdate
      description: An updated meeting request.
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: The ID of a meeting request.
          example: 017f1149-0f3a-4531-b1aa-6f66a6cb04f3
        name:
          type: string
          description: The name of the specific meeting request.
          example: Limited MR
        questions:
          description: Questions for the meeting request.
          type: array
          items:
            $ref: '#/components/schemas/MeetingRequestQuestion'
        status:
          $ref: '#/components/schemas/MeetingRequestStatus'
        sourceId:
          type: string
          description: 'The ID for the meeting request in an external system. NOTE: This value is expected to be unique for each meeting request within an account. Consider adding the external system name as part of the ID.'
          example: sourceId12
        statusNote:
          type: string
          description: The note about the status.
          example: The status indicates that the request is submitted to accounting
    meeting-request-form:
      title: MeetingRequestForm
      description: A meeting request form.
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: The ID of the meeting request form.
          readOnly: true
          example: 9c97eb50-9f88-4972-a603-f617fc3258dd
        name:
          type: string
          description: User-defined name of the meeting request form.
          example: Request for Medical Meetups
        statuses:
          type: array
          items:
            type: string
            example: Declined
          description: User-defined list of statuses for the meeting request form.
        active:
          type: boolean
          description: A boolean indicating a meeting request form's active status. When true, the meeting request form is available for new request submissions. When false, only updates can be made to existing requests for this form
          example: true
        questions:
          type: array
          items:
            $ref: '#/components/schemas/MeetingRequestCustomField'
          description: The list of questions that will need to be answered by someone creating a meeting request from this form.
    SecondaryValue:
      title: SecondaryValue
      description: The secondary value of the question. This can be the other answer of choice questions which have `Other` as an answer type.
      type: string
      example: The other answer for the question.
    MeetingRequestBulkResponseItem:
      title: MeetingRequestBulkResponseItem
      description: Represents a single meeting request that's returned as part of a bulk request call.
      type: object
      required:
      - status
      - data
      properties:
        data:
          $ref: '#/components/schemas/meeting-request'
        status:
          type: integer
          description: HTTP status code representing the processing status of a single item.
          example: 200
        message:
          type: string
          description: Quick description of what happened during processing.
          example: Successful
        request:
          description: The processed request tied to this response. This field is only sent when processing fails.
          example: Example request information.
          anyOf:
          - type: object
          - type: string
          - type: number
          - type: integer
          - type: boolean
      additionalProperties: false
    CustomFieldBase:
      title: CustomFieldBase
      description: Base schema for Custom Field - allows type to be customized by extending schemas
      required:
      - id
      - value
      type: object
      properties:
        id:
          type: string
          description: The unique ID representing this custom field.
          format: uuid
        name:
          type: string
          description: The actual text of the custom field.
          example: What is your favorite color?
          readOnly: true
        value:
          type: array
          uniqueItems: true
          items:
            type: string
            description: A question answer value
            maxLength: 16000
          description: The set of answers or possible answers to a question.
          example:
          - Choice C
          - Choice A
        order:
          type: integer
          description: The order of this question in the bigger list of questions.
          example: 1
          readOnly: true
    CustomFieldType:
      title: CustomFieldType
      enum:
      - AutoIncrement
      - ConsentQuestion
      - Currency
      - Decimal
      - Date
      - DateTime
      - Email
      - FileUpload
      - FreeText
      - General
      - MultiChoice
      - MultiSelect
      - Number
      - OpenEndedDateTime
      - OpenEndedText
      - SingleChoice
      - SingleSelect
      - USPhoneNumber
      - Unknown
      type: string
      description: The type of data collected by a custom field.
      example: General
    meeting-request-paginated-response:
      title: MeetingRequestPaginatedResponse
      description: Paginated collection of meeting requests.
      required:
      - data
      - paging
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/meeting-request'
          description: Collection of meeting request objects.
    QuestionType1:
      title: QuestionType
      enum:
      - AutoIncrement
      - BudgetEstimates
      - ConsentQuestion
      - Country
      - Currency
      - Decimal
      - Date
      - DateTime
      - Email
      - FileUpload
      - FreeText
      - General
      - Number
      - MeetingRoomRequirements
      - MultiSelect
      - SingleSelect
      - SleepingRoomRequirements
      - USPhoneNumber
      - Unknown
      type: string
      description: Denotes the type of data collected by a question.
      example: SingleSelect
      readOnly: true
    MeetingRequestQuestion:
      title: MeetingRequestQuestion
      description: A question and its answer for a meeting request. Some questions have fixed, well-known IDs that are the same across all accounts. Use the `type` field or the question `id` to determine the format of the `value` array.
      required:
      - id
      - value
      properties:
        id:
          type: string
          description: 'The unique ID of the question. Some questions have fixed, well-known IDs shared across all accounts:

            * Event Country/Region — `da9a6706-7af3-42fc-b2c1-708050a791c1`

            * Requester Country/Region — `d8fa449b-ec97-4e91-8193-b753df11e064`

            * Stakeholder Country/Region — `ddd9035a-44a2-49b0-8d31-66cdca0c13c7`

            * Meeting Room Requirements — `9a224e41-58d9-43a2-ae59-6d1aa16442ce`

            * Sleeping Room Requirements — `cc63aa7c-0800-4fa5-a04b-073793e197f3`

            * Budget Estimates — `1479fb2d-e94c-4bfb-a63f-4af808a22160`'
          format: uuid
          example: f1ea56cd-6860-4f1a-baf7-973118384384
        name:
          type: string
          description: The display text of the question.
          example: What is your favorite color?
          readOnly: true
        type:
          $ref: '#/components/schemas/QuestionType1'
        value:
          type: array
          uniqueItems: true
          items:
            type: string
            example: Green
          description: 'An array of non-null answers to the question. The format of each item depends on the question `type`.


            **Standard questions:** Each item is a plain string (for example, `"Green"`).


            **Country/Region questions (`type: Country`):** Each item is either a country name (for example, `"Canada"`) or a country code (for example, `"CA"`). Clients should provide either country names or country codes, but not both formats in the same request. See the Country Codes reference for the list of supported country codes and corresponding country names.


            **Complex questions (`type: MeetingRoomRequirements`, `SleepingRoomRequirements`, or `BudgetEstimates`):** Each item is a JSON-serialized string. See `compositeValue` for the same data in parsed form.'
        answerType:
          $ref: '#/components/schemas/AnswerType1'
        secondaryValue:
          $ref: '#/components/schemas/SecondaryValue'
        compositeValue:
          $ref: '#/components/schemas/CompositeValue'
    AnswerType1:
      title: AnswerType
      description: 'Indicates the type of the answer, which determines how the `value` and `secondaryValue` fields are interpreted.


        Set to **"Other"** when the question has the **"Other"** choice option enabled, indicating the answer in the **"secondaryValue"** field is a free-text response to that option.


        Set to **"NA"** when the question has the **"N/A"** choice option enabled, to indicate an N/A type answer; in this case, `value` is omitted.


        In all other cases, `answerType` is not expected to be set.'
      type: string
      enum:
      - Other
      - NA
      example: Other
    MeetingRequestStatus:
      title: MeetingRequestStatus
      description: The user-defined status of the meeting request. Possible statuses for requests are defined by the user at meeting request form creation.
      type: string
      example: Submitted to Accounting
    BudgetEstimate:
      title: BudgetEstimate
      description: The estimated budget of the Meeting Request.
      properties:
        currency:
          type: string
          description: 'The ISO 4217 standard format currency code used for this budget. Note: the allowed currencies are configured per account. A **BAD REQUEST (400)** error will be returned if the specified currency is not allowed for the account during the creation or update of the Meeting Request.'
          example: USD
        costType:
          $ref: '#/components/schemas/BudgetCostType'
        costDetail:
          type: array
          title: Cost Detail
          description: A list of budget entry details. Each entry consists of the budget category or sub-category, the number of units, the cost per unit, and the total amount.
          items:
            $ref: '#/components/schemas/BudgetCostDetail1'
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    BudgetCategory:
      title: BudgetCategory
      description: Denotes the category assigned to the budget item.
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          description: Unique identifier of the budget category.
          example: 3
        name:
          type: string
          description: Name of the budget category assigned to the budget item.
          example: Travel
          readOnly: true
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    UnprocessableEntity1:
      description: Was not able to process the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 422
            message: Unprocessable Entity
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  parameters:
    limit3:
      name: limit
      in: query
      style: form
      explode: true
      description: The maximum number of requests or forms that can be fetched at once.
      schema:
        maximum: 20
        minimum: 1
        type: integer
        default: 10
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
