openapi: 3.0.2
info:
  title: Cvent Registration Orders and Transactions API
  version: ea
  description: 'Registration-surface slice of the official Cvent REST APIs OpenAPI, filtered to the ''Orders'', ''Transactions''
    tag(s).

    Derived verbatim (operations, schemas, parameters and responses copied unchanged) from Cvent''s own published contract
    at https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml — the spec Cvent generates its official
    TypeScript, Java and C# SDKs from.

    Full platform description, authentication, pagination, filtering, rate-limit and versioning narrative lives in openapi/_original/cvent-rest-apis-openapi.yaml.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Orders
  description: Orders represent a collection of order items purchased by an attendee. Use these APIs to get information about
    orders and order items.
- name: Transactions
  description: Transactions represent the financial exchanges that occur within your account. Use these APIs to retrieve and
    manage transaction data, including charges, refunds, and adjustments associated with your events and attendees.
paths:
  /orders:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: List Account Orders
      description: 'Gets a paginated list of orders in the account. Results are returned in ascending `lastModified` order,
        with a stable internal tie-breaker applied to guarantee a deterministic total order across pages. Ordering is not
        client-configurable. Newly created or updated orders may not be immediately reflected in the response.

        '
      operationId: getAccountOrders
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | event.id     | `eq`, `ne`                         |

          | type         | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: filter=event.id eq '7e8a9c45-2f1b-4d3e-9a67-8b5c4f2e1a90'
      - $ref: '#/components/parameters/deleted'
      tags:
      - Orders
      responses:
        '200':
          description: Successfully retrieved a Paginated list of Orders in the account.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-details-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /orders/{orderId}:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: Get Order
      description: Gets the order for a given orderId. Newly created or updated orders may not be immediately reflected in
        the response.
      operationId: getAccountOrderById
      parameters:
      - $ref: '#/components/parameters/orderId'
      tags:
      - Orders
      responses:
        '200':
          description: Successfully retrieved the order for a given orderId.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-detail'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /orders/{orderId}/items:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: List Account Order Items
      description: 'Gets a paginated list of order items for a given orderId in the account. Results are returned in ascending
        `lastModified` order, with a stable internal tie-breaker applied to guarantee a deterministic total order across pages.
        Ordering is not client-configurable. Newly created or updated order items may not be immediately reflected in the
        response.

        '
      operationId: getAccountOrderItemsByOrderId
      parameters:
      - $ref: '#/components/parameters/orderId'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `ne`                         |

          | product.id   | `eq`, `ne`                         |

          | product.type | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: id eq 'f82ea335-3844-47bf-92f6-4e00d60f7800' AND (created lt '2025-08-19T20:43:13.000Z' OR created gt '2023-08-19T20:43:13.000Z')
      - $ref: '#/components/parameters/deleted'
      tags:
      - Orders
      responses:
        '200':
          description: Successfully retrieved a Paginated list of order items for a given orderId in the account.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-items-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /orders/{orderId}/items/{orderItemId}:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/orders:read
      - OAuth2.authorizationCode:
        - event/orders:read
      summary: Get Order Item
      description: Gets a order item for a given orderItemId in the account. Newly created or updated order items may not
        be immediately reflected in the response.
      operationId: getAccountOrderItem
      parameters:
      - $ref: '#/components/parameters/orderId'
      - $ref: '#/components/parameters/orderItemId'
      tags:
      - Orders
      responses:
        '200':
          description: Successfully retrieved an order item for a given orderItemId for a given orderId in the account.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order-item-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /transactions:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: List Account Transactions
      description: Gets a paginated list of transactions in the account. Results are returned in ascending `lastModified`
        order, with a stable internal tie-breaker applied to guarantee a deterministic total order across pages. Ordering
        is not client-configurable. Newly created or updated transaction records might not appear immediately in query results.
      operationId: getAccountTransactions
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field                  | Operators                          |

          |------------------------|------------------------------------|

          | id                     | `eq`, `ne`                         |

          | processorTransactionId | `eq`, `ne`                         |

          | attendee.id            | `eq`, `ne`                         |

          | event.id               | `eq`, `ne`                         |

          | success                | `eq`, `ne`                         |

          | paymentType            | `eq`, `ne`                         |

          | created                | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified           | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: event.id eq '7e8a9c45-2f1b-4d3e-9a67-8b5c4f2e1a90' AND (paymentType eq 'Online Charge' OR paymentType eq
          'Online Refund')
      tags:
      - Transactions
      responses:
        '200':
          description: Successfully retrieved a paginated list of transactions in the account.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-details-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /transactions/{transactionId}:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: Get Transaction
      description: Gets the transaction for a given transactionId. Newly created or updated transaction records might not
        appear immediately in query results.
      operationId: getTransaction
      parameters:
      - $ref: '#/components/parameters/transactionId'
      tags:
      - Transactions
      responses:
        '200':
          description: Successfully retrieved the transaction for a given transactionId.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-detail-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /transactions/{transactionId}/items:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: List Account Transaction Items
      description: Gets a paginated list of transaction items for a given transactionId in the account. Results are returned
        in ascending `lastModified` order, with a stable internal tie-breaker applied to guarantee a deterministic total order
        across pages. Ordering is not client-configurable. Newly created or updated transaction item records might not appear
        immediately in query results.
      operationId: getAccountTransactionItems
      parameters:
      - $ref: '#/components/parameters/transactionId'
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------|------------------------------------|

          | id           | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
        example: lastModified gt '2022-04-21T17:15:48.000Z' AND (attendee.id eq '82da8c60-24f4-47d0-b6e2-429b18a4bb7c' OR
          attendee.id eq '034bb884-05de-4818-b9f9-5144495d5495')
      tags:
      - Transactions
      responses:
        '200':
          description: Successfully retrieved a paginated list of transaction items for a given transactionId.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-items-account-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /transactions/{transactionId}/items/{transactionItemId}:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/transactions:read
      - OAuth2.authorizationCode:
        - event/transactions:read
      summary: List Transaction Item
      description: Gets a transaction item for a given transactionItemId for a given transactionId in the account. Newly created
        or updated transaction item records might not appear immediately in query results.
      operationId: getAccountTransactionItem
      parameters:
      - $ref: '#/components/parameters/transactionId'
      - $ref: '#/components/parameters/transactionItemId'
      tags:
      - Transactions
      responses:
        '200':
          description: Successfully retrieved the transaction item for a given transactionItemId for a given transactionId
            in the account.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction-item-account-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  parameters:
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of
        time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    deleted:
      name: deleted
      in: query
      required: false
      description: When `true`, includes soft-deleted records in the response. Defaults to `false`.
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    orderId:
      in: path
      name: orderId
      description: Unique ID of an Order.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    orderItemId:
      in: path
      name: orderItemId
      description: Unique ID of an Order Item.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    transactionId:
      in: path
      name: transactionId
      description: Unique ID of a Transaction.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    transactionItemId:
      in: path
      name: transactionItemId
      description: Unique ID of a Transaction item.
      required: true
      schema:
        type: string
        maxLength: 75
        example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3::7f3e2a1b-c4d5-6789-efab-2345678901bc
  responses:
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
  schemas:
    Attendee:
      type: object
      description: The reference to the attendee. Contains only the ID of the attendee.
      title: Attendee
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the primary invitee for the current attendee's registration.
          example: 5b0e8d1f-8fd6-4ebe-977a-602b4a1f9c43
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    BaseAddress:
      title: Base Address
      description: Base Address Model
      type: object
      properties:
        address1:
          type: string
          maxLength: 40
          description: The first line of an address.
          example: Cvent Inc.
        address2:
          type: string
          maxLength: 40
          description: The second line of an address.
          example: 4001 West Parmer Lane
        address3:
          type: string
          maxLength: 40
          description: The third line of an address.
          example: PO Box 123
        city:
          type: string
          maxLength: 40
          description: The name of the city.
          example: Austin
        countryCode:
          type: string
          maxLength: 3
          minLength: 2
          description: ISO 3166 two-letter (alpha-2) country code.
          example: US
        postalCode:
          type: string
          maxLength: 25
          description: Postal code (also known as zipcode) of the address.
          example: '78727'
    BillingAddress:
      title: Billing Address
      description: Billing Address Details
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAddress'
      properties:
        region:
          type: string
          description: The name of the state/province/region of the address.
          maxLength: 50
          example: Texas
        regionCode:
          type: string
          description: The abbreviation of the state/province/region of the address.
          minLength: 2
          maxLength: 10
          example: TX
    DiscountDetail:
      title: DiscountDetail
      type: object
      description: This is used to denote the discount details
      properties:
        id:
          type: string
          format: uuid
          example: e7fd2027-5b26-4965-9ddf-b5db78ebcfec
          description: A unique identifier for the discount.
        name:
          type: string
          description: This denotes the name of the discount applied.
          maxLength: 50
          example: SRV Discount Code
        code:
          type: string
          description: This denotes the code of the discount applied.
          maxLength: 30
          example: HALF_OFF
        type:
          $ref: '#/components/schemas/DiscountType'
        value:
          type: number
          description: This denotes the value specified for the discount. How the value applies varies by `type`. For `FlatPrice`
            discounts, this field represents the final price after the discount has been applied. For `Amount` discounts,
            this field represents the amount to be discounted. For `Percentage` discounts, this field represents the percentage
            to be discounted.
          example: 50
        amount:
          type: number
          description: The total discount applied to the order via the order or order items. Represents the amount saved due
            to the discounts.
          example: 15
    DiscountType:
      title: DiscountType
      enum:
      - Amount
      - Percentage
      - FlatPrice
      type: string
      description: This is used to denote the type of discount
      example: Amount
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    Event:
      type: object
      description: The reference to the event. Contains only the ID of the event.
      title: Event
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the event.
          example: 4a0e8d1f-8fd6-4ebe-977a-602b4a1f9c56
    Fee:
      title: Fee
      type: object
      description: Fee for a product.
      properties:
        id:
          readOnly: true
          type: string
          format: uuid
          description: A unique ID representing the fee.
          example: 28FEA0CD-A8B8-4A51-96C1-DDD5EAD642C6
        name:
          readOnly: true
          type: string
          description: Name of the fee.
          maxLength: 100
          example: Orientation Session Registration Fee
    GeneralLedger:
      title: GeneralLedger
      type: object
      description: This is used to denote the general ledger detail in an order item
      properties:
        id:
          type: string
          format: uuid
          example: a6b6c1bc-e410-48da-86c2-80478ecf60f9
          description: A unique identifier for the general ledger.
        name:
          type: string
          description: This denotes the name of the general ledger.
          maxLength: 50
          example: Other Accounts Receivable
        code:
          type: string
          description: This denotes the code of the general ledger.
          maxLength: 100
          example: '123445'
        description:
          type: string
          description: This denotes the description of the general ledger.
          maxLength: 300
          example: Other Accounts Receivable; Leg. Accounts Receivable
        allocationPercentage:
          type: number
          description: This denotes the percentage allocation of the general ledger code for an order item.
          minimum: 1
          maximum: 100
          example: 50
    Guest:
      type: object
      description: The reference to the guest. Contains only the ID of the guest.
      title: Guest
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of a guest.
          example: 07c1cf32-a603-4736-8b77-749c3cee3107
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    Order:
      type: object
      description: Represents an order. Contains only the ID of the order.
      title: Order
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID of the order.
          example: 6c0e8d1f-8fd6-4ebe-977a-602b4a1f9c43
    OrderItemRef:
      title: OrderItemRef
      type: object
      description: Represents an order item by its ID.
      properties:
        id:
          type: string
          format: uuid
          example: cfb2f6d9-0ec9-467d-8a6e-da29e2b674af
          description: A unique identifier for the order item.
      required:
      - id
    OrderRef:
      title: OrderRef
      type: object
      description: Represents an order by its ID and includes the order type.
      properties:
        id:
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
          description: The unique identifier of the order.
        type:
          $ref: '#/components/schemas/OrderType'
    OrderType:
      title: OrderType
      enum:
      - Authorization
      - Online Charge
      - Online Refund
      - Offline Charge
      - Offline Refund
      type: string
      description: This is used to denote the type of order made by an attendee.
      example: Online Refund
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the
            previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another
            page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records.
            To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    PaymentMethod:
      title: PaymentMethod
      enum:
      - AIRPLUS
      - American Express
      - Aurora
      - Aurore
      - Authorize.Net SIM
      - Bank Transfer
      - BCMC
      - Billy
      - Cash
      - CB
      - Check
      - Corporate Card
      - Cofinoga
      - Credit
      - Cybersource Hosted Order Page
      - Cybersource Secure Acceptance
      - Diners Club
      - Direct Bill
      - Discover
      - Dankort
      - Eurocard Mastercard
      - Invoice
      - JCB
      - Laser
      - Maestro
      - Maestrouk
      - Mastercard
      - Mastercard Debit
      - Money Order
      - Netreserve
      - Other
      - Other 2
      - Other 3
      - Pay.gov
      - Paypal
      - P-Card
      - Payment Credits
      - PRIVILEGE
      - Purchase Order
      - Solo
      - Touchnet
      - UATP
      - Unionpay
      - Visa
      - Visa Debit
      - Visa Electron
      - WPM
      - Express Payment
      type: string
      description: This denotes the payment method in a transaction.
      example: Mastercard
    PaymentType-1:
      title: PaymentType
      enum:
      - Authorization
      - Online Charge
      - Online Refund
      - Offline Charge
      - Offline Refund
      type: string
      description: 'Denotes the type of payment made by an attendee. Authorization: Online payment that has been approved
        by the cardholder''s bank but has not been executed. Online Charge: Online payment recieved in Cvent. Online Refund:
        Online refund to attendee processed in Cvent. Offline Charge: The transaction is a payment made to the attendee''s
        order electronically in another system of record, or paid in physical currency. Offline Refund: The transaction is
        a refund issued to the attendee electronically in another system of record, or paid in physical currency.'
      example: Online Refund
    ProductOrderItem:
      title: ProductOrderItem
      type: object
      description: This is used to denote the product details in an order item
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        type:
          $ref: '#/components/schemas/ProductType'
    ProductType:
      title: ProductType
      enum:
      - AdmissionItem
      - Track
      - Session
      - QuantityItem
      - DonationItem
      - GroupItem
      - HotelItem
      - MembershipItem
      - GroupFlight
      - RegistrantTypeServiceFee
      - PaymentTypeServiceFee
      - Tax
      - Appointment
      type: string
      default: Session
      description: This is used to denote the product type.
      example: Session
      readOnly: true
    TransactionId:
      title: TransactionId
      type: object
      description: This is used to denote the id and merchant/processor transaction id for transaction items.
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        processorTransactionId:
          type: string
          description: This denotes the online processor transaction Id for transactions.
          maxLength: 60
          example: ch_3Lrr4TBhiDV0mZz50nZpGx4a
      required:
      - id
    order-detail:
      title: OrderDetail
      type: object
      description: This is used to denote the details of the order made by an attendee.
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        event:
          $ref: '#/components/schemas/Event'
        attendee:
          $ref: '#/components/schemas/Attendee'
        number:
          type: string
          description: Order number for this order
          maxLength: 18
          example: PZNK2PKZH4N
        cancelled:
          type: boolean
          description: This denotes if an order is cancelled or not.
          example: false
        type:
          $ref: '#/components/schemas/OrderType'
        invoiceNumber:
          type: string
          description: This denotes the invoice number of this order
          maxLength: 300
          example: 112021-0017
        amountOrdered:
          type: number
          description: Total amount for items purchased by the attendee.
          example: 35.35
        amountPaid:
          type: number
          description: Amount paid by the attendee.
          example: 10.15
        amountDue:
          type: number
          description: Amount due on the order.
          example: 25.2
        discounts:
          type: array
          description: The list of discount details.
          items:
            $ref: '#/components/schemas/DiscountDetail'
        paymentMethod:
          type: string
          description: This denotes the payment method used for transaction
          example: Mastercard
        referenceNumber:
          type: string
          description: This denotes the reference number of the transaction
          maxLength: 30
          example: 112021-0017
        deleted:
          type: boolean
          description: True indicates the order has been deleted.
          example: false
    order-details-paginated-response:
      title: OrderDetailsPaginatedResponse
      description: The response from a request to list of orders. This includes the paging object as well.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/order-detail'
          description: Collection of order details.
    order-item-response:
      title: OrderItem
      type: object
      description: This is used to denote an item in the order
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        order:
          $ref: '#/components/schemas/OrderRef'
        event:
          $ref: '#/components/schemas/Event'
        attendee:
          $ref: '#/components/schemas/Attendee'
        guest:
          type: boolean
          description: Indicates if an attendee is a guest
          example: true
        guestDetail:
          $ref: '#/components/schemas/Guest'
        product:
          $ref: '#/components/schemas/ProductOrderItem'
        active:
          type: boolean
          description: Indicates if the order item is active
          example: true
        name:
          type: string
          description: This denotes the name of the item
          maxLength: 100
          example: Dinner Session
        price:
          type: number
          description: Price of the item
          example: 15.35
        fee:
          $ref: '#/components/schemas/Fee'
        quantity:
          type: integer
          description: Quantity of item purchased by an attendee.
          example: 2
        amountOrdered:
          type: number
          description: Total amount for the item purchased by the attendee.
          example: 35.35
        amountPaid:
          type: number
          description: Amount paid by the attendee.
          example: 10.15
        amountDue:
          type: number
          description: Amount due on the order item.
          example: 25.2
        productPriceTierAmount:
          type: number
          description: Cost of item at current/early bird price
          example: 15.35
        tiered:
          type: boolean
          description: Indicates if the order item is tiered
          example: true
        generalLedgerItems:
          type: array
          description: The list of general ledger details in an order item.
          items:
            $ref: '#/components/schemas/GeneralLedger'
        discounts:
          type: array
          description: The list of discount details.
          items:
            $ref: '#/components/schemas/DiscountDetail'
        deleted:
          type: boolean
          description: True indicates the order item has been deleted.
          example: false
    order-items-paginated-response:
      title: OrderItemsPaginatedResponse
      description: The response from a request to list of order items. This includes the paging object as well.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/order-item-response'
          description: Collection of order items.
    transaction-detail-response:
      title: TransactionDetail
      type: object
      description: This is used to denote the details of the transaction made by an attendee.
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          readOnly: true
          type: string
          description: A unique id representing the transaction.
          example: 18549806a69f4727a315f2199a08d8b6
        processorTransactionId:
          readOnly: true
          type: string
          description: This denotes the online processor transaction Id for transactions.
          maxLength: 60
          example: ch_3Lrr4TBhiDV0mZz50nZpGx4a
        event:
          $ref: '#/components/schemas/Event'
        attendee:
          $ref: '#/components/schemas/Attendee'
        orders:
          type: array
          description: This denotes the order IDs corresponding to this transaction.
          readOnly: true
          maxItems: 20
          items:
            $ref: '#/components/schemas/Order'
          example:
          - id: 7c4a5acd-9610-4c42-bd10-10e279e69ddc
          - id: b479e85e-b5b0-49e7-9f11-65bad23350b1
          - id: d1c24041-9ca4-4afd-a2f8-a0905d935aa9
        journalNumber:
          readOnly: true
          type: string
          description: Journal number for this transaction.
          maxLength: 18
          example: PZNK2PKZH4N
        paymentType:
          $ref: '#/components/schemas/PaymentType-1'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        success:
          type: boolean
          description: Indicates if the transaction was successful.
          example: true
        date:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when attendee made the transaction.
          example: '2018-01-13T02:00:00Z'
        batchNumber:
          type: string
          description: This denotes the batch number of this transaction.
          maxLength: 30
          example: 112021-0017
        referenceNumber:
          type: string
          description: This denotes the reference number of this transaction.
          maxLength: 30
          example: 112021-0017
        amount:
          type: number
          description: Amount of the transaction.
          example: 15.25
        currency:
          type: string
          description: This denotes the currency of this transaction.
          example: EUR
        paymentNote:
          type: string
          description: This denotes the notes about this transaction.
          example: Payment notes
        nameOnCreditCard:
          type: string
          description: This denotes the name of credit card holder.
          example: John Doe
        expirationDateOfCreditCard:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00.000Z'
          description: The expiration date of the attendee's credit card.
        billingAddress:
          $ref: '#/components/schemas/BillingAddress'
    transaction-details-paginated-response:
      title: TransactionDetailsPaginatedResponse
      description: The response from a request to list of transactions. This includes the paging object as well.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/transaction-detail-response'
          description: Collection of transaction details.
    transaction-item-account-response:
      title: TransactionItem
      type: object
      description: This is used to denote an item in the transaction.
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          type: string
          description: A unique identifier for the transaction item. This is a composite ID made up of the transaction ID
            and the orderItem ID.
          example: 9a8b7c6d-e5f4-3210-bacd-3456789012de::7f3e2a1b-c4d5-6789-efab-2345678901bc
        transaction:
          $ref: '#/components/schemas/TransactionId'
        event:
          $ref: '#/components/schemas/Event'
        attendee:
          $ref: '#/components/schemas/Attendee'
        product:
          $ref: '#/components/schemas/ProductOrderItem'
        orderItem:
          $ref: '#/components/schemas/OrderItemRef'
        name:
          type: string
          description: This denotes the name of the item
          maxLength: 100
          example: Dinner Session
        amount:
          type: number
          description: Transaction amount of the item
          example: 15.25
        currency:
          type: string
          description: This denotes the currency of this transaction
          example: EUR
    transaction-items-account-paginated-response:
      title: TransactionItemsAccountPaginatedResponse
      description: The response from a request to the list of transaction items. This includes the paging object as well.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/transaction-item-account-response'
          description: Collection of transaction items.
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier
              chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel
              supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question
              data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account
              data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
x-generated-from: openapi/_original/cvent-rest-apis-openapi.yaml
x-source-url: https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml
x-generated-date: '2026-09-07'
x-method: searched
