openapi: 3.0.2
info:
  title: Cvent Registration Speakers API
  version: ea
  description: 'Registration-surface slice of the official Cvent REST APIs OpenAPI, filtered to the ''Speakers'' tag(s).

    Derived verbatim (operations, schemas, parameters and responses copied unchanged) from Cvent''s own published contract
    at https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml — the spec Cvent generates its official
    TypeScript, Java and C# SDKs from.

    Full platform description, authentication, pagination, filtering, rate-limit and versioning narrative lives in openapi/_original/cvent-rest-apis-openapi.yaml.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Speakers
  description: Speakers are individuals presenting at your event's session(s). Use Speaker APIs to read existing speaker data,
    create new speakers or update existing speakers in your events.
paths:
  /program-items/speakers:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/program-items:read
      - OAuth2.authorizationCode:
        - event/program-items:read
      summary: Get Session Program Speakers
      description: Returns a paginated list of session program item and speaker associations.
      operationId: getSessionProgramSpeakers
      tags:
      - Speakers
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThese are the comparison\
          \ types that can be used in filter expressions:\n  * equal: eq\n  * includes value(s): in\n\nThe following fields\
          \ are filterable:\n  * programItem.id (eq|in)\n  * session.id (eq|in)\n\nThe following operators are available:\n\
          \  * and\n  * or\n"
        schema:
          type: string
          example: session.id in ('04ca6ae2-0dc3-487b-953e-86d6abbdf7d3', '34ca65e2-1dc3-487b-589e-839d8bbdf7d3')
      responses:
        '200':
          description: Successfully retrieved a list of session program item and speaker associations.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/program-item-speaker-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /program-items/speakers/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/program-items:read
      - OAuth2.authorizationCode:
        - event/program-items:read
      summary: List Session Program Speakers
      description: Gets a paginated list of session program speaker by providing filters in the body of the request. This
        method returns the same data as <a href="#operation/getSessionProgramSpeakers">GET Session Program Speakers</a> but
        allows for longer filters.
      operationId: listSessionProgramSpeakersPostFilters
      tags:
      - Speakers
      requestBody:
        description: See the filter description of <a href="#operation/getSessionProgramSpeakers">GET Session Program Speakers</a>
          for full filtering information.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/locale1'
      responses:
        '200':
          description: Successfully retrieved a paginated list of session program item and speaker associations.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/program-item-speaker-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /program-items/{programItemId}/speakers/{id}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/program-items:write
      - OAuth2.authorizationCode:
        - event/program-items:write
      summary: Add Session Program Speaker
      description: Creates a relationship between a session program item and a speaker. Limit 10 speakers per session program
        item.
      operationId: createSessionProgramSpeaker
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully created the relationship between the session program item and the speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-program-item'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          description: Session program speaker limit reached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/baseErrorResponse'
              example:
                code: 409
                message: Conflict
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/program-items:read
      - OAuth2.authorizationCode:
        - event/program-items:read
      summary: Get Session Program Speaker
      description: Returns a session program speaker relationship.
      operationId: getSessionProgramSpeaker
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a session program item and speaker relationship.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-program-item'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/program-items:delete
      - OAuth2.authorizationCode:
        - event/program-items:delete
      summary: Delete Session Program Speaker
      description: Deletes session program item to speaker relationship.
      operationId: deleteSessionProgramSpeaker
      tags:
      - Speakers
      responses:
        '204':
          description: Successfully deleted session program item to speaker relationship.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
    parameters:
    - $ref: '#/components/parameters/programItemId'
    - $ref: '#/components/parameters/speakerId'
  /speaker-categories:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/speaker-categories:read
      - OAuth2.authorizationCode:
        - event/speaker-categories:read
      summary: List Speakers Categories
      description: Gets a paginated list of speakers categories.
      operationId: listSpeakersCategories
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'.\n\nThe following can be used\
          \ in filter expressions:\n  * equal: eq\n  * not equal: ne\n  * contains a value: contains\n\nThe following fields\
          \ are filterable:\n  * active (eq|ne)\n  * id (eq|ne)\n  * name (eq|ne|contains)\n"
        schema:
          type: string
          example: active eq 'true'
      - name: sort
        in: query
        required: false
        description: "Sorts the returned speaker categories in ascending or descending order by its name.\n\nThere are two\
          \ orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n  * name\n"
        schema:
          type: string
          example: name:DESC
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a paginated list of speakers categories.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-category-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/speaker-categories:write
      - OAuth2.authorizationCode:
        - event/speaker-categories:write
      summary: Create Speaker Category
      description: Create a new speaker category
      operationId: addSpeakerCategory
      requestBody:
        description: Create a speaker category.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/speaker-category'
      tags:
      - Speakers
      responses:
        '201':
          description: Successfully created speaker category.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-speaker-category'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /speakers:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:read
      - OAuth2.authorizationCode:
        - event/speakers:read
      summary: List Speakers
      description: Gets a paginated list of speakers.
      operationId: listSpeakers
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/sort4'
      - $ref: '#/components/parameters/locale1'
      - name: filter
        in: query
        required: false
        description: "A filter query string narrows search results and supports the combination of logical and comparison\
          \ operators.\nThe filter adheres to the pattern filter='field' comparisonType 'value'. If the \"match\" filter is\
          \ passed,\nthe endpoint will return a relevance score for each attendee in the list. Higher scores represent a higher\n\
          relevance to the filter string.\n\nThese are the comparison types that can be used in filter expressions:\n  * equal:\
          \ eq\n  * not equal: ne\n  * greater than: gt\n  * greater or equal: ge\n  * less than: lt\n  * less than or equal:\
          \ le\n  * starts with: sw\n  * contains a value: contains\n  * match a term: match\n  * includes value(s): in\n\n\
          The following fields are filterable:\n  * category.id (eq|ne)\n  * category.name (eq|ne|sw|contains)\n  * code (eq|ne|sw|contains)\n\
          \  * company (eq|ne|sw|contains)\n  * contact.id (eq|ne)\n  * email (eq|ne|sw|contains|match)\n  * event.id (eq|ne)\n\
          \  * featured (eq|ne)\n  * firstName (eq|ne|sw|contains|match)\n  * id (eq|ne|in)\n  * lastModified (eq|ne|gt|ge|lt|le)\n\
          \  * lastName (eq|ne|sw|contains|match)\n  * title (eq|ne|sw|contains)\n  * visibility (eq|ne)\n\nThe following\
          \ operators are available:\n  * and\n  * or\n"
        schema:
          type: string
          example: event.id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3'
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a paginated list of speakers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Create Speaker
      description: Create a single speaker based on the values provided.
      operationId: createSpeaker
      tags:
      - Speakers
      requestBody:
        description: Speaker to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/speaker'
      responses:
        '201':
          description: Successfully created a speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-speaker'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /speakers/filter:
    post:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:read
      - OAuth2.authorizationCode:
        - event/speakers:read
      summary: List Speakers
      description: 'Get a paginated list of speakers by sending a filter in the body of the request. This method will return
        the same data as GET List Speakers but allows for longer filters.

        '
      operationId: listSpeakersPostFilter
      requestBody:
        description: 'See the filter parameter of <a href="#operation/listSpeakers">List Speakers</a> for full filtering information

          '
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/filter'
            example:
              filter: id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c'
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/sort4'
      - $ref: '#/components/parameters/locale1'
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a paginated list of speakers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /speakers/{id}:
    put:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Update Speaker
      description: Updates a particular speaker based on the given speaker ID.
      operationId: updateSpeaker
      tags:
      - Speakers
      requestBody:
        description: Speaker to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existing-speaker'
      responses:
        '200':
          description: Successfully updated the speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-speaker'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:delete
      - OAuth2.authorizationCode:
        - event/speakers:delete
      summary: Delete Speaker
      description: Deletes a particular speaker based on the given speaker ID.
      operationId: deleteSpeaker
      tags:
      - Speakers
      responses:
        '204':
          description: Successfully deleted a speaker.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/speakerId'
  /speakers/{id}/docs:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:read
      - OAuth2.authorizationCode:
        - event/speakers:read
      summary: List Speaker's Documents
      description: Gets a paginated list of document URLs for a single speaker.
      operationId: listSpeakerDocs
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: "A filter string passed in the query parameter of the request.\n\nThere are two comparison types that\
          \ can be used in filter expressions:\n  * equal: eq\n  * not equal: ne\n\nThe following field is filterable:\n \
          \ * file.id (eq|ne)\n\nThe following operators are available:\n  * and\n  * or\n"
        schema:
          type: string
          example: file.id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3'
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a list of documents.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-document-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/speakerId'
  /speakers/{id}/docs/{fileId}:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:read
      - OAuth2.authorizationCode:
        - event/speakers:read
      summary: Get a document for a speaker
      description: Get a specific document that is assigned to a specific speaker.
      operationId: getSpeakerDoc
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved document.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-file'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Add Document To Speaker
      description: Add a single document to a speaker with a UUID provided by <a href="#operation/uploadFile">file upload</a>.
      operationId: addSpeakerDoc
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully added document to speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-file'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Delete Document From Speaker
      description: Use to delete a document from a speaker with a UUID provided by <a href="#operation/uploadFile">file upload</a>.
      operationId: deleteSpeakerDocument
      tags:
      - Speakers
      responses:
        '204':
          description: Successfully deleted speaker's document.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/speakerId'
    - $ref: '#/components/parameters/fileId'
  /speakers/{id}/profile-images:
    delete:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Delete Speaker Profile Picture
      description: Deletes the profile picture of the given speaker.
      operationId: deleteSpeakerProfileImage
      tags:
      - Speakers
      responses:
        '204':
          description: Successfully deleted the profile picture to the speaker.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/speakers:write
      - OAuth2.authorizationCode:
        - event/speakers:write
      summary: Assign Speaker Profile Picture
      description: Assign a profile picture to a speaker with a file UUID from <a href="#operation/uploadFile">file upload</a>
        endpoint. This will replace the current profile picture if one is assigned.
      operationId: assignSpeakerProfileImage
      requestBody:
        description: 'The file id provided by the <a href="#operation/uploadFile">file upload</a> endpoint.

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/speaker-file'
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully added the profile picture to the speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-file'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/speakerId'
  /speakers/{id}/sessions:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/sessions:read
      - OAuth2.authorizationCode:
        - event/sessions:read
      summary: List Speaker's Sessions
      description: Gets a paginated list of sessions assigned to a speaker.
      operationId: listSpeakerSessions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      tags:
      - Speakers
      responses:
        '200':
          description: Successfully retrieved a paginated list of sessions assigned to the speaker.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speaker-session-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    parameters:
    - $ref: '#/components/parameters/speakerIdById'
components:
  parameters:
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of
        time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    fileId:
      in: path
      name: fileId
      description: The unique identifier of a file from <a href="#operation/uploadFile">file upload</a> service.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    locale1:
      name: locale
      required: false
      description: Locale code in IETF Language tag format. Indicates desired locale of return values.
      in: query
      schema:
        $ref: '#/components/schemas/Locale'
    programItemId:
      in: path
      name: programItemId
      description: The unique identifier of a program item.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    sort4:
      name: sort
      required: false
      in: query
      style: form
      explode: false
      description: "The sort order passed as a parameter, used to control the order of the\nsearch results as a priority ordered\
        \ list of sorts\n\nThere are two orders:\n  * ascending: ASC\n  * descending: DESC\n\nThe following fields are sortable:\n\
        \  * lastModified\n  * lastName\n  * firstName\n  * company\n  * title\n  * order\n"
      schema:
        type: string
        example: lastName:DESC,company:ASC
    speakerId:
      in: path
      name: id
      description: The unique identifier of a speaker.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    speakerIdById:
      in: path
      name: id
      description: Unique Id of a speaker
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
  responses:
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
  schemas:
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    ContactLinks:
      title: ContactLinks
      type: object
      description: Collection of social media links for the contact.
      properties:
        twitterUrl:
          $ref: '#/components/schemas/Link'
        facebookUrl:
          $ref: '#/components/schemas/Link'
        linkedInUrl:
          $ref: '#/components/schemas/Link'
        profilePicture:
          type: object
          description: Reference to a profile picture.
          title: Link
          required:
          - href
          readOnly: true
          properties:
            href:
              type: string
              description: The url of the contact's profile picture
              example: https://cvent.com/picture123
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    EventId:
      title: EventId
      description: The unique identifier for an event.
      type: string
      format: uuid
      example: 2ef03846-fced-4ce3-a077-d64ca891a4b1
    EventLite:
      required:
      - id
      type: object
      title: EventLite
      description: The unique identifier of an event.
      properties:
        id:
          $ref: '#/components/schemas/EventId'
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    Locale:
      title: Locale
      description: Locale code
      type: string
      example: en-US
      minLength: 1
      maxLength: 200
    NamedObject:
      title: NamedObject
      description: A Named object
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        name:
          type: string
          description: Name of the object
          example: Sample Object name
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the
            previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another
            page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records.
            To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    ProgramItemId:
      title: ProgramItemId
      description: The unique identifier for a program item.
      type: string
      format: uuid
      example: 221984b2-9e3e-4c1c-8ef4-306b1b75fa3e
    ProgramItemLite:
      required:
      - id
      type: object
      title: ProgramItemLite
      description: The unique identifier of a program item.
      properties:
        id:
          $ref: '#/components/schemas/ProgramItemId'
    Relevance:
      title: Relevance
      description: Returned when the `match` filter is applied. Indicates how relevant the `match` filter term is to the search
        result. Larger numbers represent higher relevance with respect to other search results in the request. Null if no
        `match` filter is provided.
      type: number
      exclusiveMinimum: true
      example: 2.3
      minimum: 0
    SessionId:
      title: SessionId
      description: The unique identifier for a session.
      type: string
      format: uuid
      example: 832cb481-74c5-4859-ba21-bbb5be8b86e0
    SessionLite:
      required:
      - id
      type: object
      title: SessionLite
      description: The unique identifier of a session.
      properties:
        id:
          $ref: '#/components/schemas/SessionId'
    SpeakerCategory:
      title: SpeakerCategory
      description: A defined speaker category.
      type: object
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        name:
          type: string
          description: The name of the speaker category
          maxLength: 50
          example: Presenters
    SpeakerId:
      title: SpeakerId
      description: The unique identifier for a speaker.
      type: string
      format: uuid
      example: 6077a9f1-a230-40cd-9e32-b493a84aaa80
    SpeakerId1:
      title: SpeakerId
      description: The unique identifier for a speaker.
      type: string
      format: uuid
    SpeakerLite:
      required:
      - id
      type: object
      title: SpeakerLite
      description: The unique identifier of a speaker.
      properties:
        id:
          $ref: '#/components/schemas/SpeakerId'
    SpeakerLite1:
      required:
      - id
      type: object
      title: SpeakerLite
      description: The unique identifier of a speaker.
      properties:
        id:
          $ref: '#/components/schemas/SpeakerId1'
    SpeakerSession:
      title: SpeakerSession
      type: object
      description: A speaker to session relationship.
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        speaker:
          $ref: '#/components/schemas/SpeakerLite1'
        category:
          $ref: '#/components/schemas/NamedObject'
    baseErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    existing-speaker:
      title: Speaker
      description: An existing, event speaker.
      type: object
      allOf:
      - $ref: '#/components/schemas/speaker'
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the speaker
        order:
          type: integer
          description: The order of speaker
          example: 1
          minimum: 0
          maximum: 32767
          readOnly: true
        contact:
          type: object
          title: Speaker Contact
          description: The reference to speaker contact. Contains only the Id of contact.
          readOnly: true
          properties:
            id:
              type: string
              format: uuid
              title: Contact Id
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
              description: A string that has to be a format matching the industry standard uuid
    existing-speaker-category:
      title: SpeakerCategory
      description: An existing speaker category.
      type: object
      allOf:
      - $ref: '#/components/schemas/speaker-category'
      required:
      - id
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
        active:
          type: boolean
          description: The speaker category is active or not active
          readOnly: true
    filter:
      title: A filter sent in the body of a request
      description: A filter which is sent through the body of the request.
      type: object
      properties:
        filter:
          type: string
          example: property eq 'value'
          description: Filter included in the request.
    program-item-speaker-paginated-response:
      title: ProgramItemSpeakerPaginatedResponse
      description: The response from a request to get the list of program item speakers.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/speaker-program-item'
          description: Collection of program item speakers.
          maxItems: 200
    speaker:
      title: Speaker
      description: An event speaker.
      type: object
      required:
      - firstName
      - lastName
      - event
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        event:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: Event ID.
          description: The event the speaker is linked to.
        firstName:
          type: string
          description: The speaker's first name.
          maxLength: 30
          example: Barbra
        lastName:
          type: string
          description: The speaker's last name.
          maxLength: 50
          example: Smith
        code:
          type: string
          description: The unique code associated with the speaker in an event
          maxLength: 30
          example: sbarbra
        email:
          type: string
          format: email
          description: The speaker's email address
          maxLength: 80
          minLength: 6
          example: barbrasmith@cvent.com
        prefix:
          type: string
          description: Used to denote what is traditionally a title of an individual. For example, Mr., Mrs., Dr., etc.
          maxLength: 30
          example: Dr.
        designation:
          type: string
          description: The speaker's Designation
          maxLength: 30
          example: PhD
        company:
          type: string
          description: The company to which the speaker is associated
          maxLength: 100
          example: Cvent
        title:
          type: string
          description: The speaker's title
          maxLength: 100
          example: Lead Engineer
        category:
          $ref: '#/components/schemas/SpeakerCategory'
        links:
          $ref: '#/components/schemas/ContactLinks'
        visibility:
          type: boolean
          description: Indicates if a given speaker should be displayed on Event Website
          default: true
          example: false
        biography:
          type: string
          description: The speaker's biography
          maxLength: 2500
          example: Presentation and Speaking voice expert, Barbara is a highly regarded coach and facilitator
        internalNote:
          type: string
          description: The Internal Note of the speaker
          maxLength: 300
          example: Barbara is multilingual
        featured:
          type: boolean
          description: Indicates if a given speaker is a featured speaker
          default: false
          example: false
        relevance:
          $ref: '#/components/schemas/Relevance'
    speaker-category:
      title: SpeakerCategory
      description: A speaker category.
      type: object
      properties:
        name:
          type: string
          description: The name of the speaker category
          maxLength: 50
          example: Presenters
    speaker-category-paginated-response:
      title: SpeakerCategoryPaginatedResponse
      description: The response from a request to get the list of speaker categories.  This includes the paging object as
        well as the collection of speaker categories.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-speaker-category'
          description: Collection of speaker categories.
    speaker-document-paginated-response:
      title: SpeakerDocumentPaginatedResponse
      description: The response from a request to get the list of documents for a single speaker.  This includes the paging
        object as well as the collection of documents.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/speaker-file'
          description: Collection of a speaker's documents.
    speaker-file:
      title: SpeakerFile
      description: A file reference related to a speaker.
      required:
      - file
      - href
      properties:
        file:
          properties:
            id:
              $ref: '#/components/schemas/uuid-property'
        href:
          format: uri
          type: string
          description: URL of the speaker's image.
          readOnly: true
          example: https://custom.cvent.com/a5154f85f71a4cf2464e037feb75b308/00000000000000000000000000000000/files/universal-file/tmp/e209d73d845746b7a6deda4da9d91b2c.png
        friendlyName:
          type: string
          description: Friendly name of the file
          example: Important Document
          readOnly: true
        type:
          type: string
          description: Mime type of the file
          example: image/png
          readOnly: true
        size:
          type: integer
          description: Size of the file in bytes
          example: 150
          readOnly: true
        displayEnabled:
          type: boolean
          description: Display this file to the public
          example: true
          readOnly: true
    speaker-paginated-response:
      title: SpeakerPaginatedResponse
      description: The response from a request to get the list of speakers.  This includes the paging object as well as the
        collection of speakers.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-speaker'
          description: Collection of speakers.
    speaker-program-item:
      title: SpeakerProgramItem
      type: object
      description: Represents a program item object that will be added to a speaker.
      required:
      - event
      - session
      - speaker
      - programItem
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          description: ID of the speaker to program item relationship.
          type: string
          format: uuid
          example: 38db6ae2-0dc3-487b-953e-86d6abbdf7d3
          readOnly: true
        event:
          $ref: '#/components/schemas/EventLite'
        session:
          $ref: '#/components/schemas/SessionLite'
        speaker:
          $ref: '#/components/schemas/SpeakerLite'
        programItem:
          $ref: '#/components/schemas/ProgramItemLite'
    speaker-session-paginated-response:
      title: SpeakerSessionPaginatedResponse
      description: The response from a request to get the list of speaker sessions.  This includes the paging object as well
        as the collection of speaker sessions.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/SpeakerSession'
          description: Collection of speaker sessions.
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier
              chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel
              supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question
              data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account
              data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
x-generated-from: openapi/_original/cvent-rest-apis-openapi.yaml
x-source-url: https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml
x-generated-date: '2026-09-07'
x-method: searched
