openapi: 3.2.0
info:
  title: Cvent REST Webcasts API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Webcasts
  description: Webcasts are virtual or livestreaming components of your Cvent events. Use these APIs to integrate your virtual events from outside sources into your Cvent workflows, create and delete webcasts from within Cvent, and retrieve and update webcast details.
paths:
  /webcasts:
    post:
      tags:
      - Webcasts
      operationId: createWebcast
      security:
      - OAuth2.clientCredentials:
        - event/webcasts:write
      - OAuth2.authorizationCode:
        - event/webcasts:write
      summary: Create Webcast
      description: Used to create a new webcast for a specific event.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webcast'
        required: true
      responses:
        '200':
          description: Webcast was successfully integrated for specific event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-webcast'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '409':
          $ref: '#/components/responses/Conflict1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/webcasts:read
      - OAuth2.authorizationCode:
        - event/webcasts:read
      summary: List Webcasts
      description: Gets a paginated list of webcasts associated with your event.
      operationId: listWebcasts
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field          | Operators                                |

          |----------------|------------------------------------------|

          | id             | `eq`, `ne`                               |

          | event.id       | `eq`, `ne`                               |

          | session.id     | `eq`, `ne`, `is empty`, `is not empty`   |

          | appointment.id | `eq`, `ne`, `is empty`, `is not empty`   |

          | exhibitor.id   | `eq`, `ne`, `is empty`, `is not empty`   |

          | sourceId       | `eq`, `ne`, `is empty`, `is not empty`   |

          | solutionType   | `eq`, `ne`                               |

          | provider       | `eq`, `ne`                               |

          | type           | `eq`, `ne`                               |

          | status         | `eq`, `ne`                               |

          | meetingId      | `eq`, `ne`                               |

          | created        | `eq`, `ne`, `lt`, `le`, `gt`, `ge`       |

          | lastModified   | `eq`, `ne`, `lt`, `le`, `gt`, `ge`       |

          | playerType     | `eq`, `ne`                               |

          '
        schema:
          type: string
          example: event.id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3' and sourceId ne 'sampleWebcastSystemId'
      tags:
      - Webcasts
      responses:
        '200':
          description: Successfully retrieved a paginated list of webcasts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webcast-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /webcasts/attendee-links:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/attendee-links:read
      - OAuth2.authorizationCode:
        - event/attendee-links:read
      summary: List Attendee Links
      description: Gets a paginated list of attendee links.
      operationId: listAttendeeLinks
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------| -----------------------------------|

          | id           | `eq`, `ne`                         |

          | sourceId     | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | webcast.id   | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          '
        schema:
          type: string
          example: id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3' and event.id eq '55ca6645-0dc3-487b-953e-86d6abbdf7d3'
      tags:
      - Webcasts
      responses:
        '200':
          description: Successfully retrieved a paginated list of attendee links.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-link-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /webcasts/players:
    get:
      security:
      - OAuth2.clientCredentials:
        - event/players:read
      - OAuth2.authorizationCode:
        - event/players:read
      summary: List Players
      description: Gets a paginated list of player details associated with webcast.
      operationId: listPlayers
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------| -----------------------------------|

          | webcast.id   | `eq`, `ne`                         |

          | id           | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          '
        schema:
          type: string
          example: webcast.id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3'
      tags:
      - Webcasts
      responses:
        '200':
          description: Successfully retrieved a paginated list of players.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/player-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /webcasts/{id}:
    parameters:
    - $ref: '#/components/parameters/id13'
    get:
      summary: Get Webcast
      description: Retrieve a single webcast details by ID.
      operationId: getWebcastById
      security:
      - OAuth2.clientCredentials:
        - event/webcasts:read
      - OAuth2.authorizationCode:
        - event/webcasts:read
      tags:
      - Webcasts
      responses:
        '200':
          description: Successfully retrieved a webcast object.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-webcast'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Webcast
      description: Delete an existing webcast by ID.
      operationId: deleteWebcast
      security:
      - OAuth2.clientCredentials:
        - event/webcasts:delete
      - OAuth2.authorizationCode:
        - event/webcasts:delete
      tags:
      - Webcasts
      responses:
        '204':
          description: Successfully deleted webcast from specific event.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      tags:
      - Webcasts
      operationId: updateWebcast
      security:
      - OAuth2.clientCredentials:
        - event/webcasts:write
      - OAuth2.authorizationCode:
        - event/webcasts:write
      summary: Update Webcast
      description: Update info for an existing webcast within a Cvent event.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existing-webcast'
        required: true
      responses:
        '200':
          description: Webcast was successfully updated for specific event.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-webcast'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          $ref: '#/components/responses/Conflict1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /webcasts/{id}/attendee-links:
    parameters:
    - $ref: '#/components/parameters/id13'
    post:
      tags:
      - Webcasts
      operationId: createAttendeeLinks
      security:
      - OAuth2.clientCredentials:
        - event/attendee-links:write
      - OAuth2.authorizationCode:
        - event/attendee-links:write
      summary: Create Attendee Link
      description: Create attendee links in bulk for a given webcast.
      requestBody:
        description: Up to **100 attendee links** can be created per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-attendee-link'
        required: true
      responses:
        '207':
          description: Attendee links successfully created.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-link-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      tags:
      - Webcasts
      operationId: updateAttendeeLinks
      security:
      - OAuth2.clientCredentials:
        - event/attendee-links:write
      - OAuth2.authorizationCode:
        - event/attendee-links:write
      summary: Update Attendee Link
      description: Update data for existing attendee links in bulk for a given webcast.
      requestBody:
        description: Up to **100 attendee links** can be updated per call.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulk-existing-attendee-link'
        required: true
      responses:
        '207':
          description: Attendee links successfully updated.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-link-bulk-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/attendee-links:read
      - OAuth2.authorizationCode:
        - event/attendee-links:read
      summary: List Attendee Links
      description: Gets a paginated list of attendee links in a webcast.
      operationId: listWebcastAttendeeLinks
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators                          |

          |--------------| -----------------------------------|

          | id           | `eq`, `ne`                         |

          | sourceId     | `eq`, `ne`                         |

          | attendee.id  | `eq`, `ne`                         |

          | created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          '
        schema:
          type: string
          example: id eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3'
      tags:
      - Webcasts
      responses:
        '200':
          description: Successfully retrieved a paginated list of attendee links.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attendee-link-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: true
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /webcasts/{id}/attendee-links/{attendeeLinkId}:
    parameters:
    - $ref: '#/components/parameters/id13'
    - $ref: '#/components/parameters/attendeeLinkId'
    delete:
      summary: Delete Attendee Link
      description: Delete attendee links for webcast.
      operationId: deleteAttendeeLink
      security:
      - OAuth2.clientCredentials:
        - event/attendee-links:delete
      - OAuth2.authorizationCode:
        - event/attendee-links:delete
      tags:
      - Webcasts
      responses:
        '204':
          description: Successfully deleted webcast attendee link from specific event.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  schemas:
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    webcast-delete-bulk-item.json:
      title: WebcastDeletedBulkResponseItem
      description: This entity is used to represent a single item that is returned as part of a bulk request call.
      allOf:
      - title: BulkResponseItem
        description: Represents a single item that is returned as part of a Bulk request call.
        type: object
        required:
        - status
        - data
        properties:
          data:
            type: object
            description: The data returned for a single item in the bulk request call.
            example:
              event_id: 1234
              attendee_count: 50
            additionalProperties: true
          status:
            type: integer
            description: http status code representing processing status of a single item
            example: 400
          message:
            type: string
            description: Quick description of what happened with processing
            example: Example error message.
          request:
            type: object
            description: The processed request tied to this response. This field is only sent when processing fails.
            example:
              operation: PUT
              headers:
                header1: header1Value
                header2: header2Value
              queryParams:
                param1: param1Value
                param2: param2Value
            additionalProperties: true
        additionalProperties: false
      properties:
        data:
          title: Webcasts
          oneOf:
          - title: WebcastId
            type: object
            description: deleted webcast
            required:
            - id
            properties:
              id:
                type: string
                format: uuid
                description: Id of the webcast.
                example: 9463c74e-18c6-401a-a710-ae0f485bf059
          - $ref: '#/components/schemas/error-response'
    solution-type.json:
      title: SolutionType
      enum:
      - Cvent Video Conferencing
      - External Platform
      - Cvent Studio
      - Embedded Cvent Video Conferencing
      - Cvent Studio Lite
      - Embedded Cvent Studio
      type: string
      description: This is used to denote the solution type to be used for webcast. The 'Cvent Video Conferencing' refers to the video experience which links out the Attendee hub whereas 'Embedded Cvent Video Conferencing' refers to the video experience within the Attendee hub.
      readOnly: true
      example: External Platform
    player-type.json:
      title: PlayerType
      enum:
      - Cvent Video Player
      - Brightcove
      - Vimeo
      - Weblink
      type: string
      description: This is used to denote the type of a video player
      example: Cvent Video Player
    webcast-paginated-response:
      title: WebcastPaginatedResponse
      description: The response from a request to get the list of webcasts.  This includes the paging object as well as the collection of webcasts.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-webcast'
          description: Collection of webcasts.
    uuid.json:
      title: UUID
      description: The reference to the related entity. Contains only the ID of the related entity.
      required:
      - id
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
    player-type-provider.json:
      title: PlayerTypeProvider
      enum:
      - Brightcove
      - Amazon IVS
      - Cvent VOD
      type: string
      description: This is used to denote the type of a video player used for the Cvent Video Player
      example: Amazon IVS
      readOnly: true
    schedule.json:
      title: Schedule
      description: A scheduled action.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique ID of the scheduled task.
        scheduledExecution:
          type: string
          format: date-time
          description: 'The ISO 8601 zoned date time when the session will be moved to the next stage: provisioning, activation, deactivation or archival'
          example: '2024-03-05T09:00:00Z'
          readOnly: true
        action:
          $ref: '#/components/schemas/schedule-action.json'
    webcast-host-link.json:
      title: WebcastHostLink
      description: Link details for a webcast host.
      type: object
      properties:
        href:
          type: string
          description: A url to the webcast.
          maxLength: 2000
          example: https://cvent.zoom.us/j/7566652259
        code:
          type: string
          description: Access code of webcast link.
          maxLength: 100
          example: 1456ZS78
        key:
          type: string
          description: Host key for the webcast.
          maxLength: 100
          example: abcd1234
    live-stream-recording-status.json:
      title: LiveStreamRecordingStatus
      enum:
      - error
      - waiting
      - waiting_finish_live
      - processing
      - cancelling
      - cancelled
      - finished
      - failed
      - creating_asset
      type: string
      description: This is used to denote the status of the live stream recording job
      example: finished
      readOnly: true
    webcast-type.json:
      title: WebcastType
      enum:
      - Meeting
      - Webinar
      - Presentation
      type: string
      description: This is used to denote the type of a webcast
      example: Meeting
    existing-attendee-link:
      title: ExistingAttendeeLink
      description: An existing attendee link.
      type: object
      required:
      - id
      allOf:
      - title: AttendeeLink
        description: An attendee link.
        type: object
        required:
        - webcast
        - attendee
        allOf:
        - $ref: '#/components/schemas/webcast/allOf/0'
        properties:
          webcast:
            $ref: '#/components/schemas/uuid.json'
          event:
            $ref: '#/components/schemas/uuid.json'
          session:
            $ref: '#/components/schemas/uuid.json'
          attendee:
            $ref: '#/components/schemas/uuid.json'
          sourceId:
            type: string
            description: Source Id of the webcast provider
            maxLength: 50
            example: kBBBAAcccdddd8U==
          join:
            $ref: '#/components/schemas/webcast-link.json'
      properties:
        id:
          type: string
          format: uuid
          description: Attendee-link ID
          readOnly: true
    pagination-links.json:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/link.json'
        self:
          $ref: '#/components/schemas/link.json'
        prev:
          $ref: '#/components/schemas/link.json'
    webcast-links.json:
      title: WebcastLinks
      description: webcast link references
      type: object
      properties:
        join:
          $ref: '#/components/schemas/webcast-link.json'
        speaker:
          $ref: '#/components/schemas/webcast-link.json'
        host:
          $ref: '#/components/schemas/webcast-host-link.json'
        recording:
          $ref: '#/components/schemas/webcast-link.json'
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    bulk-attendee-link:
      title: AttendeeLinkBulk
      description: Collection of attendee links.
      type: array
      items:
        $ref: '#/components/schemas/existing-attendee-link/allOf/0'
    paging.json:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/pagination-links.json'
    format.json:
      title: Format
      enum:
      - Live
      - Pre-recorded
      type: string
      default: Live
      description: This is used to denote the format of a webcast
      example: Pre-recorded
    live-stream-session.json:
      title: LiveStreamSession
      type: object
      properties:
        id:
          type: string
          description: An identifier for the current streaming session
          example: st-1A2b3c4D5e6F78ghij9Klmn
      description: Provides information about the livestream's current streaming session
    existing-webcast:
      title: ExistingWebcast
      description: An existing webcast.
      type: object
      allOf:
      - title: Webcast
        description: A webcast
        type: object
        allOf:
        - $ref: '#/components/schemas/webcast/allOf/0'
        properties:
          event:
            $ref: '#/components/schemas/uuid.json'
          session:
            $ref: '#/components/schemas/uuid.json'
          appointment:
            $ref: '#/components/schemas/uuid.json'
          solutionType:
            $ref: '#/components/schemas/solution-type.json'
          exhibitor:
            $ref: '#/components/schemas/uuid.json'
          format:
            $ref: '#/components/schemas/format.json'
          type:
            $ref: '#/components/schemas/webcast-type.json'
          provider:
            $ref: '#/components/schemas/webcast-provider.json'
          status:
            $ref: '#/components/schemas/webcast-status.json'
          playerType:
            $ref: '#/components/schemas/player-type.json'
          simulatedLive:
            type: boolean
            description: Indicates if the webcast is simulated live or not
            example: false
          recordLiveStream:
            type: boolean
            description: Indicates if the live stream recording is enabled
            example: false
          autoAddToLibrary:
            type: boolean
            description: Indicates if the live stream recording will be added to the library automatically
            example: false
            default: false
          onDemandVideo:
            type: boolean
            description: Indicates if the on demand video is available
            example: false
          sourceId:
            type: string
            description: Source Id of the webcast provider
            maxLength: 50
            example: kBBBAAcccdddd8U==
          title:
            type: string
            description: Title of the webcast
            maxLength: 500
            example: Webinar Connect Event
          meetingId:
            type: string
            description: Id of meeting within a webcast.
            maxLength: 300
            example: 123ERt
          _links:
            $ref: '#/components/schemas/webcast-links.json'
          details:
            type: string
            description: Additional information related to the webcast
            maxLength: 2000
            example: This is free of cost event
          video:
            type: object
            description: Video for the webcast.
            readOnly: true
            properties:
              id:
                type: string
                format: uuid
                description: The unique identifier of the video.
                example: 35b43fce-e87f-4a52-8685-2ba09fb53f53
                readOnly: true
      properties:
        id:
          type: string
          format: uuid
          description: Webcast ID
          readOnly: true
    bulk-existing-attendee-link:
      title: ExistingAttendeeLinkBulk
      description: Collection of existing attendee links.
      type: array
      items:
        $ref: '#/components/schemas/existing-attendee-link'
    webcast-status.json:
      title: WebcastStatus
      enum:
      - Not Started
      - Started
      - Finished
      - Cancelled
      type: string
      description: This is used to denote the status of a webcast
      example: Started
    existing-player:
      title: ExistingPlayer
      description: An existing webcast player.
      type: object
      allOf:
      - title: Player
        description: A Webcast player details.
        type: object
        allOf:
        - $ref: '#/components/schemas/webcast/allOf/0'
        properties:
          webcast:
            $ref: '#/components/schemas/uuid.json'
          videoId:
            type: string
            description: ID of the video to be played.
            maxLength: 100
            example: 123ERt
          videoUrl:
            type: string
            description: URL to play video
            format: uri
            example: https://80a8541ebf4d.us-east-1.playback.live-video.net/api/video/v1/us-east-1.572724207364.channel.L7FiQgC4MUt6.m3u8
          password:
            type: string
            description: Password to access the video.
            example: 123ERt
          stream:
            $ref: '#/components/schemas/live-stream.json'
          region:
            $ref: '#/components/schemas/region.json'
          duration:
            type: integer
            description: Video duration (milliseconds)
            example: 3600000
          schedule:
            $ref: '#/components/schemas/schedule.json'
          playerTypeProvider:
            $ref: '#/components/schemas/player-type-provider.json'
          simuliveOffset:
            type: integer
            description: Offset (seconds) to determine start date for simulated live video.
            example: 300
      properties:
        id:
          type: string
          format: uuid
          description: Player ID
          readOnly: true
    webcast-provider.json:
      title: WebcastProvider
      enum:
      - Adobe Connect
      - Amazon Chime
      - BlueJeans
      - Brightcove
      - Cisco Webex
      - Facebook Live
      - GlobalMeet
      - GoToMeeting
      - GoToWebinar
      - Goldcast
      - Intrado
      - Microsoft Teams
      - None
      - ON24
      - Other
      - Vimeo
      - YouTube Live
      - Zoom
      type: string
      description: Name of the webcast provider.
      example: Zoom
    player-paginated-response:
      title: PlayerPaginatedResponse
      description: The response from a request to get the list of players.  This includes the paging object as well as the collection of players.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-player'
          description: Collection of players.
    link.json:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    schedule-action.json:
      title: ScheduleAction
      enum:
      - provision
      - activate
      - deactivate
      - archive
      type: string
      description: This is used to denote the action to perform with the scheduled task
      example: activate
      readOnly: true
    webcast:
      title: Webcast
      description: A webcast
      type: object
      allOf:
      - title: Audit
        description: Audit information
        type: object
        properties:
          created:
            type: string
            format: date-time
            description: The ISO 8601 zoned date time when this record was created.
            readOnly: true
            example: '2017-01-02T02:00:00Z'
          createdBy:
            type: string
            description: The identifier of the user that created this record.
            readOnly: true
            example: hporter
          lastModified:
            type: string
            format: date-time
            description: The ISO 8601 zoned date time when this record was updated.
            readOnly: true
            example: '2019-02-12T03:00:00Z'
          lastModifiedBy:
            type: string
            description: The identifier of the user that last updated this record.
            readOnly: true
            example: hporter
      properties:
        event:
          $ref: '#/components/schemas/uuid.json'
        session:
          $ref: '#/components/schemas/uuid.json'
        appointment:
          $ref: '#/components/schemas/uuid.json'
        solutionType:
          $ref: '#/components/schemas/solution-type.json'
        exhibitor:
          $ref: '#/components/schemas/uuid.json'
        format:
          $ref: '#/components/schemas/format.json'
        type:
          $ref: '#/components/schemas/webcast-type.json'
        provider:
          $ref: '#/components/schemas/webcast-provider.json'
        status:
          $ref: '#/components/schemas/webcast-status.json'
        playerType:
          $ref: '#/components/schemas/player-type.json'
        simulatedLive:
          type: boolean
          description: Indicates if the webcast is simulated live or not
          example: false
        recordLiveStream:
          type: boolean
          description: Indicates if the live stream recording is enabled
          example: false
        autoAddToLibrary:
          type: boolean
          description: Indicates if the live stream recording will be added to the library automatically
          example: false
          default: false
        onDemandVideo:
          type: boolean
          description: Indicates if the on demand video is available
          example: false
        sourceId:
          type: string
          description: Source Id of the webcast provider
          maxLength: 50
          example: kBBBAAcccdddd8U==
        title:
          type: string
          description: Title of the webcast
          maxLength: 500
          example: Webinar Connect Event
        meetingId:
          type: string
          description: Id of meeting within a webcast.
          maxLength: 300
          example: 123ERt
        _links:
          $ref: '#/components/schemas/webcast-links.json'
        details:
          type: string
          description: Additional information related to the webcast
          maxLength: 2000
          example: This is free of cost event
        video:
          type: object
          description: Video for the webcast.
          readOnly: true
          properties:
            id:
              type: string
              format: uuid
              description: The unique identifier of the video.
              example: 35b43fce-e87f-4a52-8685-2ba09fb53f53
              readOnly: true
    attendee-link-bulk-response:
      title: AttendeeLinkBulkResponse
      description: Collection of attendee linking responses.
      type: array
      items:
        $ref: '#/components/schemas/attendee-link-bulk-response-item.json'
    region.json:
      title: Region
      enum:
      - Oregon
      - Virginia
      - Tokyo
      - Singapore
      - Sydney
      - Mumbai
      - Frankfurt
      - Ireland
      type: string
      description: Region where the live stream originates (These regions are only for Brightcove player)
      example: Oregon
    error-response:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    attendee-link-bulk-response-item.json:
      title: AttendeeLinkBulkResponseItem
      description: This entity is used to represent a single item that is returned as part of a bulk request call.
      allOf:
      - $ref: '#/components/schemas/webcast-delete-bulk-item.json/allOf/0'
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/existing-attendee-link'
          - $ref: '#/components/schemas/error-response'
    webcast-link.json:
      title: WebcastLink
      description: Link details for a webcast.
      type: object
      properties:
        href:
          type: string
          description: A url to the webcast.
          maxLength: 2000
          example: https://cvent.zoom.us/j/7566652259
        code:
          type: string
          description: Access code of webcast link.
          maxLength: 100
          example: 1456ZS78
    live-stream-status.json:
      title: LiveStreamStatus
      enum:
      - Error
      - Standby
      - Waiting
      - Processing
      - Disconnected
      - Cancelling
      - Finishing
      - Cancelled
      - Finished
      - Failed
      - Scheduled
      - Starving
      type: string
      description: This is used to denote the status of the stream
      example: Standby
    attendee-link-paginated-response:
      title: AttendeeLinkPaginatedResponse
      description: The response from a request to get the list of attendee links. This includes the paging object as well as the collection of attendee links.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-attendee-link'
          description: Collection of webcast attendee links.
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    live-stream-recording.json:
      title: LiveStreamRecording
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the live stream recording job.
          example: 62989518f9294e19b2f7e184e8141d72
        status:
          $ref: '#/components/schemas/live-stream-recording-status.json'
      description: Provides information about the livestream's recording
    live-stream.json:
      title: LiveStream
      description: A webcast Live Stream.
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the stream.
          example: stream1256wet
        url:
          type: string
          maxLength: 2000
          description: A RTMP url of the stream.
          example: https://cvent.zoom.us/j/7566652259
        key:
          type: string
          description: Access key of the stream.
          example: 145asa16ZS78
        status:
          $ref: '#/components/schemas/live-stream-status.json'
        session:
          $ref: '#/components/schemas/live-stream-session.json'
        page:
          type: string
          description: A url of the page where live stream to be streamed.
          example: https://cvent.zoom.aspx/j/7566652259
        recording:
          $ref: '#/components/schemas/live-stream-recording.json'
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
    Conflict1:
      description: The request conflicts with current state of the target resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 409
            message: Conflict
  parameters:
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    id13:
      in: path
      name: id
      description: The identifier of the webcast.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    attendeeLinkId:
      in: path
      name: attendeeLinkId
      description: The identifier of an attendee link in a webcast.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
