openapi: 3.2.0
info:
  title: Cvent REST Video API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Video
  description: Videos can be added to Cvent events with renditions at various resolutions, audio files, reactions tracks, and text tracks. Attendee viewership is tracked to get insight into durations, devices used and venue where the video is watched. Use these APIs to view and manage videos, related text tracks, and audio files. Use these APIs also to get insight into video viewership.
paths:
  /videos:
    get:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:read
      - OAuth2.clientCredentials:
        - event/videos:read
      summary: List Videos
      description: Gets a paginated list of videos associated with your account or event.
      operationId: listVideos
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field        | Operators  | Notes                            |

          |--------------|------------|----------------------------------|

          | id           | `eq`, `ne` |                                  |

          | events       | `eq`, `ne` |                                  |

          | sessions     | `eq`, `ne` |                                  |

          | exhibitors   | `eq`, `ne` |                                  |

          | speakers     | `eq`, `ne` |                                  |

          | source.id    | `eq`, `ne` |                                  |

          | status       | `eq`, `ne` |                                  |

          | tags         | `eq`, `ne` |                                  |

          | recording.id | `eq`, `ne` |                                  |

          | event.id     | `eq`, `ne` | deprecated, use `events` instead |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
          example: events eq '04ca6ae2-0dc3-487b-953e-86d6abbdf7d3' and source.id ne 'sampleWebcastSystemId'
      - name: deleted
        in: query
        required: false
        description: True means only videos marked as deleted will be queried. False means only non-deleted videos will be queried.
        schema:
          type: boolean
          default: false
          example: true
      responses:
        '200':
          description: Successfully retrieved a paginated list of videos.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/videos-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /videos/views:
    get:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/video-views:read
      - OAuth2.clientCredentials:
        - event/video-views:read
      summary: List Video Views
      description: Gets a paginated list of video views
      operationId: getVideoViews
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field                  | Operators | Notes      |

          |------------------------|-----------|------------|

          | contact.id             | `eq`      |            |

          | solution               | `eq`      |            |

          | device.type            | `eq`      | deprecated |

          | device.operatingSystem | `eq`      | deprecated |

          | video.id               | `eq`      |            |

          | type                   | `eq`      |            |


          The filter query supports maximum three fields in a filter expression.


          The following logical operators are supported for combining filters:

          * and

          '
        schema:
          type: string
          example: contact.id eq '123e4567-e89b-12d3-a456-426614174000' and solution eq 'EVENTS_PLUS'
      responses:
        '200':
          description: Successfully retrieved paginated list of videos watched.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-views-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /videos/{videoId}/audio-tracks:
    parameters:
    - $ref: '#/components/parameters/videoId1'
    get:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:read
      - OAuth2.clientCredentials:
        - event/videos:read
      summary: List Audio Tracks
      description: Gets a list of audio tracks for a specific video ID.
      operationId: listAudioTracks
      responses:
        '200':
          description: Successfully retrieved a list of audio tracks.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audio-tracks-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /videos/{videoId}/renditions:
    parameters:
    - $ref: '#/components/parameters/videoId1'
    get:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:read
      - OAuth2.clientCredentials:
        - event/videos:read
      summary: List Video Renditions
      description: Gets a list of video renditions for a specific video ID.
      operationId: listVideoRenditions
      responses:
        '200':
          description: Successfully retrieved a list of renditions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-renditions-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /videos/{videoId}/text-tracks:
    parameters:
    - $ref: '#/components/parameters/videoId1'
    post:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:write
      - OAuth2.clientCredentials:
        - event/videos:write
      operationId: createTextTrack
      summary: Create Text Track
      description: Creates a new text track (VTT) object for a specific video. This endpoint does not directly handle the upload of VTT files but instead returns a location URL that you use to perform the upload.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/video-text-track'
        required: true
      responses:
        '201':
          description: Text track was successfully created for the video.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-video-text-track'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
    get:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:read
      - OAuth2.clientCredentials:
        - event/videos:read
      summary: List Text Tracks
      description: Gets a list of video text tracks for a specific video ID.
      operationId: listVideoTextTracks
      responses:
        '200':
          description: Successfully retrieved a list of text tracks.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/video-text-tracks-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
  /videos/{videoId}/text-tracks/{textTrackId}:
    parameters:
    - $ref: '#/components/parameters/videoId1'
    - $ref: '#/components/parameters/textTrackId'
    put:
      tags:
      - Video
      security:
      - OAuth2.authorizationCode:
        - event/videos:write
      - OAuth2.clientCredentials:
        - event/videos:write
      summary: Update Text Track
      description: 'Updates a specific video text track by ID. This is done by setting the status to Updating within the body of this call,

        which will prompt the service to return a signed upload link in the returned entity.'
      operationId: updateTextTrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/existing-video-text-track'
        required: true
      responses:
        '200':
          description: Successfully updated a video text track.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-video-text-track'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      deprecated: false
components:
  schemas:
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    video-thumbnail:
      title: VideoThumbnail
      description: Video thumbnail
      type: object
      properties:
        url:
          $ref: '#/components/schemas/Link'
        size:
          type: integer
          description: File size in bytes for the thumbnail
          example: 4098675830
        height:
          type: integer
          description: frame height in pixels
          example: 400
        width:
          type: integer
          description: frame width in pixels
          example: 300
        type:
          $ref: '#/components/schemas/ThumbnailType'
        status:
          $ref: '#/components/schemas/ThumbnailStatus'
    VideoRenditionType:
      title: VideoRenditionType
      enum:
      - Hls
      - HlsMaster
      - Mp4
      - Poster
      - Mp4Preview
      - Mp3
      - Audio
      type: string
      description: Denotes the type of rendition.
      example: Hls
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    AudioTrackStatus:
      title: AudioTrackStatus
      enum:
      - Started
      - Uploaded
      - Scanning
      - Scanned
      - Syncing
      - Rejected
      - Error
      - Available
      type: string
      description: Denotes the status of an audio track. Started indicates the request to upload in the API was submitted, and the URL you'll upload an audio track to was returned. Uploaded indicates that the upload was completed. Scanning indicates a virus scan is happening in a quarantine location; Scanned indicates a successful virus scan. Syncing indicates a complete virus scan, and now transcoding has begun. Rejected indicates a failed virus scan. Error indicates there was a problem processing the audio track. Available indicates the audio track is available for use.
      example: Started
    VideoTextTrackStatus:
      title: VideoTextTrackStatus
      enum:
      - Started
      - Uploaded
      - Processing
      - Available
      - Rejected
      - Updating
      - Translating
      - Transcribing
      - Error
      type: string
      description: Denotes the status of a video text track (VTT). Started indicates a request to upload in the API, and the URL to upload to was returned. Uploaded indicates that the upload was completed. Available indicates the VTT is available for use. Rejected indicates a failed virus scan. Error indicates there was a problem processing the VTT.
      example: Started
    VideoWarningCode:
      title: VideoWarningCode
      description: This is used to denote the warning codes for a video entity.
      enum:
      - 700
      type: integer
      example: 700
    video:
      title: Video
      description: Event video.
      type: object
      allOf:
      - $ref: '#/components/schemas/VideoBase'
      properties:
        type:
          $ref: '#/components/schemas/VideoType'
        event:
          title: UUID
          required:
          - id
          type: object
          properties:
            id:
              title: UUID Property
              description: The ID of an event.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
          description: Event video asset was created with. This field has been deprecated. Use events instead.
          deprecated: true
        hlsInputs:
          type: array
          description: List of locations for HLS recordings that will be combined to form a new video. This field has been deprecated. Use hlsInputsWithClips instead.
          items:
            type: string
          default: []
          deprecated: true
        hlsInputsWithClips:
          type: array
          items:
            $ref: '#/components/schemas/HlsInputWithClips'
          description: A list of input object locations & clip information for HTTP Live Streaming (HLS) recordings. Used to trim & stitch all inputs together to form a new video.
        recording:
          title: Recording details
          description: Recording details of video to be transcoded
          required:
          - id
          type: object
          properties:
            id:
              description: Entity ID of recording.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        encodingProfile:
          $ref: '#/components/schemas/EncodingProfile'
    HlsInputWithClips:
      title: HlsInputWithClips
      description: HTTP Live Streaming input and clips.
      type: object
      properties:
        hlsInput:
          type: string
          description: Location for HTTP Live Streaming (HLS) recording.
          example: s3://bucket/path/to/recording/video.m3u8
        clips:
          description: Clips for the HLS recording.
          type: array
          items:
            $ref: '#/components/schemas/VideoClip'
    VideoErrorCode:
      title: VideoErrorCode
      description: This is used to denote the error codes for a video entity.
      enum:
      - 600
      - 601
      - 602
      - 603
      - 604
      - 605
      - 606
      - 607
      - 608
      type: integer
      example: 601
    VideoRendition:
      title: VideoRendition
      description: Video rendition
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        video:
          $ref: '#/components/schemas/VideoAssetID'
        type:
          $ref: '#/components/schemas/VideoRenditionType'
        location:
          title: Link
          required:
          - href
          type: object
          properties:
            href:
              type: string
              description: A pre-signed URL with an expiration of 2 hours that provides the location.
              example: https://example.com/M8/7f378243-2c62-49fa-82e9-90e5498d30c3?Policy=eyJTdGF0ZW1lbnUysx5cE4-KWfUQ__&Key-Pair-Id=K6XDZ8UJY4Q0X
          description: Location where the rendition is stored.
        width:
          type: integer
          description: The video's frame width in pixels.
          example: 300
        height:
          type: integer
          description: The video's frame height in pixels.
          example: 400
    VideoWarning:
      title: VideoWarning
      description: This is used to denote the warnings for a video entity.
      properties:
        code:
          $ref: '#/components/schemas/VideoWarningCode'
        message:
          type: string
          description: Warning message for the video. Message is a developer convenience never to be used in any context that needs localisation, subject to change at any time.
          example: 'Video with ID: 5779387f-3f50-4685-8641-b25a2909845f has a bitrate of 586 kbps, which is lower than the minimum allowed bitrate of 3500 kbps.'
      required:
      - code
      - message
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    ViewType1:
      title: ViewType
      description: The view type of the video. Videos can be viewed live or as a recording.
      type: string
      enum:
      - LIVE
      - RECORDING
    AudioTrackType:
      title: AudioTrackType
      enum:
      - asf
      - wma
      - wmv
      - mp3
      - ts
      - mp4
      - mka
      - oga
      - mov
      - wav
      type: string
      description: Denotes the file format of the audio track.
      example: mp3
    video-text-track:
      title: VideoTextTrack
      description: Video text track
      type: object
      required:
      - language
      - kind
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        video:
          $ref: '#/components/schemas/VideoAssetID'
        label:
          type: string
          description: Name of the text track.
          maxLength: 300
          example: English
        language:
          type: string
          description: IETF language tag for the text track.
          maxLength: 35
          example: en-US
        kind:
          $ref: '#/components/schemas/VideoTextTrackKind'
        published:
          description: True means that this text track has been published for your client.
          type: boolean
          default: true
        default:
          description: True indicates this is the default text track. Each kind of text track can have a separate default assigned.
          type: boolean
          default: false
        status:
          $ref: '#/components/schemas/VideoTextTrackStatus'
        autoGenerated:
          description: True indicates this text track was generated via machine transcription of the audio.
          type: boolean
          default: false
    VideoAssetID:
      title: Video Asset ID
      required:
      - id
      type: object
      properties:
        id:
          description: The identifier of a video.
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
      description: Video that this asset was created with.
    DeviceType:
      title: DeviceType
      description: The device used to watch the video. Videos can be viewed on desktop, mobile or tablet.
      type: string
      enum:
      - DESKTOP
      - MOBILE
      - TABLET
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    VideoType:
      title: VideoType
      enum:
      - mpg2
      - mov
      - mp2
      - mp4
      - mpe
      - mpeg
      - mpg
      - mpv
      - qt
      - webm
      - hls
      type: string
      description: This is used to denote type of a video
      example: mp4
    AssetLocation:
      title: Asset Location
      description: A URL associated with the asset.
      required:
      - href
      type: object
      properties:
        href:
          type: string
          description: A pre-signed URL with an expiration of 2 hours to the asset's location.
          example: https://ap-southeast-2.example.com/sign2-bucket-hchq3nwuo8ns/sign-demo.json?X-Exa-Date=20170125T044127Z&X-Exa-Expires=60&X-Exa-Signature=24db05
          readOnly: true
    audio-track:
      title: AudioTrack
      description: The audio track.
      type: object
      required:
      - video
      - type
      - language
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        video:
          $ref: '#/components/schemas/VideoAssetID'
        type:
          $ref: '#/components/schemas/AudioTrackType'
        language:
          type: string
          description: IETF language tag for the audio track.
          maxLength: 35
          example: en-US
        variant:
          $ref: '#/components/schemas/AudioTrackVariant'
        default:
          description: True indicates this is the default audio track.
          type: boolean
          default: false
        duration:
          type: integer
          description: Audio track duration (in milliseconds).
          example: 3600000
        status:
          $ref: '#/components/schemas/AudioTrackStatus'
    video-renditions-response:
      title: VideoRenditionsResponse
      description: The response from a request to get the list of video renditions.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/VideoRendition'
          maxItems: 11
          description: Collection of video renditions.
    VideoWarnings:
      title: VideoWarnings
      description: This is used to denote the warnings for a video entity.
      type: array
      readOnly: true
      minItems: 0
      maxItems: 100
      items:
        $ref: '#/components/schemas/VideoWarning'
    VideoBase:
      title: VideoBase
      description: Base model for a Video.
      type: object
      required:
      - title
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        title:
          type: string
          description: The title of the video
          maxLength: 500
          example: Cvent 2020 Keynote
        description:
          type: string
          description: Description of the video
          example: The video recording of the Cvent 2020 keynote by James Gordon
        filename:
          type: string
          description: Filename associated with the video at time of upload. Cannot be modified.
          maxLength: 300
          example: Cvent Keynote Version 5.mp4
        events:
          type: array
          description: A list of events associated with this video asset
          items:
            $ref: '#/components/schemas/UUIDProperty'
          maxItems: 50
          default: []
        duration:
          type: integer
          description: Video duration (milliseconds)
          example: 3600000
        thumbnail:
          $ref: '#/components/schemas/video-thumbnail'
        generatedThumbnail:
          $ref: '#/components/schemas/video-thumbnail'
        status:
          $ref: '#/components/schemas/VideoStatus'
        source:
          $ref: '#/components/schemas/VideoSource'
        tags:
          type: array
          description: A list of tags associated with this video.  This feature is a developer extensability framework to add data to videos.
          items:
            type: string
          default: []
          example:
          - edited
          - exhibitor
    Contact2:
      title: Contact
      type: object
      description: The contact details who watched a video
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the contact who watched a video.
          example: 123e4567-e89b-12d3-a456-426614174000
    Solution:
      title: Solution
      description: The solution where the video exists. Attendee Hub and Events+ represent two different solutions where the video can be found.
      type: string
      enum:
      - ATTENDEE_HUB
      - EVENTS_PLUS
      example: EVENTS_PLUS
    existing-video:
      title: ExistingVideo
      description: Existing event video.
      type: object
      required:
      - id
      allOf:
      - $ref: '#/components/schemas/video'
      properties:
        id:
          title: Video ID
          description: The identifier of a video.
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        url:
          $ref: '#/components/schemas/AssetLocation'
        size:
          type: integer
          format: int64
          maximum: 10737418240
          description: File size in bytes for the video asset.
          example: 32768
          readOnly: true
        sessions:
          description: Sessions associated with the video asset.
          type: array
          items:
            $ref: '#/components/schemas/UUIDProperty'
          maxItems: 50
          readOnly: true
        exhibitors:
          description: Exhibitors associated with the video asset.
          type: array
          items:
            $ref: '#/components/schemas/UUIDProperty'
          maxItems: 50
          readOnly: true
        speakers:
          description: Speakers associated with the video asset.
          type: array
          items:
            $ref: '#/components/schemas/UUIDProperty'
          maxItems: 50
          readOnly: true
        uploadStarted:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when the upload started.
          example: '2024-01-05T15:30:00Z'
          readOnly: true
        uploadCompleted:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when the uploaded ended.
          example: '2024-01-05T15:35:00Z'
          readOnly: true
        parent:
          type: string
          format: uuid
          description: The ID of the video this was created from.
          readOnly: true
    video-text-tracks-response:
      title: VideoTextTracksResponse
      description: The response from a request to get the list of video text tracks.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-video-text-track'
          description: Collection of video text tracks.
    ThumbnailType:
      title: ThumbnailType
      enum:
      - bmp
      - gif
      - jpe
      - jpeg
      - jpg
      - png
      - svg
      type: string
      description: This is used to denote the file type of a thumbnail
      example: png
    videos-paginated-response:
      title: VideoPaginatedResponse
      description: The response from a request to get the list of videos.  This includes the paging object as well as the collection of videos.
      required:
      - paging
      - data
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-video-response'
          description: Collection of videos.
    existing-audio-track:
      title: ExistingAudioTrack
      description: Existing audio track.
      type: object
      required:
      - id
      allOf:
      - $ref: '#/components/schemas/audio-track'
      properties:
        id:
          title: Audio Track ID
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
          description: The identifier of an audio track.
          readOnly: true
        url:
          $ref: '#/components/schemas/AssetLocation'
    video-views-paginated-response:
      title: VideoViewsPaginatedResponse
      description: Paginated list of video views.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/VideoView'
          description: List of unique video views.
    VideoStatus:
      title: VideoStatus
      enum:
      - Started
      - Uploaded
      - Scanning
      - Scanned
      - Syncing
      - Rejected
      - Error
      - Available
      - Upcoming
      - ReSyncing
      type: string
      description: Denotes the status of a video. Started indicates the request to upload in the API was submitted, and the URL to upload to was returned. Uploaded indicates that the upload was completed. Scanning indicates a virus scan is happening in a quarantine location; Scanned indicates a successful virus scan. Syncing indicates a complete virus scan, and now transcoding has begun. Rejected indicates a failed virus scan. Error indicates there was a problem processing the video. Available indicates the video is available for use.
      example: Started
    VideoClip:
      title: VideoClip
      description: Video clip details.
      type: object
      properties:
        start:
          type: string
          description: The timecode to start the clip in HH:MM:SS:FF format
          example: 00:01:01:00
          pattern: ^([01][0-9]|2[0-4]):[0-5][0-9]:[0-5][0-9][:;][0-9]{2}$
        end:
          type: string
          description: The timecode to end the clip in HH:MM:SS:FF format.
          example: 00:05:00:00
          pattern: ^([01][0-9]|2[0-4]):[0-5][0-9]:[0-5][0-9][:;][0-9]{2}$
    ThumbnailStatus:
      title: ThumbnailStatus
      enum:
      - Started
      - Uploaded
      - Processing
      - Available
      - Rejected
      type: string
      description: Denotes the status of a thumbnail. Started indicates the request to upload in the API was submitted, and the URL you'll upload a thumbnail to was returned. Uploaded indicates that the upload was completed. Processing indicates that a virus scan is in progress. Available indicates the thumbnail passed the scan and is ready for use. Rejected indicates there was a problem processing the thumbnail.
      example: Started
    UUIDProperty:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    Video1:
      title: Video
      type: object
      description: The details of a video
      properties:
        id:
          type: string
          format: uuid
          description: The unique ID of the video.
          example: 456e4567-e89b-12d3-a456-426614174000
    EncodingProfile:
      title: EncodingProfile
      enum:
      - Planner
      - Attendee
      type: string
      description: Denotes the profile to use when encoding the video. Planner profile is for encoding high-quality event content, like session videos. Attendee profile is for encoding lower-quality content intended to go on attendee profiles and social feeds in the event.
      example: Planner
      default: Planner
    VideoErrors:
      title: VideoErrors
      description: This is used to denote the errors for a video entity.
      type: array
      readOnly: true
      minItems: 0
      maxItems: 100
      items:
        $ref: '#/components/schemas/VideoError'
    existing-video-text-track:
      title: ExistingVideoTextTrack
      description: An existing video text track.
      type: object
      required:
      - id
      - status
      allOf:
      - $ref: '#/components/schemas/video-text-track'
      properties:
        id:
          title: Video text track ID
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
          description: The identifier of a video text track.
          readOnly: true
        url:
          $ref: '#/components/schemas/AssetLocation'
        errorMessage:
          description: A message indicating the error processing the text track, if any.
          type: string
          example: Input file was empty
    VideoView:
      title: VideoView
      description: Details of a single video view
      type: object
      properties:
        contact:
          $ref: '#/components/schemas/Contact2'
        solution:
          $ref: '#/components/schemas/Solution'
        device:
          $ref: '#/components/schemas/Device1'
        video:
          $ref: '#/components/schemas/Video1'
        type:
          $ref: '#/components/schemas/ViewType1'
        totalDuration:
          type: integer
          format: int64
          description: The total duration of the video (in milliseconds).
          example: 233000
        watchDuration:
          type: integer
          format: int64
          description: The total duration of the video watched by the viewer (in milliseconds).
          example: 153600
        watchPercentage:
          type: number
          description: The percentage of the video watched by the viewer.
          example: 52
    VideoError:
      title: VideoError
      description: This is used to denote the errors for a video entity.
      properties:
        code:
          $ref: '#/components/schemas/VideoErrorCode'
        message:
          type: string
          description: Error message for the video. Message is a developer convenience never to be used in any context that needs localisation, subject to change at any time.
          example: Transcoding failed due to an unsupported video codec.
      required:
      - code
      - message
    AudioTrackVariant:
      title: AudioTrackVariant
      enum:
      - Main
      - Alternate
      - Commentary
      - Dub
      - Descriptive
      type: string
      default: Alternate
      description: Denotes the variant of an audio track. Main is the primary audio track for this video. Alternate is a possible alternative to the main track. Commentary is a commentary on the primary audio or video track, e.g. a director's commentary. Dub is a translated version of the main audio track. Descriptive is an audio description of a video track.
      example: Alternate
    VideoTextTrackKind:
      title: VideoTextTrackKind
      enum:
      - subtitles
      - captions
      - descriptions
      - chapters
      - metadata
      type: string
      description: Denotes the kind of video text track. Only subtitles are supported.
      example: subtitles
    audio-tracks-response:
      title: AudioTracksResponse
      description: The response from a request to get the list of audio tracks.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-audio-track'
          description: Collection of audio tracks.
    VideoSource:
      title: VideoSource
      description: Source of video.
      type: object
      properties:
        id:
          type: string
          description: The id of a video in the external system
          maxLength: 50
          example: VD134567
        status:
          type: string
          enum:
          - Active
          - Inactive
          - Pending
          - Deleted
          description: Denotes the status of the video in the third-party system.
          example: Active
    Device1:
      title: Device
      type: object
      description: The device details used to watched a video. This field has been deprecated.
      deprecated: true
      properties:
        id:
          type: string
          description: The unique ID of the device the viewer used to watch the video.
          maxLength: 100
          example: CA1.b4c5061e36fa60ebc5aad0ccea95f900b34794ecad49e965eaa94f7c534dec83
        type:
          $ref: '#/components/schemas/DeviceType'
        operatingSystem:
          type: string
          description: The device's operating system.
          example: Mac OS
    existing-video-response:
      title: ExistingVideoResponse
      description: Response schema for GET/List endpoints, extending ExistingVideo and adding errors/warnings.
      type: object
      allOf:
      - $ref: '#/components/schemas/existing-video'
      properties:
        errors:
          $ref: '#/components/schemas/VideoErrors'
        warnings:
          $ref: '#/components/schemas/VideoWarnings'
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  parameters:
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    videoId1:
      in: path
      name: videoId
      description: The identifier of a video.
      required: true
      schema:
        $ref: '#/components/schemas/UUIDProperty'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    textTrackId:
      in: path
      name: textTrackId
      description: The identifier of a video text track.
      required: true
      schema:
        $ref: '#/components/schemas/UUIDProperty'
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
