openapi: 3.2.0
info:
  title: Cvent REST Travel RFPs API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Travel RFPs
  description: 'The Travel RFP APIs provide access to travel programs and proposals. A travel program

    represents a request for proposal (RFP) that defines the specific travel needs and

    requirements of a travel account. The travel account solicits hotels and other travel

    suppliers to respond to the program with proposals, which provide detailed

    information on rates and amenities.'''
paths:
  /travel-programs:
    get:
      summary: List Travel Programs
      operationId: ListTravelPrograms
      description: Returns a paginated list of travel programs based on the specified filters.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/travel-programs:read
      - OAuth2.clientCredentials:
        - business-travel/travel-programs:read
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/travel-program-filter'
      responses:
        '200':
          description: Successfully retrieved a paginated list of Travel Programs.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-program-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-programs/questions:
    get:
      summary: List Travel Programs Questions
      operationId: ListTravelProgramsQuestions
      description: Returns a paginated list of travel programs questions.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/travel-program-questions:read
      - OAuth2.clientCredentials:
        - business-travel/travel-program-questions:read
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved a paginated list of travel program questions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/questions-paginated-response1'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-programs/{programId}:
    parameters:
    - $ref: '#/components/parameters/programId'
    get:
      summary: Get Travel Program
      description: Returns the details of a single travel program based on the specified program ID.
      operationId: getTravelProgram
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/travel-programs:read
      - OAuth2.clientCredentials:
        - business-travel/travel-programs:read
      responses:
        '200':
          description: Successfully retrieved a Travel Program.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-program'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-programs/{programId}/questions:
    parameters:
    - $ref: '#/components/parameters/programId'
    get:
      summary: List Travel Program Questions
      operationId: ListTravelProgramQuestions
      description: Returns a paginated list of travel program questions.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/travel-program-questions:read
      - OAuth2.clientCredentials:
        - business-travel/travel-program-questions:read
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved a paginated list of travel program questions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/question-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-programs/{programId}/questions/{questionId}:
    parameters:
    - $ref: '#/components/parameters/programId'
    - $ref: '#/components/parameters/questionId2'
    get:
      summary: Get Travel Program Question
      description: Returns the details of a single question based on the specified program and question ID.
      operationId: getTravelProgramQuestion
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/travel-program-questions:read
      - OAuth2.clientCredentials:
        - business-travel/travel-program-questions:read
      responses:
        '200':
          description: Successfully retrieved a travel program question.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/question'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-proposals:
    get:
      summary: List Travel Proposals
      operationId: ListTravelProposals
      description: Get a paginated list of travel proposal details.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/proposals:read
        - business-travel/proposals:read
      - OAuth2.authorizationCode:
        - business-transient/proposals:read
        - business-travel/proposals:read
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/travel-proposal-filter'
      responses:
        '200':
          description: Successfully retrieved a paginated list of travel proposals.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-proposal-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-proposals/bids:
    get:
      summary: List Travel Proposal Bids
      operationId: ListTravelProposalBids
      description: Get a paginated list of travel proposal bids.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/bids:read
        - business-travel/bids:read
      - OAuth2.authorizationCode:
        - business-transient/bids:read
        - business-travel/bids:read
      parameters:
      - $ref: '#/components/parameters/after'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/travel-bid-filter'
      responses:
        '200':
          description: Successfully retrieved a paginated list of travel proposal bids.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-proposal-bid-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-proposals/bids/{travelProposalBidId}:
    parameters:
    - $ref: '#/components/parameters/travelProposalBidId'
    get:
      summary: Get Travel Proposal Bid
      operationId: GetTravelProposalBid
      description: Gets a travel proposal bid for the given travel proposal bid ID.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/bids:read
        - business-travel/bids:read
      responses:
        '200':
          description: Successfully retrieved a travel proposal bid.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-proposal-bid'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
  /travel-proposals/{travelProposalId}:
    parameters:
    - $ref: '#/components/parameters/travelProposalId'
    get:
      summary: Get Travel Proposal
      operationId: GetTravelProposal
      description: Gets a travel proposal for the given travel proposal ID.
      tags:
      - Travel RFPs
      security:
      - OAuth2.clientCredentials:
        - business-transient/proposals:read
        - business-travel/proposals:read
      - OAuth2.authorizationCode:
        - business-transient/proposals:read
        - business-travel/proposals:read
      responses:
        '200':
          description: Successfully retrieved a travel proposal.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travel-proposal'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
components:
  schemas:
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    TaxType1:
      title: Tax Type
      enum:
      - city_tax
      - lodging_tax
      - occupancy_tax
      - service_fee
      - state_tax
      - vat_tax
      - vatfb_tax
      - other_tax
      - resort_fee
      type: string
      description: Bid tax type.
      example: city_tax
    TravelProposalGroupAndMeetingBreakOutRoom:
      title: Travel Proposal Group And Meeting Break Out Room
      description: Break-out room information.
      type: object
      properties:
        10PersonRoomIncluded:
          type: boolean
          description: True indicates a 10 person room is included.
        price10PersonRoom:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Price for 10 person room.
          example: 100
        25PersonRoomIncluded:
          type: boolean
          description: True indicates a 25 person room included.
        price25PersonRoom:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Price for 25 person room.
          example: 100
        permanentBoardRoomSetUp:
          type: boolean
          description: True indicates there is a permanent board room set up.
    travel-proposal-bid:
      title: Travel Proposal Bid
      type: object
      description: A travel proposal bid rate plan that is being proposed to a customer.
      properties:
        travelProposal:
          description: The travel proposal that the bid belongs to.
          type: object
          properties:
            id:
              title: Travel Proposal ID
              description: The ID of the travel proposal.
              type: string
              format: uuid
              example: a91187db-d3c2-4035-b696-1d77fb1ab9d8
        id:
          title: Bid ID
          description: The unique ID of the bid.
          type: string
          format: uuid
          example: 3e2a8614-7d52-442e-8c4f-a6a18ed9ac4d
          readOnly: true
        stayType:
          $ref: '#/components/schemas/BidStayType'
        order:
          type: integer
          default: 1
          example: 1
          description: The order of the bid compared to other bids of the same stay type. This is used to distinguish between extended stay 1 vs extended stay 2.
        status:
          $ref: '#/components/schemas/BidStatusType'
        name:
          type: string
          minLength: 3
          maxLength: 60
          description: Name given to the bid.
          example: My Corporate Bid
        rate:
          $ref: '#/components/schemas/TravelProposalBidRate'
        marketCode:
          type: string
          description: The market code given to the rate plan / bid by the supplier.
          maxLength: 10
          example: mc12
        currencyCode:
          type: string
          minLength: 3
          maxLength: 3
          example: USD
          description: The ISO 4217 currency code used for the rates and other monetary values in the bid.
        weekendDays:
          type: array
          description: Days of the week that are considered weekend days, to apply weekend rates. Does not apply when format is GBTA2013.
          items:
            $ref: '#/components/schemas/TravelBidWeekendDays'
        lra:
          type: boolean
          default: true
          description: Does the bid include LRA (Last Room Availability) rates?
        nlra:
          type: boolean
          default: true
          description: Does the bid include non-LRA rates?
        fairDateLra:
          type: boolean
          default: true
          description: Are the fair date rates LRA (Last Room Availability)?
        internalNote:
          type: string
          maxLength: 3000
          example: ''
          description: Additional comments passed from the domain-level rate plan.
        comments:
          type: array
          description: Additional Info
          items:
            $ref: '#/components/schemas/TravelBidComment'
          maxItems: 5
        roomTypes:
          type: array
          description: Room Types associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidRoom'
          maxItems: 99
        seasons:
          type: array
          description: Seasons associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidSeason'
          maxItems: 99
        discounts:
          type: array
          description: Dynamic discounts associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidDiscount'
          maxItems: 99
        fairSeasons:
          type: array
          description: Fair seasons associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidFairSeason'
          maxItems: 99
        amenities:
          type: array
          description: Amenities associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidAmenity'
        policies:
          type: array
          description: Policies associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidPolicy'
        taxesAndFees:
          type: array
          description: Taxes & fees associated with the bid
          items:
            $ref: '#/components/schemas/TravelBidTaxAndFee'
    PolicyValueType:
      title: Policy Value Type
      enum:
      - selection_list
      - integer
      - money
      - percent
      - multi_select
      - text_multi_line
      - percent_or_money
      - boolean
      type: string
      description: Value type of the policy
    QuestionSection:
      title: Question Section
      enum:
      - program_client
      - program_g_and_m
      type: string
      description: Code representing the section where the question belongs. Currently, program_client (client specific) and program_g_and_m (group and meeting) are supported.
      example: program_client
    AmenityType:
      title: Amenity Type
      enum:
      - included_amenity
      - amenity
      - bundled_supplement
      type: string
      description: Amenity type
      example: amenity
    RateReviewStatusType:
      title: Rate Review Status Type
      enum:
      - requested
      - not_required
      - approved
      - rejected
      type: string
      description: The rate review status of the proposal
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    format-type:
      title: Format Type
      enum:
      - gbta2013
      - universal
      type: string
      description: Proposal format.
      example: gbta2013
    TravelProposalGroupAndMeetingAmenity:
      title: Travel Proposal Group And Meeting Amenity
      description: Group and meeting amenity info.
      type: object
      properties:
        lcdIncluded:
          type: boolean
          description: True indicates a liquid crystal display (LCD) is included in the amenity.
        lcdPrice:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Price of the liquid crystal display (LCD).
          example: 100
        screenIncluded:
          type: boolean
          description: True indicates a screen is included in the amenity.
        screenPrice:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Price of the screen.
          example: 100
        hsiaIncluded:
          type: boolean
          description: True indicates high speed internet access is included in the amenity.
        hsiaPrice:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Price of high speed internet access (HSIA).
          example: 100
        complementaryParkingIncluded:
          type: boolean
          description: True indicates parking is included in the amenity.
        whatCompanyProvidesAVEquipment:
          type: string
          maxLength: 100
          description: Name of company providing AV equipment.
          example: Some company
    proposal-status-type:
      title: Proposal Status Type
      enum:
      - participation_requested
      - new
      - active
      - submitted
      - declined_participation
      - verified
      - approved
      - account_accepted
      - account_rejected
      - internal_rejected
      - request_renegotiation
      - decline_renegotiation
      - deleted
      type: string
      description: The status of the proposal
      example: account_accepted
    TravelProposalGroupAndMeeting:
      title: Travel Proposal Group and Meeting
      description: Group and meeting information.
      type: object
      properties:
        runOfHouseRate:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingRunOfHouseRate'
        dayDelegateRate:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingDayDelegateRate'
        taxAndServiceCharge:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingTaxAndServiceCharge'
        meetingRoomBasicInformation:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingMeetingRoomBasicInformation'
        amenity:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingAmenity'
        breakOutRoom:
          $ref: '#/components/schemas/TravelProposalGroupAndMeetingBreakOutRoom'
    BidStayType:
      title: Bid Stay Type
      enum:
      - daily
      - extended
      type: string
      description: Bid stay type.
      default: daily
    TravelProposalBidRate:
      title: Travel Proposal Bid Rate
      type: object
      description: The rate (cost) information for a travel bid.
      properties:
        level:
          $ref: '#/components/schemas/RateLevelType'
        type:
          $ref: '#/components/schemas/RateType'
        planCode:
          type: string
          description: The code given to the bid (also called rate plan) by the supplier.
          maxLength: 10
          example: rp123
        tier:
          type: string
          description: The rate tier given to the bid (also called rate plan) by the supplier.
          maxLength: 10
          example: tier1
    question:
      title: Travel Program Question
      description: A question, defined by the program, for the supplier to answer as part of their proposal.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          title: Question ID
          description: The unique ID of the question.
          type: string
          format: uuid
          example: 76c461cb-77f6-40b3-acc8-db44452f11c4
        text:
          title: Question Text
          description: The text of the question.
          type: string
          maxLength: 300
          example: What type of food is served in the hotel restaurant?
        required:
          title: Required?
          type: boolean
          example: true
          description: Is this question required by default?
        responseType:
          $ref: '#/components/schemas/QuestionResponseType'
        responseDataType:
          $ref: '#/components/schemas/QuestionResponseDataType'
        responseFormat:
          $ref: '#/components/schemas/QuestionResponseFormat'
        responseChoices:
          title: Response Choices
          description: A list of options for the question.  This only applies when responseType is 'choice'
          type: array
          items:
            type: string
          example:
          - Mexican
          - American
          - French
          - Other
    TravelProgramQuestion:
      title: Travel Program Question
      description: A question, defined by the program, for the supplier to answer as part of their proposal.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        travelProgram:
          title: Travel Program
          description: Travel program that the question belongs to.
          type: object
          properties:
            id:
              title: Travel Program ID
              description: The unique ID of the travel program.
              type: string
              format: uuid
              example: ddc61444-45c7-4e1d-9fdd-07713c8baf9b
        id:
          title: Question ID
          description: The unique ID of the question.
          type: string
          format: uuid
          example: 76c461cb-77f6-40b3-acc8-db44452f11c4
        text:
          title: Question Text
          description: The text of the question.
          type: string
          maxLength: 300
          example: What type of food is served in the hotel restaurant?
        required:
          title: Required
          type: boolean
          example: true
          description: Is this question required by default?
        responseType:
          $ref: '#/components/schemas/QuestionResponseType'
        responseDataType:
          $ref: '#/components/schemas/QuestionResponseDataType'
        responseFormat:
          $ref: '#/components/schemas/QuestionResponseFormat'
        responseChoices:
          title: Response Choices
          description: A list of options for the question.  This only applies when responseType is 'choice'
          type: array
          items:
            type: string
          example:
          - Mexican
          - American
          - French
          - Other
    TravelProposalGroupAndMeetingDayDelegateRate:
      title: Travel Proposal Group And Meeting Day Delegate Rate
      description: Day delegate rate information. This represents the costs for hosting meeting at the venue for a half or full day.
      type: object
      properties:
        fullDay10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Full day delegate rate for 10 to 50 people.
          example: 100
        fullDay51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Full day delegate rate for 51 to 100 people.
          example: 200
        halfDay10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Half day delegate rate for 10 to 50 people.
          example: 50
        halfDay51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Half day delegate rate for 51 to 100 people.
          example: 100
    TravelProgramStayType:
      title: Travel Program Stay Type
      enum:
      - daily
      - daily_and_extended_stay
      type: string
      description: Code representing the stay types requested by the program.  Programs can accept daily only, or daily and extended stay proposals.
      example: daily
    travel-program:
      title: Travel Program
      description: Travel program details.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          title: Program ID
          description: The unique ID of the travel program.
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        name:
          title: Program Name
          type: string
          maxLength: 60
          description: The name of the travel program.
          example: Test Program
        contractPeriod:
          title: Originating Contract Period
          description: The contract year in which the travel program originated.
          type: integer
          example: 2023
        type:
          $ref: '#/components/schemas/TravelProgramType'
        format:
          $ref: '#/components/schemas/TravelProgramFormatType'
        status:
          $ref: '#/components/schemas/TravelProgramStatus'
        travelAccount:
          title: Travel Account
          description: Travel account that the program belongs to.
          type: object
          properties:
            id:
              title: Travel Account ID
              description: The unique ID of the travel account.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        stayType:
          $ref: '#/components/schemas/TravelProgramStayType'
        startDate:
          title: Start Date
          description: The ISO 8601 formatted start date (in GMT) of the travel program.
          type: string
          format: date
          example: '2024-01-01'
        endDate:
          title: End Date
          description: The ISO 8601 formatted end date (in GMT) of the travel program.
          type: string
          format: date
          example: '2024-12-31'
        dueDate:
          title: Due Date
          description: The ISO 8601 formatted due date (in GMT) of the travel program.
          type: string
          format: date
          example: '2023-11-13'
        closeoutDate:
          title: Closeout Date
          description: The ISO 8601 formatted decision date (in GMT) of the travel program.
          type: string
          format: date
          example: '2023-11-13'
        questions:
          title: Questions
          description: A list of program specific questions for the supplier to answer as part of their proposal.
          type: array
          items:
            $ref: '#/components/schemas/TravelProgramQuestion-1'
    CommentType:
      title: Comment Type
      enum:
      - promotions
      - special_offers
      - child_policies
      - other_information
      - internal_comments
      type: string
      description: Bid comment type
      example: promotions
    BidStatusType:
      title: Bid Status Type
      enum:
      - in_progress
      - attached
      - deleted
      type: string
      description: Bid stay type.
      default: in_progress
    TravelBidSeasonRate:
      title: Travel Bid Season Rate
      description: The negotiated rates for a property room during a specific season.
      type: object
      properties:
        propertyRoom:
          title: Property Room
          description: ID of the property's room.
          type: object
          properties:
            id:
              title: Property Room ID
              description: The unique ID of the property room.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        singleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 100
          description: The last room available (LRA) single rate.
        doubleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 101
          description: The last room available (LRA) double rate.
        tripleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 102
          description: The last room available (LRA) triple rate.
        quadRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 103
          description: The last room available (LRA) quad rate.
        nlraSingleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 104
          description: The non last room available (NLRA) single rate.
        nlraDoubleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 105
          description: The non last room available (NLRA) double rate.
        allotment:
          type: integer
          minimum: 1
          maximum: 999
          description: The number of rooms allotted at the negotiated rate.
          example: 100
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    TravelProgramStatus:
      title: Travel Program Status
      enum:
      - in_progress
      - complete
      - closed
      type: string
      description: Code representing the status of the travel program.
      example: complete
    questions-paginated-response1:
      title: Travel Program Questions Paginated Response
      description: A paginated list of Questions.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/TravelProgramQuestion'
          description: Collection of Questions.
    QuestionResponseType:
      title: Question Response Type
      enum:
      - single
      - choice
      type: string
      description: Code representing the type of response supported.  Single represents a simple single value response, and choice means the user will be given a set of options for selection.
      example: choice
    TravelProgramQuestion-1:
      title: Travel Program Question
      description: A question, defined by the account, for the supplier to answer as part of their proposal.
      type: object
      properties:
        questionId:
          title: Question ID
          description: The unique ID of the custom question.
          type: string
          format: uuid
          example: 76c461cb-77f6-40b3-acc8-db44452f11c4
        section:
          $ref: '#/components/schemas/QuestionSection'
        required:
          title: Required?
          description: Is it required for suppliers to answer this question in their proposal?
          type: boolean
          example: true
        sequence:
          title: Sequence
          description: The sequence number of the question within the proposal.
          type: integer
          example: 1
    TravelBidDisposition:
      title: Travel Bid Disposition
      type: object
      description: Represents bid disposition details.
      properties:
        bid:
          $ref: '#/components/schemas/TravelProposalBid'
        acceptedBidRooms:
          type: array
          description: List of accepted bid rooms.
          items:
            $ref: '#/components/schemas/TravelBidDispositionAcceptedRoom'
        rateType:
          $ref: '#/components/schemas/RateType'
    TravelProgramFormatType:
      title: Travel Program Format Type
      enum:
      - gbta2013
      - universal
      type: string
      description: Code representing the format of the travel program.
      example: gbta2013
    TravelProposalGroupAndMeetingRunOfHouseRate:
      title: Travel Proposal Group And Meeting Run of House Rate
      description: Run of house rate information.
      type: object
      properties:
        seasonOne10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season one run of house rate for 10-50 people.
          example: 100
        seasonOne51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season one run of house rate for 51-100 people.
          example: 200
        seasonTwo10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season two run of house rate for 10-50 people.
          example: 300
        seasonTwo51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season two run of house rate for 51-100 people.
          example: 400
        seasonThree10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season three run of house rate for 10-50 people.
          example: 500
        seasonThree51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season three run of house rate for 51-100 people.
          example: 600
        seasonFour10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season four run of house rate for 10-50 people.
          example: 700
        seasonFour51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season four run of house rate for 51-100 people.
          example: 800
        seasonFive10To50People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season five run of house rate for 10-50 people.
          example: 900
        seasonFive51To100People:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Season five run of house rate for 51-100 people.
          example: 1000
    business-type:
      title: Business Type
      enum:
      - corporate
      - leisure
      type: string
      description: Business type.
      example: corporate
    TravelProposalGroupAndMeetingMeetingRoomBasicInformation:
      title: Travel Proposal Group And Meeting Meeting Room Basic Information
      description: Meeting room basic information.
      type: object
      properties:
        largestMeetingRoom:
          type: integer
          minimum: 1
          maximum: 9999999999
          description: Size of the largest meeting room. Units of measurement determined by `unitOfMeasurement` field.
          example: 1000
        unitOfMeasurement:
          type: string
          maxLength: 50
          example: sq.ft.
          description: Unit of measurement of the `largestMeetingRoom`'s size.
        meetingRooms:
          type: integer
          minimum: 1
          maximum: 9999999999
          description: Total number of meeting rooms.
          example: 10
    TravelBidAmenity:
      title: Travel Bid Amenity
      type: object
      description: Amenity details for a travel bid.
      properties:
        type:
          $ref: '#/components/schemas/AmenityType'
        code:
          type: string
          minLength: 1
          maxLength: 60
          description: The code representing the amenity.
          example: parking_valet
        category:
          type: string
          minLength: 1
          maxLength: 60
          description: The category of the amenity.
          example: Parking
        included:
          type: boolean
          default: false
          description: True indicates the amenity price is included in the rate.
        price:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: The price of the amenity.
          example: 100
        discountAmount:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: The price of the amenity after discounts.
          example: 90
        internalCost:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          description: Internal cost of the amenity.
          example: 80
        description:
          type: string
          maxLength: 1000
          description: Additional notes on the amenity.
          example: Valet parking is available for all guests.
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    TravelProposalDisposition:
      title: Travel Proposal Disposition
      type: object
      description: Represent proposal disposition details.
      properties:
        bidDispositions:
          type: array
          description: List of bid dispositions.
          items:
            $ref: '#/components/schemas/TravelBidDisposition'
        groupAndMeetingAccepted:
          type: boolean
          description: Indicates if the group and meeting is accepted.
          example: true
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    TravelProgramType:
      title: Travel Program Type
      enum:
      - corporate
      - leisure
      - consortia
      type: string
      description: Code representing the travel program type.
      example: corporate
    TravelProposalCustomQuestion:
      title: Travel Proposal Custom Question
      description: Represents custom question associated with a travel proposal.
      type: object
      properties:
        question:
          title: Question
          description: Travel account that the proposal is responding to.
          type: object
          properties:
            id:
              title: Question ID
              description: The unique ID of the question.
              type: string
              format: uuid
              example: 565ceabb-786a-4a6d-8c85-e2fccc867e88
        answer:
          title: Answer
          description: Hotel's answer to the program's custom question.
          type: string
          maxLength: 4000
          example: No.
    TravelBidTaxAndFee:
      title: Travel Bid Tax and Fee
      description: A tax or fee associated with a travel bid.
      type: object
      properties:
        code:
          $ref: '#/components/schemas/TaxType1'
        amount:
          type: number
          description: The amount of the tax/fee. This may be a percent or monetary value depending on the value in `percent`.
          minimum: 0
          maximum: 9999999999.99
          example: 20
        percent:
          type: boolean
          default: false
          description: True indicates the tax/fee amount represents a percentage, instead of a monetary value.
        included:
          type: boolean
          default: false
          description: True indicates the tax/fee included in the negotiated rate.
        notes:
          type: string
          maxLength: 50
          description: Additional notes on the tax/fee.
          example: This is a tax
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    FairSeasonType:
      title: Fair Season Type
      enum:
      - negotiated
      - blackout
      type: string
      description: Fair season type. Blackout means that no special rate is negotiated for that date and Best Available Rates will apply
      default: negotiated
    travel-proposal:
      title: Travel Proposal
      type: object
      description: Represents travel proposals. Travel proposals are created by the travel supplier in response to a travel account's program.
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          title: Proposal ID
          description: The unique ID of the travel proposal.
          type: string
          format: uuid
          example: 3e2a8614-7d52-442e-8c4f-a6a18ed9ac4d
          readOnly: true
        supplierProperty:
          title: Supplier Property
          description: Supplier property that the proposal is tied to.
          type: object
          properties:
            id:
              title: Supplier Property ID
              description: The unique ID of the supplier property.
              type: string
              format: uuid
              example: a1c79ba8-9553-4fb0-80bd-66adac1b2f5d
        travelProgram:
          title: Travel Program
          description: Travel program that the proposal is in response to.
          type: object
          properties:
            id:
              title: Travel Program ID
              description: The unique ID of the travel program.
              type: string
              format: uuid
              example: ddc61444-45c7-4e1d-9fdd-07713c8baf9b
        contractPeriod:
          type: integer
          example: 2021
          description: Contract period of the proposal. The year the contract begins.
        status:
          $ref: '#/components/schemas/proposal-status-type'
        deleted:
          type: boolean
          default: false
          description: True indicates the proposal is deleted.
        rateReviewStatus:
          $ref: '#/components/schemas/RateReviewStatusType'
        businessType:
          $ref: '#/components/schemas/business-type'
        format:
          $ref: '#/components/schemas/format-type'
        documentRead:
          type: boolean
          default: false
          description: True indicates the documents been read by the supply-side.
        rejectReasonCode:
          type: string
          maxLength: 30
          example: Other
          description: Reason the reject/decline action was performed. Used for certain actions/statuses.
        rejectComment:
          type: string
          maxLength: 2000
          example: other reasons
          description: Comments regarding the reasoning for the reject/decline action. This only comes into play for certain actions/statuses.
        submitDate:
          type: string
          format: date-time
          description: The ISO 8601 datetime when proposal was submitted by the hotel.
          example: '2030-02-10T00:00:00.000Z'
        negotiationRound:
          type: integer
          description: The current round of negotiations.
          example: 1
        negotiationDueDate:
          type: string
          format: date-time
          description: The ISO 8601 datetime when the negotiation response is due.
          example: '2030-02-10T00:00:00.000Z'
        roomNightConsumption:
          type: integer
          description: Client room nights produced at property from January 1 through June 30.
          example: 100
        draft:
          type: boolean
          description: True indicates this proposal is a draft copy that is not sent to the other party.
        bids:
          type: array
          description: Collection of bid IDs attached to the proposal.
          items:
            $ref: '#/components/schemas/TravelProposalBid'
        customQuestionAnswers:
          type: array
          description: Collection of custom questions.
          items:
            $ref: '#/components/schemas/TravelProposalCustomQuestion'
        groupAndMeeting:
          $ref: '#/components/schemas/TravelProposalGroupAndMeeting'
        proposalDisposition:
          $ref: '#/components/schemas/TravelProposalDisposition'
    QuestionResponseDataType:
      title: Question Response Data Type
      enum:
      - text
      - date
      - date_time
      - time
      - number
      - email
      - boolean
      type: string
      description: Code representing the expected data type of the question response.
      example: text
    travel-program-paginated-response:
      title: Travel program paginated response
      description: A paginated list of travel programs.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/travel-program'
          description: Collection of travel programs and their related details.
    TravelBidComment:
      title: Travel Bid Comment
      type: object
      description: A comment on a travel bid.
      properties:
        commentType:
          $ref: '#/components/schemas/CommentType'
        comment:
          description: The text of the comment.
          type: string
          maxLength: 3000
          example: This is a high value client.
    UUIDProperty:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    TravelBidPolicy:
      title: Travel Bid Policy
      type: object
      description: A policy that is associated with a travel bid.
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 30
          description: The code representing the policy.
          example: cancellation_period
        category:
          type: string
          minLength: 1
          maxLength: 30
          description: The category the policy falls under.
          example: cancellation_period
        value:
          type: string
          minLength: 1
          maxLength: 250
          description: The value of the policy.
          example: 24h
        valueType:
          $ref: '#/components/schemas/PolicyValueType'
        included:
          type: boolean
          default: false
          description: True indicates the policy fee included in the rate. Only applies to policies with a value type of money or percent.
        description:
          type: string
          maxLength: 1000
          description: Additional notes on the policy.
          example: The cancellation period is 24 hours.
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    RateType:
      title: Rate Type
      enum:
      - fixed
      - dynamic
      - dynamicwithceiling
      type: string
      description: Rate type.
      default: fixed
    QuestionResponseFormat:
      title: Question Response Format
      enum:
      - lower_case
      - proper_case
      - upper_case
      type: string
      description: Code representing the format the text of the response will be in.
      example: proper_case
    travel-proposal-bid-paginated-response:
      title: Travel Proposal Paginated Response
      description: A paginated list of travel proposals.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/travel-proposal-bid'
          description: Paginated list of business transient proposal bids.
    TravelBidWeekendDays:
      title: Travel Bid Weekend Days
      enum:
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      - Sunday
      type: string
      description: Days considered weekend days for pricing purposes in the travel bid.
      example: Sunday
    BidItemStatusType:
      title: Bid Item Status Type
      enum:
      - requested
      - delete_requested
      - deleted
      - not_offered
      type: string
      description: The status of the item in negotiation. e.g. The corporation might mark an item as delete_requested, and the hotel, if they agree, can update the item to deleted. not_offered indicates the hotel does not offer this amenity (supply side only).
      example: requested
    TravelBidFairSeasonRate:
      title: Travel Bid Fair Season Rate
      type: object
      description: The negotiated rates for a property room during the fair season.
      properties:
        propertyRoom:
          title: Property Room
          description: ID of the property's room.
          type: object
          properties:
            id:
              title: Property Room ID
              description: The unique ID of the property room.
              type: string
              format: uuid
              example: 9ea95519-2fc5-49d8-991b-e954f49044fe
        singleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 100
          description: The single room rate.
        doubleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 101
          description: The double room rate.
        tripleRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 102
          description: The triple room rate.
        quadRate:
          type: number
          minimum: 0.01
          maximum: 9999999999.99
          example: 103
          description: The quadruple room rate.
        allotment:
          type: integer
          minimum: 1
          maximum: 999
          description: The number of rooms allotted at the negotiated rate.
          example: 100
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    TravelProposalGroupAndMeetingTaxAndServiceCharge:
      title: Travel Proposal Group And Meeting Tax and Service Charge
      description: Tax and service charge information.
      type: object
      properties:
        taxAmount:
          type: number
          minimum: 0
          maximum: 9999999999.99
          description: Tax amount.
          example: 0
        taxPercent:
          type: boolean
          description: True indicates the tax amount represents a percentage, instead of a monetary value.
        taxIncluded:
          type: boolean
          description: True indicates the tax included.
        serviceChargeAmount:
          type: number
          minimum: 0
          maximum: 9999999999.99
          description: Service charge amount.
          example: 1
        serviceChargePercent:
          type: boolean
          description: True indicates the service charge amount represents a percentage, instead of a monetary value
        serviceChargeIncluded:
          type: boolean
          description: True indicates the service charge is included.
    TravelBidRoom:
      title: Travel Bid Room
      type: object
      description: A room in a travel bid.
      properties:
        propertyRoom:
          title: Property Room
          description: ID of the property's room.
          type: object
          properties:
            id:
              title: Property Room ID
              description: The unique ID of the property room.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        allocation:
          type: integer
          minimum: 1
          maximum: 9999
          description: The number of rooms allocated to the bid.
          example: 10
        order:
          type: integer
          description: The order of the room in the bid.
          example: 1
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    TravelBidDiscount:
      title: Travel Bid Discount
      type: object
      description: Discount for a travel bid.
      properties:
        propertyRoom:
          title: Property Room
          description: ID of the property's room.
          type: object
          properties:
            id:
              title: Property Room ID
              description: The unique ID of the property room.
              type: string
              format: uuid
              example: 9ea95519-2fc5-49d8-991b-e954f49044fe
        discount:
          type: integer
          minimum: 0
          maximum: 99
          description: Discount percentage for the dynamic rate.
          example: 10
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    TravelBidDispositionAcceptedRoom:
      title: Travel Bid Disposition Accepted Room
      type: object
      description: Represents bid disposition's accepted room.
      properties:
        propertyRoom:
          title: Property Room
          description: ID of the property's room.
          type: object
          properties:
            id:
              title: Property Room ID
              description: The unique ID of the property room.
              type: string
              format: uuid
              example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
        lraRateAccepted:
          title: LRA Rate Accepted
          description: Indicates whether the LRA rates are accepted.
          type: boolean
          example: true
        nlraRateAccepted:
          title: NLRA Rate Accepted
          description: Indicates whether the NLRA rates are accepted.
          type: boolean
          example: true
    TravelBidSeason:
      title: Travel Bid Season
      type: object
      description: Season details for a travel bid.
      properties:
        name:
          type: string
          maxLength: 20
          description: Season name.
          example: Season 1
        startDate:
          type: string
          format: date
          description: The ISO 8601 start date of the season.
          example: '2021-07-13'
        endDate:
          type: string
          format: date
          description: The ISO 8601 end date of the season.
          example: '2021-07-13'
        releasePeriod:
          type: integer
          minimum: 1
          maximum: 999
          example: 1
          description: Number of release periods.
        weekendReleasePeriod:
          type: integer
          minimum: 1
          maximum: 999
          example: 2
          description: Number of weekend release periods.
        rates:
          type: array
          description: Collection of rates for the season.
          items:
            $ref: '#/components/schemas/TravelBidSeasonRate'
        weekendRates:
          type: array
          description: Collection of weekend rates for the season.
          items:
            $ref: '#/components/schemas/TravelBidSeasonRate'
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    travel-proposal-paginated-response:
      title: Travel Proposal Paginated Response
      description: A paginated list of travel proposals.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/travel-proposal'
          description: Paginated list of business transient proposals.
    TravelProposalBid:
      title: Travel Proposal Bid
      type: object
      description: A travel proposal bid.
      properties:
        id:
          title: Bid ID
          description: The ID of the bid.
          type: string
          format: uuid
          example: 1c208c0d-cf96-42ec-a2c3-7ab7a5c04825
    TravelBidFairSeason:
      title: Travel Bid Fair Season
      type: object
      description: The fair season for a travel bid.
      properties:
        type:
          $ref: '#/components/schemas/FairSeasonType'
        name:
          type: string
          maxLength: 20
          description: Fair season name.
          example: Fair season 1
        startDate:
          type: string
          format: date
          description: The ISO 8601 start date of the fair season.
          example: '2021-07-13'
        endDate:
          type: string
          format: date
          description: The ISO 8601 end date of the fair season.
          example: '2021-07-13'
        minLengthOfStay:
          type: integer
          minimum: 1
          maximum: 999
          description: Minimum length of stay for the fair season.
          example: 1
        releasePeriod:
          type: integer
          minimum: 1
          maximum: 999
          description: Release period for the fair season. Release period is the minimum number of days between the booking being made and the earliest arrival date.
          example: 1
        rates:
          type: array
          description: Collection of rates for the fair season.
          items:
            $ref: '#/components/schemas/TravelBidFairSeasonRate'
        status:
          $ref: '#/components/schemas/BidItemStatusType'
    RateLevelType:
      title: Rate Level Type
      enum:
      - corporate
      - leisure
      - government
      type: string
      description: Rate level
      example: corporate
    question-paginated-response:
      title: Travel Program Question Paginated Response
      description: A paginated list of Questions.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/question'
          description: Collection of Questions.
  parameters:
    travel-proposal-filter:
      name: filter
      in: query
      required: false
      description: 'A filter query string narrows search results and supports the combination

        of logical and comparison operators. The filter adheres to the pattern

        filter=''field'' comparisonType ''value''.


        These are the comparison types that can be used in filter expressions:

        * equal: eq

        * not equal: ne

        * greater than: gt

        * greater or equal: ge

        * less than: lt

        * less than or equal: le

        * starts with: sw

        * contains a value: contains


        The following fields are filterable:

        * id (eq|ne)

        * businessType (eq|ne)

        * contractPeriod (eq|ne)

        * status (eq|ne)

        * deleted (eq|ne)

        * supplierProperty.id (eq|ne)

        * travelProgram.id (eq|ne)

        * created (eq|ne|lt|le|gt|ge)

        * lastModified (eq|ne|lt|le|gt|ge)

        '
      schema:
        type: string
        example: travelProgram.id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c'
    programId:
      name: programId
      description: A uuid used to uniquely identify the program.
      required: true
      in: path
      schema:
        title: Program ID
        type: string
        format: uuid
        example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    travel-program-filter:
      name: filter
      in: query
      required: false
      description: '"A filter query string narrows search results and supports the combination of logical and comparison operators. The filter adheres to the pattern filter=''field'' comparisonType ''value''.


        There are eight comparison types that can be used in filter expressions:

        * equal: eq

        * not equal: ne

        * greater than: gt

        * greater or equal: ge

        * less than: lt

        * less than or equal: le

        * starts with: sw

        * contains a value: contains


        The following fields are filterable:

        * id (eq|ne)

        * name (eq|ne|sw|contains)

        * type (eq|ne)

        * travelAccount.id (eq|ne)

        * created (eq|ne|lt|le|gt|ge)

        * lastModified (eq|ne|lt|le|gt|ge)"

        '
      schema:
        type: string
        example: travelAccount.id eq 3c74daaf-11af-4b43-9a4e-ed3ec60f9bd3
    travelProposalId:
      description: Unique ID of a travel proposal.
      example: 413c5cc2-cb77-4082-9131-bab73fde5834
      name: travelProposalId
      required: true
      in: path
      schema:
        $ref: '#/components/schemas/UUIDProperty'
    questionId2:
      name: questionId
      description: Unique ID for a question
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UUIDProperty'
    travelProposalBidId:
      description: Unique ID of a travel proposal bid.
      example: 413c5cc2-cb77-4082-9131-bab73fde5834
      name: travelProposalBidId
      required: true
      in: path
      schema:
        $ref: '#/components/schemas/UUIDProperty'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    travel-bid-filter:
      name: filter
      in: query
      required: false
      description: 'A filter query string narrows search results and supports the combination of

        logical and comparison operators. The filter adheres to the pattern filter=''field''

        comparisonType ''value''.


        These are the comparison types that can be used in filter expressions:

        * equal: eq

        * not equal: ne

        * greater than: gt

        * greater or equal: ge

        * less than: lt

        * less than or equal: le


        The following fields are filterable:

        * id (eq|ne)

        * proposal.id (eq|ne)

        * proposal.created (eq|ne|lt|le|gt|ge)

        * proposal.lastModified (eq|ne|lt|le|gt|ge)

        '
      schema:
        type: string
        example: proposal.id eq '1ffa56d9-9f60-4b8c-8b3b-3451de21293c'
  responses:
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
[...]
