openapi: 3.2.0
info:
  title: Cvent REST Exhibitor API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Exhibitor
  description: '* **Exhibitor -** An exhibitor is an organization that is sponsoring or exhibiting at your event.'
paths:
  /events/{id}/exhibitor-categories:
    get:
      summary: List Exhibitor Categories
      description: Retrieves a paginated list of exhibitor categories associated with a single event.
      operationId: getExhibitorCategories
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved exhibitor categories.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-categories-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      summary: Create Exhibitor Category
      description: Creates a single exhibitor category entity for an event.
      operationId: createExhibitorCategory
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:write
      parameters:
      - $ref: '#/components/parameters/id6'
      requestBody:
        description: Exhibitor Category details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exhibitor-category-request'
      responses:
        '201':
          description: Successfully Created the exhibitor category.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-category-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitor-categories/{exhibitorCategoryId}:
    put:
      summary: Update Exhibitor Category
      description: Updates data for a single exhibitor category entity.
      operationId: updateExhibitorCategory
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorCategoryId'
      requestBody:
        description: Exhibitor Category details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exhibitor-category-request'
      responses:
        '200':
          description: Successfully updated the exhibitor category.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-category-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Exhibitor Category
      description: Deletes a single exhibitor Category entity.
      operationId: deleteExhibitorCategory
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:delete
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:delete
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorCategoryId'
      responses:
        '204':
          description: Successfully deleted exhibitor category.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitor-categories/{exhibitorCategoryId}/banner-files/{fileId}:
    put:
      summary: Assign Banner to Category
      description: 'Assign a banner image to an exhibitor category with a file UUID from file upload endpoint. This will replace the current banner image if one is assigned.


        **Note:** For category banner images we recommend images that are 900x300 pixels and 5MiB or smaller. File types supported are : JPEG, JPG, PNG, GIF.'
      operationId: updateExhibitorCategoryBanner
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorCategoryId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '200':
          description: Successfully updated the exhibitor category banner image.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-category-banner-file'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Banner from Category
      description: Deletes an exhibitor Category banner image.
      operationId: deleteExhibitorCategoryImage
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorCategoryId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '204':
          description: Successfully deleted exhibitor category banner image.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitor-categories/{exhibitorCategoryId}/exhibitors:
    get:
      summary: List Category's Exhibitors
      description: Get a paginated list of exhibitors assigned to the provided exhibitor-category Id.
      operationId: listExhibitors
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorCategoryId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved a Paginated list of exhibitors assigned to the exhibitor-category.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-id-list-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitor-categories/{exhibitorCategoryId}/exhibitors/{exhibitorId}:
    parameters:
    - $ref: '#/components/parameters/id6'
    - $ref: '#/components/parameters/exhibitorCategoryId'
    - $ref: '#/components/parameters/exhibitorId'
    put:
      summary: Assign Exhibitor to Category
      description: Assign an exhibitor ID to an exhibitor-category Id.
      operationId: addExhibitorToExhibitorCategory
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:write
      responses:
        '204':
          description: Successfully added an exhibitor to the exhibitor-category.
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Exhibitor from Category
      description: delete an exhibitor from an exhibitor-category
      operationId: removeExhibitorFromExhibitorCategory
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:delete
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:delete
      responses:
        '204':
          description: Successfully removed the exhibitor
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitor-questions:
    get:
      summary: List Exhibitor Questions
      description: Gets a list of exhibitor questions for a given event id.
      operationId: getExhibitorQuestions
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-questions:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-questions:read
      parameters:
      - $ref: '#/components/parameters/id6'
      responses:
        '200':
          description: Successfully retrieved exhibitor questions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-questions-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors:
    get:
      summary: List Exhibitors
      description: Retrieves a paginated list of exhibitors associated with a single event.
      operationId: getExhibitors
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/before'
      - $ref: '#/components/parameters/after'
      - name: filter
        in: query
        required: false
        description: 'A filter query string narrows search results and supports the combination of logical and comparison operators.

          The filter adheres to the pattern filter=''field'' comparisonType ''value''.


          These are the comparison types that can be used in filter expressions:

          * equal: eq

          * includes value(s): in


          The following fields are filterable:

          * hidden (eq)

          * deleted (eq)

          * id (in)

          '
        schema:
          type: string
          example: id in ('{UUID}', '{UUID}') AND deleted eq 'true' AND hidden eq 'true'
      responses:
        '200':
          description: Successfully retrieved exhibitors.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitors-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    post:
      summary: Create Exhibitor
      description: Creates a single exhibitor entity for an event.
      operationId: createExhibitor
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      requestBody:
        description: Exhibitor details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exhibitor-request'
      responses:
        '201':
          description: Successfully Created the exhibitor.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}:
    get:
      summary: Get Exhibitor
      description: Retrieves a single exhibitor entity for an event.
      operationId: getExhibitor
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      responses:
        '200':
          description: Successfully retrieved exhibitor data.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      summary: Update Exhibitor
      description: Updates data for a single exhibitor entity.
      operationId: updateExhibitor
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      requestBody:
        description: Exhibitor details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exhibitor-request'
      responses:
        '200':
          description: Successfully updated the exhibitor.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Exhibitor
      description: Deletes a single exhibitor entity. To be deleted, exhibitors must have no tasks, registrations, or LeadCapture licenses assigned and must not be a sponsored or featured exhibitor.
      operationId: deleteExhibitor
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:delete
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:delete
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      responses:
        '204':
          description: Successfully deleted exhibitor.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/banner-files/{fileId}:
    put:
      summary: Assign Exhibitor Banner Image
      description: 'Assign a banner image to an exhibitor with a file UUID from file upload endpoint. This will replace the current banner image if one is assigned.


        **Note:** For exhibitor profile banner images, we recommend images that are 1872x320 pixels or smaller images that have an aspect ratio of 5.85:1. File extensions supported: JPEG, JPG, PNG, GIF'
      operationId: updateExhibitorBanner
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '200':
          description: Successfully added the exhibitor banner image.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-banner-logo-file'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Exhibitor Banner Image
      description: Deletes exhibitor banner image data
      operationId: deleteExhibitorBanner
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '204':
          description: Successfully deleted exhibitor banner image data.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/exhibitor-answers:
    get:
      summary: List Exhibitor Answers
      description: Gets a list of answers to exhibitor questions for a given exhibitor id.
      operationId: getExhibitorAnswers
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-answers:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-answers:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      responses:
        '200':
          description: Successfully retrieved exhibitor answers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-answers-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      summary: Update Exhibitor Answers
      description: Updates answers to exhibitor questions for a given exhibitor id. The Planner can skip answering the questions marked as required for exhibitor admins.
      operationId: updateExhibitorAnswers
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-answers:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-answers:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      requestBody:
        description: Exhibitor answers to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exhibitor-answers-request'
      responses:
        '200':
          description: Successfully updated exhibitor answers.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-answers-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/exhibitor-categories:
    get:
      summary: List Exhibitor's Categories
      description: Get a paginated list of exhibitor-categories assigned to the provided exhibitor Id.
      operationId: listExhibitorCategories
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitor-categories:read
      - OAuth2.authorizationCode:
        - exhibitor/exhibitor-categories:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Successfully retrieved a Paginated list of exhibitor-categories assigned to the exhibitor
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-category-id-list-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/logo-files/{fileId}:
    put:
      summary: Assign Exhibitor Logo Image
      description: 'Assign a logo image to an exhibitor with a file UUID from file upload endpoint. This will replace the current logo image if one is assigned.


        **Note:** For exhibitor profile logo images we recommend square images larger than 300x300 pixels. The file types supported are : JPEG, JPG, PNG, GIF'
      operationId: updateExhibitorLogo
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '200':
          description: Successfully added the exhibitor logo image.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-banner-logo-file'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Exhibitor Logo Image
      description: Deletes exhibitor logo image data
      operationId: deleteExhibitorLogo
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/exhibitors:write
      - OAuth2.authorizationCode:
        - exhibitor/exhibitors:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/fileId1'
      responses:
        '204':
          description: Successfully deleted exhibitor logo image data.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/questions:
    get:
      summary: List Qualification Questions
      description: Retrieves a list of lead qualification questions associated with a single exhibitor at the given event.
      operationId: getLeadQualificationQuestions
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/lead-qualification-questions:read
      - OAuth2.authorizationCode:
        - exhibitor/lead-qualification-questions:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      responses:
        '200':
          description: Successfully retrieved a list of Lead Qualification Questions.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead-qualification-questions-list-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/registration-packs:
    post:
      summary: Create Registration Pack
      description: Create registration pack for an exhibitor
      operationId: postRegistrationPack
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/registration-packs:write
      - OAuth2.authorizationCode:
        - exhibitor/registration-packs:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      requestBody:
        description: Registration pack details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration-pack-request'
      responses:
        '201':
          description: Successfully created the registration pack.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-pack-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          description: Registration pack for given exhibitor already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              example:
                code: 409,
                message: Registration pack for given exhibitor already exists.
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      summary: List Registration Pack
      description: 'Retrieves the registration pack associated with an exhibitor. Each exhibitor has one registration pack per event

        that consolidates capacities across all registration types.'
      operationId: getExhibitorRegistrationPacks
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/registration-packs:read
      - OAuth2.authorizationCode:
        - exhibitor/registration-packs:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      responses:
        '200':
          description: Successfully retrieved the registration pack.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exhibitor-registration-pack-list-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/exhibitors/{exhibitorId}/registration-packs/{registrationPackId}:
    get:
      summary: Get Registration Pack
      description: Retrieves registration types allocated to an exhibitor, along with the count of registrations utilized.
      operationId: getRegistrationPack
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/registration-packs:read
      - OAuth2.authorizationCode:
        - exhibitor/registration-packs:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/registrationPackId'
      responses:
        '200':
          description: Successfully retrieved the registration pack.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-pack-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      summary: Update Registration Pack
      description: Update registration pack for an exhibitor
      operationId: updateRegistrationPack
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/registration-packs:write
      - OAuth2.authorizationCode:
        - exhibitor/registration-packs:write
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/registrationPackId'
      requestBody:
        description: Registration pack details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registration-pack-request'
      responses:
        '200':
          description: Successfully updated the registration pack.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registration-pack-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete Registration Pack
      description: Delete registration pack for an exhibitor
      operationId: deleteRegistrationPack
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/registration-packs:delete
      - OAuth2.authorizationCode:
        - exhibitor/registration-packs:delete
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/exhibitorId'
      - $ref: '#/components/parameters/registrationPackId'
      responses:
        '204':
          description: Successfully deleted the registration pack.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '409':
          description: RegPack cannot be deleted when at least one or more booth staff are already assigned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              example:
                code: 409,
                message: Conflict
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/sponsorship-levels:
    get:
      summary: List Sponsorship Levels
      description: Gets a list of associated sponsorship levels for a single event.
      operationId: getSponsorshipLevels
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/sponsorship-levels:read
      - OAuth2.authorizationCode:
        - exhibitor/sponsorship-levels:read
      parameters:
      - $ref: '#/components/parameters/id6'
      responses:
        '200':
          description: Successfully retrieved sponsorship levels.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sponsorship-level-list-response'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/sponsorship-levels/{sponsorshipLevelId}:
    get:
      summary: Get Sponsorship Level
      description: Retrieves associated sponsorship level data for a single sponsorship level ID.
      operationId: getSponsorshipLevel
      tags:
      - Exhibitor
      security:
      - OAuth2.clientCredentials:
        - exhibitor/sponsorship-levels:read
      - OAuth2.authorizationCode:
        - exhibitor/sponsorship-levels:read
      parameters:
      - $ref: '#/components/parameters/id6'
      - $ref: '#/components/parameters/sponsorshipLevelId'
      responses:
        '200':
          description: Successfully retrieved sponsorship level data.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/existing-sponsorship-level'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  schemas:
    AdditionalChoice1:
      title: Additional Choice
      description: Contains text of additional choice
      type: object
      properties:
        text:
          type: string
          description: Text Value of additional choice
          example: Not Applicable or Other
    Paging:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/PaginationLinks'
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    Audit:
      title: Audit
      description: Audit information
      type: object
      properties:
        created:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was created.
          readOnly: true
          example: '2017-01-02T02:00:00Z'
        createdBy:
          type: string
          description: The identifier of the user that created this record.
          readOnly: true
          example: hporter
        lastModified:
          type: string
          format: date-time
          description: The ISO 8601 zoned date time when this record was updated.
          readOnly: true
          example: '2019-02-12T03:00:00Z'
        lastModifiedBy:
          type: string
          description: The identifier of the user that last updated this record.
          readOnly: true
          example: hporter
    exhibitor-banner-logo-file:
      title: Exhibitor Banner/Logo File
      type: object
      description: JSON Schema for Exhibitor Banner/Logo File
      properties:
        file:
          type: object
          description: File object containing UUID
          properties:
            id:
              $ref: '#/components/schemas/uuid-property'
        href:
          format: uri
          type: string
          description: URL of a exhibitor banner/logo image
          readOnly: true
          example: https://images.cvent.com/pt/production/account_123/event_123/ExhibitorLogo.png
    exhibitor-answers-request:
      title: Exhibitor Answers Request
      description: An object representing the request for exhibitor answers.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExistingExhibitorAnswer'
          description: List of answers for all exhibitor questions.
    exhibitors-paginated-response:
      title: ExhibitorsPaginatedResponse
      type: object
      description: A paginated response containing a list of exhibitors for an event.
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/exhibitor-response'
          description: Paginated list of exhibitors for an event.
    Event4:
      description: The Associated Event.
      title: Event
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 3db28cfc-db22-11eb-8d19-0242ac130003
          description: Event id
    registration-pack-request:
      title: RegistrationPack
      type: object
      required:
      - event
      - exhibitor
      - capacities
      description: A registration pack defining the registration type capacity allocations for an exhibitor at an event.
      properties:
        event:
          $ref: '#/components/schemas/Event4'
        exhibitor:
          $ref: '#/components/schemas/Exhibitor'
        capacities:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Capacity'
          description: An array of capacities for the registration pack.
    existing-exhibitor-question:
      title: Existing Exhibitor Question
      type: object
      description: Schema for an existing exhibitor question
      allOf:
      - $ref: '#/components/schemas/exhibitor-question'
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: f7c01518-1792-11ec-9621-0242ac130002
          description: Exhibitor Question id
        displayOrder:
          type: integer
          description: The unique display order of the exhibitor question.
          example: 1
          readOnly: true
          default: 1
          minimum: 1
    ExistingExhibitorAnswer:
      title: Existing Exhibitor Answer
      type: object
      description: Existing Exhibitor Answer schema
      allOf:
      - $ref: '#/components/schemas/ExhibitorAnswer'
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 06d2bfce-1793-11ec-9621-0242ac130002
          description: Exhibitor Answer id
    ExhibitorAnswer:
      title: Exhibitor Answer
      description: A JSON Schema representation of an exhibitor answer entity.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      required:
      - question
      - exhibitor
      - event
      - answers
      properties:
        question:
          $ref: '#/components/schemas/UUID'
        event:
          $ref: '#/components/schemas/Event4'
        exhibitor:
          $ref: '#/components/schemas/Exhibitor'
        answers:
          description: List of answers
          type: array
          items:
            $ref: '#/components/schemas/Answer-2'
    ExistingCapacity:
      title: ExistingCapacity
      type: object
      description: Represents the existing capacity of the registration type for an exhibitor
      allOf:
      - $ref: '#/components/schemas/Capacity'
      required:
      - availableCapacity
      properties:
        availableCapacity:
          type: integer
          description: Available capacity of the registration type for an exhibitor
          example: 4
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    LeadQualificationQuestion:
      title: Lead Qualification Question
      type: object
      description: A JSON schema representing a Lead Qualification Question model
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        id:
          type: string
          format: uuid
          example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
          description: Lead Qualification Question id
        event:
          $ref: '#/components/schemas/Event4'
        exhibitor:
          $ref: '#/components/schemas/Exhibitor'
        type:
          type: string
          description: Type of question
          enum:
          - MultiChoice
          - SingleChoice
          - Rating
          - OpenEndedTextOneLine
          - OpenEndedTextCommentBox
          - OpenEndedDateTime
        code:
          type: string
          description: question code
          example: cult
        choices:
          type: array
          description: List of available choices for the question
          items:
            $ref: '#/components/schemas/Choice1'
        notApplicableAnswer:
          $ref: '#/components/schemas/AdditionalChoice1'
        otherAnswers:
          $ref: '#/components/schemas/AdditionalChoice1'
        required:
          type: boolean
          description: A boolean indicating whether the question is mandatory or not
          example: true
        text:
          type: string
          description: text of the question
          example: Is there a business need?
    registration-pack-response:
      title: ExistingRegistrationPack
      type: object
      required:
      - id
      - event
      - exhibitor
      - capacities
      description: Schema for existing registration pack object
      properties:
        id:
          type: string
          format: uuid
          example: 50f4f0df-0c2d-4e6b-8e68-e1413b6917f5
          description: Registration pack id
        event:
          $ref: '#/components/schemas/Event4'
        exhibitor:
          $ref: '#/components/schemas/Exhibitor'
        capacities:
          type: array
          items:
            $ref: '#/components/schemas/ExistingCapacity'
          description: Capacities allocated per registration type for this exhibitor's registration pack.
    ExhibitorCategoryId:
      title: ExhibitorCategoryId
      type: object
      description: Schema for Exhibitor Category ID.
      properties:
        id:
          type: string
          format: uuid
          example: 534a465b-b4cb-471d-9498-4bf3917ad8bf
          description: ID of exhibitor category.
    SponsorshipLevel-1:
      title: Sponsorship level
      type: object
      description: A file representing the sponsorship level
      required:
      - event
      - name
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        event:
          $ref: '#/components/schemas/Event4'
        name:
          type: string
          description: Name of the sponsorship level
          example: Silver
    PaginationLinks:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/Link'
        self:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
    Capacity:
      title: Capacity
      type: object
      required:
      - registrationType
      - reservedCapacity
      properties:
        registrationType:
          type: object
          description: Registration type information
          required:
          - id
          properties:
            id:
              type: string
              format: uuid
              example: 923d5629-3cac-40c2-8237-34937dd93475
              description: Registration type id
        reservedCapacity:
          minimum: 1
          type: integer
          description: Reserved capacity of the registration type for an exhibitor
          example: 5
      description: Registration capacity object containing registration type and reserved capacity
    exhibitor-category-request:
      title: Exhibitor Category
      type: object
      required:
      - event
      - name
      - order
      - type
      allOf:
      - $ref: '#/components/schemas/Audit'
      properties:
        event:
          $ref: '#/components/schemas/Event4'
        name:
          type: string
          description: Name of the exhibitor category
          maxLength: 50
          example: Automobile
        description:
          description: Exhibitor Category description
          type: string
          maxLength: 180
          example: everything related to automobiles
        order:
          description: order for exhibitor category
          type: integer
          example: 3
          minimum: 1
        type:
          description: Type of exhibitor category
          enum:
          - BANNER
          - LOGO
          type: string
          example: LOGO
      description: JSON schema representing an Exhibitor Category object
    Choice1:
      title: Choice
      description: A schema representing a choice object
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseChoice'
      properties:
        label:
          type: string
          description: Label of choice
          example: Choice A
    BaseChoice:
      title: BaseChoice
      type: object
      description: A JSON schema representing a base choice object
      properties:
        id:
          readOnly: true
          type: string
          format: uuid
          description: Unique identifier for the choice
        text:
          type: string
          description: Text value of the field
          example: Choice 1
    SponsorshipLevel:
      title: Sponsorship level
      description: Associated sponsorship level for an exhibitor
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 3db28cfc-db22-11eb-8d19-0242ac130003
          description: Sponsorship Level Id
    UUID:
      title: UUID
      description: The reference to the related entity. Contains only the ID of the related entity.
      required:
      - id
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUIDProperty'
    exhibitor-answer-format:
      type: string
      description: Specifies the format for displaying answers based on the question type. For SingleChoice questions, choose between 'Dropdown' or 'RadioButton'. For OpenEndedTextOneLine questions, select 'General', 'EmailAddress', or 'PhoneNumber'. For OpenEndedDateTime questions, use 'DateAndTime' or 'Date'.
      enum:
      - Date
      - DateAndTime
      - Dropdown
      - EmailAddress
      - General
      - PhoneNumber
      - RadioButton
      example: RadioButton
    Address5:
      title: Address
      type: object
      description: An object representing an address with various properties.
      properties:
        address1:
          type: string
          description: The first line of an address
          example: Cvent Inc.
        address2:
          type: string
          description: The second line of an address
          example: 4001 West Parmer Lane
        city:
          type: string
          description: The name of the city.
          example: Austin
        region:
          type: string
          description: The name of the state/province/region of the address.
          example: Texas
        postalCode:
          type: string
          description: postal code (also known as zipcode) of the address
          example: '78727'
        country:
          type: string
          description: Name of the country for example, 'United States'
          example: United States of America
    Exhibitor:
      description: The Associated Exhibitor.
      title: Exhibitor
      type: object
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          example: 4888db54-db22-11eb-8d19-0242ac130003
          description: Exhibitor id
    Answer-2:
      title: Answer
      type: object
      description: A JSON schema representing an answer object.
      required:
      - type
      properties:
        type:
          $ref: '#/components/schemas/AnswerType-1'
        value:
          type: string
          description: 'Answered value like: Choice text, text answer input etc.'
          example: Choice A
        choice:
          description: The choice that was selected.
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: The ID of the choice that was selected.
    exhibitor-registration-pack-list-response:
      title: Exhibitor Registration Pack List Response
      type: object
      description: The registration pack associated with an exhibitor. Each exhibitor has at most one registration pack per event.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/registration-pack-response'
          maxItems: 1
          description: The registration pack for an exhibitor. Contains at most one item.
    exhibitor-id-list-response:
      title: ExhibitorIdPaginatedResponse
      type: object
      description: Exhibitor Id Paginated Response schema
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExhibitorId'
          description: Paginated list of exhibitor Ids for an exhibitor category.
    exhibitor-category-banner-file:
      title: Exhibitor Category Banner File
      type: object
      description: A JSON schema for the exhibitor category banner file.
      properties:
        file:
          type: object
          description: File properties for the exhibitor category banner file.
          properties:
            id:
              $ref: '#/components/schemas/uuid-property'
        href:
          format: uri
          type: string
          description: URL of a exhibitor category banner image
          readOnly: true
          example: https://images.cvent.com/pt/production/account_123/event_123/CategoryImage.png
    ExhibitorId:
      title: ExhibitorId
      description: A JSON Schema representation of an exhibitor ID.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/uuid-property'
    exhibitor-answers-response:
      title: Exhibitor Answers List Response
      type: object
      description: A response object containing a list of exhibitor question answers.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExistingExhibitorAnswer'
          description: List of answers for all exhibitor questions.
    exhibitor-question:
      title: Exhibitor Question
      description: A representation of an exhibitor question for an event.
      type: object
      allOf:
      - $ref: '#/components/schemas/Audit'
      required:
      - event
      - type
      - text
      - required
      properties:
        event:
          $ref: '#/components/schemas/Event4'
        text:
          type: string
          description: The actual text of the exhibitor question.
          example: Is there a business need?
        code:
          type: string
          minLength: 4
          maxLength: 10
          example: A001
          description: System or User defined event level unique exhibitor question code.
        type:
          $ref: '#/components/schemas/exhibitor-question-type'
        required:
          type: boolean
          description: A boolean indicating whether the question is mandatory or not
          example: true
        choices:
          type: array
          description: An array of choices for the exhibitor question.
          items:
            $ref: '#/components/schemas/BaseChoice'
          minItems: 1
          maxItems: 100
        notApplicableAnswer:
          $ref: '#/components/schemas/AdditionalChoice1'
        otherAnswer:
          $ref: '#/components/schemas/AdditionalChoice1'
        answerFormat:
          $ref: '#/components/schemas/exhibitor-answer-format'
        answerLimits:
          $ref: '#/components/schemas/ExhibitorAnswerLimits'
        defaultToCurrentDate:
          type: boolean
          description: True indicates the current date and time is automatically set as the default value for OpenEndedDateTime questions.
          example: true
    ContactLinks1:
      title: ContactLinks
      type: object
      description: A JSON schema representing contact links, including Twitter, Facebook, and LinkedIn URLs.
      properties:
        twitterUrl:
          $ref: '#/components/schemas/Link'
        facebookUrl:
          $ref: '#/components/schemas/Link'
        linkedInUrl:
          $ref: '#/components/schemas/Link'
        instagramUrl:
          $ref: '#/components/schemas/Link'
    existing-sponsorship-level:
      title: Sponsorship Level
      type: object
      description: Existing sponsorship level model
      allOf:
      - $ref: '#/components/schemas/SponsorshipLevel-1'
      properties:
        id:
          type: string
          format: uuid
          example: 1765848c-2a7f-48d2-85a2-6668b8e64ffb
          description: ID of event sponsorship level.
          readOnly: true
        rank:
          type: integer
          description: Represents the order sponsors appear in a list.
          example: 3
          minimum: 0
    UUIDProperty:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    exhibitor-request:
      title: Exhibitor
      type: object
      description: A representation of an exhibitor including all relevant information.
      allOf:
      - $ref: '#/components/schemas/Audit'
      required:
      - event
      - name
      properties:
        event:
          $ref: '#/components/schemas/Event4'
        name:
          type: string
          description: Name of the exhibitor. Cvent suggests limiting this to a maximum of 200 characters for optimal results.
          minLength: 1
          maxLength: 500
          example: Potterfield Harry
        description:
          description: Exhibitor description
          type: string
          maxLength: 5000
          example: A man who sells relatively good hotdogs
        code:
          description: Code used to identify the exhibitor
          type: string
          example: abc123
        sourceId:
          description: Code used for marketing groupings
          type: string
          example: software
        location:
          description: Exhibitor location
          type: string
          example: Taj Mahal
        address:
          $ref: '#/components/schemas/Address5'
        email:
          type: string
          format: email
          description: Email address of the exhibitor
          example: h.potterfield@test.com
        mobilePhone:
          type: string
          description: Mobile Phone of the exhibitor
          example: 555-555-5555
        workPhone:
          type: string
          description: Work Phone of the exhibitor
          example: 555-555-5555
        otherPhone:
          type: string
          description: Any other phone of the exhibitor
          example: 555-555-5555
        website:
          description: Exhibitor's website URL
          example: www.superhappyfuntime.com
          type: string
          format: url
        contactLinks:
          $ref: '#/components/schemas/ContactLinks1'
        deleted:
          description: A boolean indicating whether the exhibitor is deleted or not
          type: boolean
          default: false
        hidden:
          description: True indicates that the exhibitor is hidden.
          type: boolean
          default: false
        eventSponsor:
          type: boolean
          description: A boolean indicating whether the exhibitor is an event sponsor or not
          default: false
        featured:
          type: boolean
          description: A boolean indicating whether the exhibitor is designated as featured or not
          default: false
        sponsorshipLevel:
          $ref: '#/components/schemas/SponsorshipLevel'
    lead-qualification-questions-list-response:
      title: Lead Qualification Questions List Response
      type: object
      description: A response containing a list of lead qualification questions.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/LeadQualificationQuestion'
          description: Collection of lead qualification questions.
    exhibitor-response:
      title: Exhibitor
      description: JSON schema for the exhibitor object
      type: object
      allOf:
      - $ref: '#/components/schemas/exhibitor-request'
      properties:
        id:
          type: string
          format: uuid
          example: 4888db54-db22-11eb-8d19-0242ac130003
          description: ID of an exhibitor.
          readOnly: true
        profileLogoId:
          description: File ID for exhibitor profile logo.
          format: uuid
          type: string
          example: 31bd3ae1-0dc3-487b-953e-41d6bbade7d2
          readOnly: true
        profileLogoUrl:
          description: URL for exhibitor profile logo.
          format: uri
          type: string
          example: https://images.cvent.com/pt/fileLocation/url_123
          readOnly: true
        bannerId:
          description: File ID for exhibitor banner.
          format: uuid
          type: string
          example: 12ca3ae2-0dc3-487b-953e-86d6acadf7d5
          readOnly: true
        bannerUrl:
          description: URL for exhibitor banner.
          format: uri
          type: string
          example: https://images.cvent.com/pt/fileLocation/url_456
          readOnly: true
    error-response:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    exhibitor-questions-response:
      title: Exhibitor Questions List Response
      type: object
      description: A response containing a list of all questions for exhibitors.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-exhibitor-question'
          description: List of all questions for exhibitors.
    AnswerType-1:
      title: AnswerType
      enum:
      - Choice
      - Text
      - Other
      - NA
      type: string
      description: Type of answer
      example: Choice
    exhibitor-category-id-list-response:
      title: ExhibitorCategoryIdPaginatedResponse
      type: object
      description: A paginated response containing a list of exhibitor category Ids.
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExhibitorCategoryId'
          description: Paginated list of exhibitor category Ids for an exhibitor.
    exhibitor-categories-paginated-response:
      title: Exhibitor Categories List Response
      description: The response object containing the paginated list of exhibitor categories.
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        data:
          type: array
          items:
            $ref: '#/components/schemas/exhibitor-category-response'
          description: Paginated list of all exhibitor categories for an event.
    ExhibitorAnswerLimits:
      title: Exhibitor Answer Limits
      description: Defines the limits for answers to exhibitor questions.
      type: object
      properties:
        minLength:
          type: integer
          description: Minimum length of the answer for OpenEndedTextCommentBox questions. It must be less than or equal to maxLength.
          default: 1
          minimum: 1
          maximum: 2000
          example: 1
        maxLength:
          type: integer
          description: Maximum length of the answer for OpenEndedTextCommentBox questions.
          default: 2000
          minimum: 1
          maximum: 2000
          example: 2000
        minSelections:
          type: integer
          description: Minimum number of choices required for MultiChoice questions. It must be less than or equal to maxSelections.
          minimum: 1
          maximum: 100
          example: 1
        maxSelections:
          type: integer
          description: Maximum number of choices allowed for MultiChoice questions. It cannot exceed the total number of available choices.
          minimum: 1
          maximum: 100
          example: 10
    exhibitor-category-response:
      title: Existing Exhibitor Category
      description: A description of the Existing Exhibitor Category JSON schema
      type: object
      allOf:
      - $ref: '#/components/schemas/exhibitor-category-request'
      properties:
        id:
          type: string
          format: uuid
          example: 534a465b-b4cb-471d-9498-4bf3917ad8bf
          description: ID of exhibitor category.
          readOnly: true
        bannerId:
          description: File ID for exhibitor category banner.
          format: uuid
          type: string
          example: 22ca5ab1-0dc3-487b-953e-41d6dacde3e6
          readOnly: true
        bannerUrl:
          description: URL for exhibitor category banner.
          format: uri
          type: string
          example: https://images.cvent.com/pt/fileLocation/url_456
          readOnly: true
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
    exhibitor-question-type:
      type: string
      description: 'Enumeration indicating the type of data collected by an exhibitor question. ''MultiChoice'': Respondents select multiple options from a list. ''SingleChoice'': restricts respondents to a single option from a list, often displayed as a dropdown or radio button. ''OpenEndedTextOneLine'': brief text responses, such as names or short answers. ''OpenEndedTextCommentBox'': longer text responses for detailed feedback. ''OpenEndedDateTime'': captures date and time information from respondents.'
      enum:
      - MultiChoice
      - SingleChoice
      - OpenEndedTextOneLine
      - OpenEndedTextCommentBox
      - OpenEndedDateTime
      example: SingleChoice
    Link:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    sponsorship-level-list-response:
      title: Sponsorship level List Response
      type: object
      description: This schema describes the response for a list of sponsorship levels.
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/existing-sponsorship-level'
          description: List of sponsorship level.
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  parameters:
    exhibitorCategoryId:
      in: path
      name: exhibitorCategoryId
      description: ID of an exhibitor category.
      required: true
      schema:
        type: string
        format: uuid
        example: 534a465b-b4cb-471d-9498-4bf3917ad8bf
    before:
      name: before
      required: false
      in: query
      description: Used to query records that have been added or updated before this time point.
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    registrationPackId:
      in: path
      name: registrationPackId
      description: ID of a registration pack.
      required: true
      schema:
        type: string
        format: uuid
        example: 50f4f0df-0c2d-4e6b-8e68-e1413b6917f5
    fileId1:
      in: path
      name: fileId
      description: ID of a file.
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    sponsorshipLevelId:
      in: path
      name: sponsorshipLevelId
      description: ID of sponsorship level.
      required: true
      schema:
        type: string
        format: uuid
        example: 1765848c-2a7f-48d2-85a2-6668b8e64ffb
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
    exhibitorId:
      in: path
      name: exhibitorId
      description: ID of an exhibitor.
      required: true
      schema:
        type: string
        format: uuid
        example: 4888db54-db22-11eb-8d19-0242ac130003
    after:
      name: after
      required: false
      description: Used to query records that have been added or updated after this time point. Default to the beginning of time of the data store.
      in: query
      schema:
        type: string
        format: date-time
        example: '2017-01-02T02:00:00Z'
    id6:
      in: path
      name: id
      description: ID of an event.
      required: true
      schema:
        type: string
        format: uuid
        example: 3db28cfc-db22-11eb-8d19-0242ac130003
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
[...]
