openapi: 3.0.2
info:
  title: Cvent Registration SCIM User Provisioning API
  version: ea
  description: 'Registration-surface slice of the official Cvent REST APIs OpenAPI, filtered to the ''User SCIM'' tag(s).

    Derived verbatim (operations, schemas, parameters and responses copied unchanged) from Cvent''s own published contract
    at https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml — the spec Cvent generates its official
    TypeScript, Java and C# SDKs from.

    Full platform description, authentication, pagination, filtering, rate-limit and versioning narrative lives in openapi/_original/cvent-rest-apis-openapi.yaml.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: User SCIM
  description: The [SCIM](https://www.simplecloud.info/) standard allows for easier cross-domain identity management. This
    API allows you to manage your account users and SCIM groups (representing Cvent user roles).
paths:
  /scim/v2/Groups:
    get:
      summary: Get SCIM Groups
      operationId: getUserGroups
      description: Gets a paginated list of SCIM groups (representing Cvent user roles) in an account.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      responses:
        '200':
          $ref: '#/components/responses/UsersGroupsResponse'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      parameters:
      - $ref: '#/components/parameters/startIndex'
      - $ref: '#/components/parameters/count1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/ResourceTypes:
    get:
      summary: List Resource Types
      operationId: getResourceTypes
      description: Gets a list of resource types.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      responses:
        '200':
          $ref: '#/components/responses/ResourceTypes'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/ResourceTypes/{id}:
    get:
      summary: Get Resource Type
      operationId: getResourceType
      description: Gets the details of a single resource type.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Successfully retrieved a Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceType'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '404':
          $ref: '#/components/responses/NotFound11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/Schemas:
    get:
      summary: List Schemas
      operationId: getSchemas
      description: Gets the paginated list of user schemas and its extension models representing the user and SCIM groups
        (representing Cvent user roles).
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      responses:
        '200':
          $ref: '#/components/responses/UsersSchemaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/Schemas/{id}:
    get:
      summary: Get Schema
      operationId: getSchema
      description: Gets the details of a user schema and its extension models representing the user and SCIM groups (representing
        Cvent user roles).
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      parameters:
      - $ref: '#/components/parameters/schemaId'
      responses:
        '200':
          description: Successfully retrieved a schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSchema'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '404':
          $ref: '#/components/responses/NotFound11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/ServiceProviderConfig:
    get:
      summary: Get Service Provider Config
      operationId: getServiceProviderConfig
      description: Gets Cvent's configurations of SCIM.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      responses:
        '200':
          $ref: '#/components/responses/ServiceProviderConfig'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/Users:
    post:
      summary: Create User
      operationId: createUser
      description: Creates a new user. For account users, the email address will initially be unverified. To verify it, please
        click on the link provided in the email sent to your email address.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:write
      - OAuth2.authorizationCode:
        - account/users:write
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Successfully created a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '409':
          $ref: '#/components/responses/Conflict6'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    get:
      summary: List Users
      operationId: listUsers
      description: Gets a list of users.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      parameters:
      - $ref: '#/components/parameters/startIndex'
      - $ref: '#/components/parameters/count1'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field             | Operators                          |

          |-------------------|------------------------------------|

          | userName          | `eq`, `ne`                         |

          | groups.value      | `eq`, `ne`                         |

          | active            | `eq`, `ne`                         |

          | id                | `eq`, `ne`                         |

          | emails.value      | `eq`, `ne`                         |

          | meta.lastModified | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |

          | meta.created      | `eq`, `ne`, `lt`, `le`, `gt`, `ge` |


          The following logical operators are supported for combining filters:

          * and

          * or

          '
        schema:
          type: string
          example: userName eq 'john@example.com' or userName eq 'Matt@example.com'
      responses:
        '200':
          description: Successfully retrieved a paginated list of Users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /scim/v2/Users/{id}:
    get:
      summary: Get User
      operationId: getUser
      description: Gets the details of a single user.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:read
      - OAuth2.authorizationCode:
        - account/users:read
      parameters:
      - $ref: '#/components/parameters/userId1'
      responses:
        '200':
          description: Successfully retrieved a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '404':
          $ref: '#/components/responses/NotFound11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    put:
      summary: Update User
      operationId: updateUser
      description: Updates a user. In case of an account user, if the email address field is updated then please verify the
        new email address using the link received in the verification email.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:write
      - OAuth2.authorizationCode:
        - account/users:write
      parameters:
      - $ref: '#/components/parameters/userId1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Successfully updated a user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest11'
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '404':
          $ref: '#/components/responses/NotFound11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
    delete:
      summary: Delete User
      operationId: deleteUser
      description: Deletes a user.
      tags:
      - User SCIM
      security:
      - OAuth2.clientCredentials:
        - account/users:delete
      - OAuth2.authorizationCode:
        - account/users:delete
      parameters:
      - $ref: '#/components/parameters/userId1'
      responses:
        '204':
          description: Successfully deleted a User.
          headers: {}
        '401':
          $ref: '#/components/responses/Unauthorized11'
        '403':
          $ref: '#/components/responses/Forbidden11'
        '404':
          $ref: '#/components/responses/NotFound11'
        '429':
          $ref: '#/components/responses/TooManyRequests11'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  parameters:
    count1:
      in: query
      name: count
      description: The count of records to be retrieved in a response.
      required: false
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 200
    resourceId:
      in: path
      name: id
      description: Unique ID for a resource.
      required: true
      schema:
        type: string
        example: User
    schemaId:
      in: path
      name: id
      description: Unique ID for a schema.
      required: true
      schema:
        type: string
        example: urn:ietf:params:scim:schemas:core:2.0:User
    startIndex:
      in: query
      name: startIndex
      description: Starting index of the response.
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
    userId1:
      in: path
      name: id
      description: Unique ID for a user.
      required: true
      schema:
        type: string
        example: id1
  responses:
    BadRequest11:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 400
            detail: Request is unparsable, syntactically incorrect, or violates schema.
            scimType: invalidSyntax
    Conflict6:
      description: The request conflicts with current state of the target resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 409
            detail: The request conflicts with current state of the target resource
            scimType: uniqueness
    Forbidden11:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 403
            detail: User is Forbidden to make this request
    NotFound11:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 404
            detail: HTTP 404 Not Found
    ResourceTypes:
      description: Successfully retrieved a list of Resource Types.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceTypes'
    ServiceProviderConfig:
      description: Successfully retrieved Service Provider Config.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceProviderConfig'
    TooManyRequests11:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 429
            detail: Too Many Requests
    Unauthorized11:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse2'
          example:
            schemas:
            - urn:ietf:params:scim:api:messages:2.0:Error
            status: 401
            detail: Request failed authentication/authorization process
            scimType: invalidValue
    UsersGroupsResponse:
      description: Successfully retrieved a list of SCIM groups.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserGroups1'
    UsersSchemaResponse:
      description: Successfully retrieved a list of schemas.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UsersSchemas'
  schemas:
    Address6:
      title: Address
      description: Address
      type: object
      required:
      - type
      - primary
      properties:
        type:
          $ref: '#/components/schemas/AddressType1'
        streetAddress:
          type: string
          description: The street address of the user.
          example: 100 Universal City Plaza
          maxLength: 40
        locality:
          type: string
          description: The locality/city of the user.
          example: Hollywood
          maxLength: 40
        region:
          type: string
          description: The region/state/province of the user.
          example: CA
        postalCode:
          type: string
          description: Postal code (also known as zipcode) of the user.
          example: '91608'
        country:
          type: string
          description: The country of the user.
          example: USA
        primary:
          type: boolean
          description: True indicates the address is primary.
          example: true
          default: false
    AddressType1:
      title: AddressType
      description: The type of the address.
      enum:
      - work
      - home
      type: string
      example: work
    Attribute:
      title: Attribute
      description: Attribute
      type: object
      properties:
        name:
          type: string
          description: The name of the attribute.
          example: userName
        type:
          $ref: '#/components/schemas/AttributeDataType'
        multiValued:
          type: boolean
          description: Indicates if the attribute is multivalued.
          example: true
        description:
          type: string
          description: The description of the attribute.
          example: This Attribute describes the property
        required:
          type: boolean
          description: True indicates the attribute is required.
          example: true
        caseExact:
          type: boolean
          description: True indicates the attribute is case sensitive.
          example: false
        mutability:
          $ref: '#/components/schemas/Mutability'
        canonicalValues:
          type: array
          description: The list of canonical values of the attribute.
          items:
            type: string
            example: work
        returned:
          $ref: '#/components/schemas/ReturnedType'
        uniqueness:
          $ref: '#/components/schemas/UniquenessType'
        referenceTypes:
          type: array
          description: This is used to denote the reference type of the attribute.
          items:
            $ref: '#/components/schemas/ReferenceType'
        subAttributes:
          type: array
          description: A collection of sub-attributes. Has the same structure as this attribute object.
          items:
            $ref: '#/components/schemas/Attribute'
    AttributeDataType:
      title: AttributeDataType
      description: This is used to denote the type of the attribute.
      enum:
      - string
      - boolean
      - decimal
      - integer
      - dateTime
      - reference
      - complex
      type: string
      example: string
    AuthenticationSchema:
      title: Authentication Schema
      description: Authentication Schema
      type: object
      properties:
        name:
          type: string
          description: The name of the authentication.
          example: OAuth Bearer Token
        description:
          type: string
          description: The description of the authentication.
          example: Authentication scheme using the OAuth Bearer Token Standard
        specUri:
          type: string
          description: The location of the authentication specifications.
          example: https://developers.cvent.com/documentation#section/Introduction
        documentationUri:
          type: string
          description: The location of the API documentation.
          example: https://developers.cvent.com/documentation#section/Introduction
        type:
          type: string
          description: The type of the authentication.
          example: oauthbearertoken
        primary:
          type: boolean
          description: True indicates the authentication is primary.
          example: true
    Email1:
      title: Email
      description: Email
      type: object
      required:
      - value
      - type
      - primary
      properties:
        type:
          $ref: '#/components/schemas/EmailType1'
        value:
          type: string
          description: The email of the user.
          example: support@cvent.com
          minLength: 1
          maxLength: 80
        primary:
          type: boolean
          description: True indicates the email is primary.
          example: true
          default: false
    EmailType1:
      title: Email Type
      description: The type of the email.
      enum:
      - work
      - home
      type: string
      example: work
      default: work
    ErrorResponse2:
      title: ErrorResponse
      description: The error response.
      type: object
      required:
      - status
      - detail
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:Error
          description: The collection of error schemas.
        status:
          type: integer
          example: 400
          description: Status code for error.
        detail:
          type: string
          example: Request is unparsable, syntactically incorrect, or violates schema.
          description: Details of the error.
        scimType:
          $ref: '#/components/schemas/ErrorScimType'
    ErrorScimType:
      title: ErrorScimType
      description: This is used to denote the scim type of the error.
      enum:
      - invalidFilter
      - uniqueness
      - invalidSyntax
      - invalidValue
      type: string
      example: invalidSyntax
    Group:
      title: Group
      description: Generic sample name. Not a real model used by any Cvent service.
      type: object
      required:
      - value
      properties:
        value:
          type: string
          description: The unique ID of the SCIM group.
          format: uuid
          readOnly: false
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        display:
          type: string
          description: The name of the user role.
          example: Admin
    Group-1:
      title: Group
      description: Generic sample name. Not a real model used by any Cvent service.
      type: object
      required:
      - id
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          readOnly: true
          description: The list of schemas using this resource.
        id:
          type: string
          description: The unique ID of the SCIM group.
          format: uuid
          readOnly: false
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        displayName:
          type: string
          description: The name of the user role.
          example: Admin
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      title: Meta
      description: Metadata of the resource.
      type: object
      readOnly: true
      properties:
        resourceType:
          type: string
          readOnly: true
          description: The type of the resource.
          example: user
        location:
          type: string
          readOnly: true
          format: uri
          description: The location (URI) of the resource.
          example: https://<account>/scim/v2/Users/2
        created:
          type: string
          format: date-time
          readOnly: true
          description: The ISO 8601 zoned date time when this record was created.
          example: '2021-12-16T00:59:14.570Z'
        lastModified:
          type: string
          format: date-time
          readOnly: true
          description: The ISO 8601 zoned date time when this record was modified.
          example: '2021-12-16T00:59:14.570Z'
    Mutability:
      title: Mutability
      description: This is used to denote the mutability of the attribute.
      enum:
      - readOnly
      - readWrite
      - immutable
      - writeOnly
      type: string
      example: writeOnly
    Name:
      title: Name
      description: The name of the user.
      type: object
      required:
      - givenName
      - familyName
      properties:
        givenName:
          type: string
          description: The given/first name of the user.
          example: Mike
          minLength: 1
          maxLength: 30
        familyName:
          type: string
          description: The family/last name of the user.
          example: Stuart
          minLength: 1
          maxLength: 50
        middleName:
          type: string
          description: The middle name of the user.
          example: A
          maxLength: 30
        honorificPrefix:
          type: string
          description: The prefix of the user.
          example: Mr.
          maxLength: 30
    PhoneNumber1:
      title: Phone Number
      description: Phone Number
      type: object
      required:
      - type
      - value
      properties:
        type:
          $ref: '#/components/schemas/PhoneType'
        value:
          type: string
          description: The phone number of the user.
          example: '+911234567890'
          minLength: 1
          maxLength: 30
    PhoneType:
      title: PhoneType
      description: The type of the phone number.
      enum:
      - work
      - home
      - mobile
      type: string
      example: work
    ReferenceType:
      title: Reference Type
      description: This is used to denote the reference type of the attribute.
      enum:
      - User
      - Group
      - external
      - uri
      type: string
      example: Group
    ResourceType:
      title: resourceType
      description: Resource Type
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          description: The list of schemas using this resource.
        id:
          type: string
          description: The unique identifier of the resource type.
          example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        name:
          type: string
          description: The name of the resource type.
          example: User
        description:
          type: string
          description: The description of the resource type.
          example: This Attribute describes the Schema
        endpoint:
          type: string
          description: The URL of the resource type endpoint.
          format: uri
          example: /Users
        schema:
          type: string
          description: The schema of the resource type.
          example: urn:ietf:params:scim:schemas:core:2.0:User
        schemaExtensions:
          type: array
          items:
            type: object
            properties:
              schema:
                type: string
                readOnly: true
                description: The id of the schema extension
                example: urn:ietf:params:scim:api:messages:2.0:ListResponse
              required:
                type: boolean
                description: True indicates if the schema extension is required.
                example: true
          description: The list of schema extensions for the resource type.
        meta:
          $ref: '#/components/schemas/Meta'
    ResourceTypes:
      title: resourceTypes
      description: Resource Types
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          description: The collection of user schemas.
        itemsPerPage:
          type: integer
          description: The number of schemas per page.
          example: 50
        startIndex:
          type: integer
          description: Starting index of the response.
          example: 1
        totalResults:
          type: integer
          description: The total count of schemas.
          example: 5
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/ResourceType'
          description: The collection of schema resources.
    ReturnedType:
      title: Returned Type
      description: This is used to denote the returned type of the attribute.
      enum:
      - always
      - never
      - default
      - request
      type: string
      example: always
    ServiceProviderConfig:
      title: ServiceProviderConfigs
      description: Service Provider Configs
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          description: The list of schemas using this resource.
        documentationUri:
          type: string
          format: uri
          description: The location of the API documentation.
          example: https://developers.cvent.com/documentation#section/Introduction
        patch:
          description: Config details for patch operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the patch operation is supported.
              example: false
        bulk:
          description: Config details for bulk operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the bulk operation is supported.
              example: false
            maxOperations:
              type: integer
              description: An integer value specifying the maximum number of operations.
              example: 1
            maxPayloadSize:
              type: integer
              description: An integer value specifying the maximum payload size in bytes.
              example: 1048576
        filter:
          description: Config details for filter operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the filteration is supported.
              example: false
            maxResults:
              type: integer
              description: The maximum number of results in the response.
              example: 100
        changePassword:
          description: Config details for change password operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the password change is supported.
              example: false
        sort:
          description: Config details for sort operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the sort operation is supported.
              example: false
        etag:
          description: Config details for change e-tag operations.
          type: object
          properties:
            supported:
              type: boolean
              description: Indicates if the entity tag operation is supported.
              example: false
        authenticationSchemes:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationSchema'
          description: The collection of authentication schemas.
        meta:
          $ref: '#/components/schemas/Meta'
    UniquenessType:
      title: Uniqueness Type
      description: This is used to denote the uniqueness type of the attribute.
      enum:
      - none
      - server
      - global
      type: string
      example: global
    User:
      title: User
      description: Generic sample User. Not a real model used by any Cvent service.
      required:
      - userName
      - emails
      - name
      - active
      - userType
      - locale
      - groups
      - timezone
      - urn:ietf:params:scim:schemas:extension:enterprise:2.0:User
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          readOnly: true
          description: The list of schemas using this resource.
        id:
          type: string
          description: A string that has to be a format matching the industry standard uuid.
          format: uuid
          readOnly: true
          example: 3b2359a7-4583-40ed-8afd-67e5f15373d3
        name:
          $ref: '#/components/schemas/Name'
        userName:
          type: string
          description: The user name of the user to be used during identification.
          example: aMike@test.com
          minLength: 1
          maxLength: 50
        active:
          type: boolean
          description: True indicates the user is active.
          example: true
          default: true
        emails:
          type: array
          minItems: 1
          description: 'The email of the user. The Cvent user can have only one email address.<br> If multiple email addresses
            are provided, only one is accepted and rest are ignored. One email is selected based on the following sequence
            of criteria: primary email, then work type, and finally first in the sequence.'
          items:
            $ref: '#/components/schemas/Email1'
        title:
          type: string
          description: The title of the user.
          example: Vice President
          maxLength: 50
        phoneNumbers:
          type: array
          description: The phone numbers of the user.<br> If more than one number per type is provided, only one is accepted
            and rest are ignored.
          items:
            $ref: '#/components/schemas/PhoneNumber1'
        addresses:
          type: array
          description: 'The address of the user. The user can have only one address. <br> If multiple addresses are provided,
            only one is accepted and rest are ignored. One address is selected based on the following sequence of criteria:
            primary, work type, first in the sequence'
          items:
            $ref: '#/components/schemas/Address6'
        userType:
          $ref: '#/components/schemas/UserType'
        timezone:
          type: string
          description: List of <a href="#section/Getting-Started/Time-Zones">Timezones</a> supported.
          minLength: 1
          maxLength: 29
          example: America/New_York
          default: America/New_York
        locale:
          type: string
          example: en-US
          description: The locale of the user. The IETF Language Tag format is used.
          minLength: 1
          maxLength: 35
        groups:
          type: array
          minItems: 1
          description: The SCIM group (representing Cvent user role) of the user.
          items:
            $ref: '#/components/schemas/Group'
        urn:ietf:params:scim:schemas:extension:enterprise:2.0:User:
          $ref: '#/components/schemas/UserEnterpriseExtension'
        meta:
          $ref: '#/components/schemas/Meta'
    UserEnterpriseExtension:
      title: User Enterprise Extension
      description: Enterprise extension model for the user.
      type: object
      required:
      - sendLoginDetails
      properties:
        sendLoginDetails:
          type: boolean
          description: Indicates if the login details are to be sent to user.
          example: true
          default: true
        federatedId:
          type: string
          description: The ID of the user in your identity management system. Used when you leverage identity management software
            and need to identify a user by a value other than their Cvent username.
          example: AKJU783UP
          minLength: 1
          maxLength: 100
        company:
          type: string
          description: The company of the user.
          example: Cvent
          maxLength: 100
        workFax:
          type: string
          description: The work fax number of the user
          example: '+1123456'
          maxLength: 30
        homeFax:
          type: string
          description: The home fax number of the user.
          example: '+1123456'
          maxLength: 30
        pager:
          type: string
          description: The pager number of the user.
          example: '+1123456'
          maxLength: 30
    UserGroups1:
      title: Groups
      description: Groups
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          description: The collection of user schemas.
        itemsPerPage:
          type: integer
          description: The number of schemas per page.
          example: 50
        startIndex:
          type: integer
          description: Starting index of the response.
          example: 1
        totalResults:
          type: integer
          description: The total count of schemas.
          example: 5
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/Group-1'
          description: The collection of schema resources.
    UserType:
      title: UserType
      description: The type of the user.
      enum:
      - Planner Account User
      type: string
      example: Planner Account User
    Users:
      title: Users
      description: A page in a paginated list of SCIM users. This would return the list of users.
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:User
          description: The collection of user schemas.
        itemsPerPage:
          type: integer
          description: The number of users per page.
          example: 50
        startIndex:
          type: integer
          description: Starting index of the response.
          example: 1
        totalResults:
          type: integer
          description: The total count of users.
          example: 5
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/User'
          description: The collection of user resources.
    UsersSchema:
      title: Schema
      description: Schema
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the schema.
          example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        name:
          type: string
          description: The name of the schema.
          example: User
        description:
          type: string
          description: The description of the schema.
          example: This Attribute describes the Schema
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/Attribute'
          description: The collection of attributes for the schema.
        meta:
          $ref: '#/components/schemas/Meta'
    UsersSchemas:
      title: Schemas
      description: Schemas
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
          description: The collection of user schemas.
        itemsPerPage:
          type: integer
          description: The number of schemas per page.
          example: 50
        startIndex:
          type: integer
          description: Starting index of the response.
          example: 1
        totalResults:
          type: integer
          description: The total count of schemas.
          example: 5
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/UsersSchema'
          description: The collection of schema resources.
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier
              chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel
              supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question
              data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account
              data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
x-generated-from: openapi/_original/cvent-rest-apis-openapi.yaml
x-source-url: https://github.com/cvent/rest-sdks/blob/main/cvent-public-spec/openapi.yaml
x-generated-date: '2026-09-07'
x-method: searched
