openapi: 3.2.0
info:
  title: Cvent REST Event Features API
  description: '# Introduction

    The Cvent API Platform is built around REST.'
  contact:
    name: Cvent Development Platform
    url: https://developers.cvent.com/
  version: ea
servers:
- url: https://api-platform.cvent.com/ea
- url: https://api-platform-eur.cvent.com/ea
tags:
- name: Event Features
  description: EventFeatures related APIs
paths:
  /events/{id}/features:
    parameters:
    - $ref: '#/components/parameters/id10'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/event-features:read
      - OAuth2.authorizationCode:
        - event/event-features:read
      summary: List Event Features
      operationId: getEventFeatures
      description: A resource responsible for providing the set of event features that are available for an event
      tags:
      - Event Features
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/locale1'
      - name: filter
        in: query
        required: false
        description: 'Use filter query parameters to limit results

          to data that matches your criteria. See

          [Filters](https://developers.cvent.com/docs/rest-api/reference/filters) for details.


          Supported fields and operators are listed below:


          | Field   | Operators |

          |---------|-----------|

          | enabled | `eq`      |

          '
        schema:
          type: string
          example: enabled eq 'true'
      responses:
        '200':
          description: Successfully retrieved event features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-features-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/features/{type}:
    parameters:
    - $ref: '#/components/parameters/id10'
    - $ref: '#/components/parameters/type'
    put:
      security:
      - OAuth2.clientCredentials:
        - event/event-features:write
      - OAuth2.authorizationCode:
        - event/event-features:write
      summary: Update Event Feature
      operationId: updateEventFeatures
      description: A resource responsible to enable / disable an event feature
      tags:
      - Event Features
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/feature-update'
        required: true
      responses:
        '200':
          description: Successfully updated event features
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-features-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/features/{type}/launch:
    parameters:
    - $ref: '#/components/parameters/id10'
    - $ref: '#/components/parameters/launch-feature-type'
    post:
      security:
      - OAuth2.clientCredentials:
        - event/event-features:write
      - OAuth2.authorizationCode:
        - event/event-features:write
      summary: Launch Event Feature
      operationId: launchEventFeatures
      description: Launch event features to make them available to an audience.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event-feature-launch-request'
      tags:
      - Event Features
      responses:
        '204':
          description: Successfully launched event feature.
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
  /events/{id}/weblinks:
    parameters:
    - $ref: '#/components/parameters/id10'
    get:
      security:
      - OAuth2.clientCredentials:
        - event/weblinks:read
      - OAuth2.authorizationCode:
        - event/weblinks:read
      summary: List Event Weblinks
      description: Gets a paginated list of weblinks for the given event.
      operationId: listEventWeblinks
      tags:
      - Event Features
      parameters:
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/locale1'
      - $ref: '#/components/parameters/limit-100'
      responses:
        '200':
          description: Successfully retrieved a paginated list of event weblinks.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-weblinks-paginated-response'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '401':
          $ref: '#/components/responses/Unauthorized1'
        '403':
          $ref: '#/components/responses/Forbidden1'
        '404':
          $ref: '#/components/responses/NotFound1'
        '429':
          $ref: '#/components/responses/TooManyRequests1'
      externalDocs:
        description: More about OAuth2 authorization code support for administrators
        url: '#oauth2-auth-code-planner-admin'
components:
  schemas:
    event-features-response:
      title: EventFeature
      description: Representation of an event's feature along with its properties
      type: object
      required:
      - type
      - locked
      - enabled
      properties:
        type:
          $ref: '#/components/schemas/feature-type.json'
        enabled:
          type: boolean
          description: If a particular feature is enabled for the event
          example: true
        locked:
          type: boolean
          description: If a particular feature is locked to perform any mutation over it
          example: true
        lockedReason:
          type: string
          description: Generic message informing feature is locked due to some sub-feature/child feature in use
          example: Your event is already using some Registration features
        enabledTier:
          $ref: '#/components/schemas/tier.json'
        availableTiers:
          description: Available feature tiers.
          type: array
          items:
            $ref: '#/components/schemas/feature-tier.json'
        config:
          type: object
          description: Feature configuration.
          anyOf:
          - title: RegistrationFeatureConfig
            description: Denote the configuration for the registration feature.
            type: object
            properties:
              pricing:
                $ref: '#/components/schemas/pricing-config.json'
        weblink:
          type: string
          format: uri
          readOnly: true
          description: URL of the feature's webpage.
          example: https://cvent.me/XX51b9
    uuid-property:
      title: UUID Property
      description: A string that has to be a format matching the industry standard uuid
      type: string
      format: uuid
      example: 04ca6ae2-0dc3-487b-953e-86d6abbdf7d3
    payment-method-type.json:
      title: PaymentMethodType
      type: string
      readOnly: true
      description: Denotes acceptable payment methods for merchant accounts. Not all options are valid for all merchants.
      enum:
      - AIRPLUS
      - American Express
      - Aurora
      - Aurore
      - Authorize.Net SIM
      - BCMC
      - Bank Transfer
      - Billy
      - CB
      - Cash
      - Check
      - Cofinoga
      - Corporate Card
      - Credit
      - CyberSource Hosted Order Page
      - CyberSource Secure Acceptance
      - Dankort
      - Diners Club
      - Direct Bill
      - Discover
      - Eurocard Mastercard
      - Invoice
      - JCB
      - Laser
      - Maestro
      - MaestroUK
      - Mastercard
      - Mastercard Debit
      - Money Order
      - NetReserve
      - Other
      - Other 2
      - Other 3
      - P-Card
      - PRIVILEGE
      - Pay.gov
      - PayPal
      - Payment Credits
      - Purchase Order
      - Solo
      - TouchNet
      - UATP
      - UnionPay
      - Visa
      - Visa Debit
      - Visa Electron
      - WPM
      example: Visa
    feature-type.json:
      title: FeatureType
      description: 'The type of feature available for a container event.


        | Value | Description |

        |-------|-------------|

        | `Website` | Allows you to promote your event with a customizable series of pages. |

        | `Registration` | Allows attendees to sign up for your event ahead of time. Once done, they can modify their details or cancel altogether if you allow it. |

        | `OnArrival` | Adds several options designed to make supporting your live event as smooth as possible. |

        | `AttendeeHub` | Delivers the attendee-facing website and mobile app with agenda/content, engagement tools (live Q&A, polls, gamification), and networking—launchable independently of registration. |

        | `Appointments` | Enables attendees, exhibitors, and staff to schedule and manage 1:1 meetings within Attendee Hub. |

        | `Planning` | Adds new ways to stay organized behind the scenes throughout the entire event process. |

        | `Agenda` | Allows you to manage the breakouts, presentations, or activities (known in Cvent as sessions) that make up your event. |

        | `Travel` | Allows you to easily collect and manage invitees'' hotel and flight preferences. |

        | `Marketing` | Allows planners to create, personalize, and automate branded event emails (invites, reminders, confirmations) and track performance to drive registrations and engagement. |

        | `Surveys` | Adds a customizable questionnaire you can use to gather feedback. |

        | `Speakers` | Allows you to showcase and manage all the headliners, keynoters, presenters, and moderators contributing to your event. |

        | `Exhibitors` | Centralizes exhibitor setup—profiles, tasks, content/categories—and booth staff and LeadCapture management, with exhibitor listings and engagement surfaced in Attendee Hub. |

        | `Vendors` | Allows planners to source and manage event services directly from the container event. |

        | `EventAds` | Allows planners to create, place, and track targeted ads across Attendee Hub and the event app. |

        | `EventCredits` | Allows planners to set rules and track credits attendees earn for sessions and the event. Only one of `EventCredits` or `CreditsAndCertificates` can be active at a time. |

        | `CreditsAndCertificates` | Allows planners to create credit rules, link them to events and sessions, and award credits to attendees. Also enables creating certificates, linking them to credit rules, and awarding them to attendees. Only one of `EventCredits` or `CreditsAndCertificates` can be active at a time. |'
      type: string
      enum:
      - Website
      - Registration
      - OnArrival
      - AttendeeHub
      - Appointments
      - Planning
      - Agenda
      - Travel
      - Marketing
      - Surveys
      - Speakers
      - Exhibitors
      - Vendors
      - EventAds
      - EventCredits
      - CreditsAndCertificates
      example: Registration
    event-weblink.json:
      title: EventWeblink
      description: Metadata for an event weblink.
      type: object
      properties:
        name:
          type: string
          maxLength: 50
          description: Name of the weblink, used by planners to identify the weblinks in their event.
          example: VIP Registration
        url:
          type: string
          format: uri
          description: Short URL of the webpage.
          example: https://cvent.me/XX51b9
        landingPage:
          type: string
          description: The name of the webpage attendees will be directed to when using the weblink.
          example: Registration
        locale:
          $ref: '#/components/schemas/locale.json'
    tier.json:
      title: tier
      description: Represents the type of license that the user can choose.
      type: string
      enum:
      - PRO
      - PREMIER
      - ESSENTIALS
      - BASIC
      - PREMIUM
      example: PREMIER
    pricing-config.json:
      title: PricingConfig
      description: Represents the configuration of the event's pricing feature.
      type: object
      required:
      - enabled
      properties:
        enabled:
          type: boolean
          description: True enables pricing for the event.
          example: true
        invoicePrefix:
          type: string
          description: A prefix helps distinguish invoices for this event from those of other events.
          example: EVE001
          maxLength: 6
        revenueGoal:
          type: number
          description: Revenue goal for the event.
          example: 10000
        merchantAccount:
          type: string
          description: Name of the merchant account associated with the event. This merchant account is where all event payments are deposited and refunds are withdrawn.
          example: Event merchant account - USD
          default: ''
        currency:
          type: string
          description: The ISO 4217 standard format currency code representing the currency used for event pricing.
          maxLength: 3
          example: USD
        allowedPaymentMethods:
          type: array
          description: Names of allowed payment methods for the merchant account. Not all options are valid for all merchants.
          items:
            $ref: '#/components/schemas/payment-method-type.json'
          uniqueItems: true
          example:
          - Visa
          - Diners Club
          - Mastercard
    event-weblinks-paginated-response:
      title: EventWeblinksPaginatedResponse
      description: Paginated collection of event weblinks.
      required:
      - data
      - paging
      type: object
      properties:
        paging:
          type: object
          allOf:
          - properties:
              limit:
                description: The number of records to return on the page, not to exceed 100.
                example: 100
          - $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/event-weblink.json'
          description: Collection of event weblinks.
    event-feature-launch-request:
      title: EventFeaturesLaunchRequest
      description: Event-features launch request parameters.
      type: object
      properties:
        deleteTestData:
          description: True keeps email data collected in test mode, prior to the registration feature being launched.
          type: boolean
          default: false
    feature-update:
      title: FeatureUpdate
      description: Representation of an event feature update request
      type: object
      required:
      - type
      - enabled
      properties:
        type:
          $ref: '#/components/schemas/feature-type.json'
        enabled:
          type: boolean
          description: If a particular feature is enabled for the event
          example: true
        enabledTier:
          $ref: '#/components/schemas/tier.json'
        config:
          type: object
          description: Feature configuration.
          anyOf:
          - $ref: '#/components/schemas/event-features-response/properties/config/anyOf/0'
    pagination-links.json:
      title: PaginationLinks
      type: object
      description: Represents pagination links for navigating between pages of data.
      properties:
        next:
          $ref: '#/components/schemas/link.json'
        self:
          $ref: '#/components/schemas/link.json'
        prev:
          $ref: '#/components/schemas/link.json'
    feature-tier.json:
      title: FeatureTier
      description: Tier available for the feature
      type: object
      required:
      - name
      properties:
        name:
          $ref: '#/components/schemas/tier.json'
        locked:
          type: boolean
          description: If a particular tier is locked to perform any mutation over it
          example: false
        lockReason:
          type: string
          description: Generic message informing tier to be locked due to some feature in use
          example: ''
    ErrorResponse:
      title: ErrorResponse
      description: Represents an error response with additional details of cascading error messages.
      allOf:
      - $ref: '#/components/schemas/ErrorResponseBase'
      type: object
      required:
      - code
      - message
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseBase'
          description: Additional details of cascading error messages.
    paging.json:
      title: Paging
      required:
      - _links
      type: object
      description: Represents pagination information for a collection of resources.
      properties:
        previousToken:
          type: string
          description: The pagination token for the previous page, if one exists. You can use this token to navigate to the previous page of data.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        nextToken:
          type: string
          description: The pagination token for the next page. If this value is present in the response, there is another page of data you can fetch.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        currentToken:
          type: string
          description: The pagination token for the current page.
          example: 1a2b3c4d5e6f7g8h9i10j11k
        limit:
          type: integer
          description: The number of records to return on the page. Not to exceed 200.
          example: 100
        totalCount:
          type: integer
          description: The total number of records available. This field may return blank, even if there are more records. To confirm if there are more records, check the `nextToken` field.
          example: 2
        _links:
          $ref: '#/components/schemas/pagination-links.json'
    event-features-paginated-response:
      title: EventFeaturesPaginatedResponse
      description: Paginated collection of event features.
      required:
      - data
      - paging
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/paging.json'
        data:
          type: array
          items:
            $ref: '#/components/schemas/event-feature.json'
          description: Collection of event features
    launch-feature-type.json:
      title: LaunchFeatureType
      description: These are the types of features used in the event container events that can be launched.
      type: string
      enum:
      - Website
      - Registration
      example: Registration
    event-feature.json:
      title: EventFeature
      description: Representation of an event's feature along with its properties
      type: object
      required:
      - type
      - locked
      - enabled
      properties:
        type:
          $ref: '#/components/schemas/feature-type.json'
        enabled:
          type: boolean
          description: If a particular feature is enabled for the event
          example: true
        locked:
          type: boolean
          description: If a particular feature is locked to perform any mutation over it
          example: true
        lockedReason:
          type: string
          description: Generic message informing feature is locked due to some sub-feature/child feature in use
          example: Your event is already using some Registration features
        enabledTier:
          $ref: '#/components/schemas/tier.json'
        availableTiers:
          description: Available feature tiers.
          type: array
          items:
            $ref: '#/components/schemas/feature-tier.json'
        config:
          type: object
          description: Feature configuration.
          anyOf:
          - $ref: '#/components/schemas/event-features-response/properties/config/anyOf/0'
        weblink:
          type: string
          format: uri
          readOnly: true
          description: URL of the feature's webpage.
          example: https://cvent.me/XX51b9
    link.json:
      title: Link
      required:
      - href
      type: object
      description: Represents a link to a related resource.
      properties:
        href:
          type: string
          description: A url provided that can be followed for linking
          example: ?token=90c5f062-76ad-4ea4-aa53-00eb698d9262
    Locale:
      title: Locale
      description: Locale code
      type: string
      example: en-US
      minLength: 1
      maxLength: 200
    locale.json:
      title: Locale
      description: Locale code
      type: string
      example: en-US
      minLength: 1
      maxLength: 200
    ErrorResponseBase:
      title: ErrorResponseBase
      type: object
      description: Represents an error response with no additional details.
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: The HTTP status code representing the error.
          example: 400
        message:
          type: string
          description: A brief description of the error.
          example: Bad Request
        target:
          type: string
          description: The target resource of the error.
          example: example target
  responses:
    TooManyRequests1:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: Limit Exceeded
    NotFound1:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: Not found
    Forbidden1:
      description: You do not have access to the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: Access Forbidden
    Unauthorized1:
      description: Bad or expired token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: Unauthorized
    BadRequest1:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 400
            message: Bad Request
  parameters:
    launch-feature-type:
      name: type
      in: path
      description: Event feature to be launched.
      required: true
      schema:
        $ref: '#/components/schemas/launch-feature-type.json'
    type:
      name: type
      in: path
      description: String containing event feature type
      required: true
      schema:
        $ref: '#/components/schemas/feature-type.json'
    limit-100:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 100
        minimum: 1
        type: integer
        default: 100
    limit:
      name: limit
      in: query
      description: The maximum number of records to return per page.
      style: form
      explode: true
      schema:
        maximum: 200
        minimum: 1
        type: integer
        default: 100
        example: 100
    id10:
      in: path
      name: id
      description: Unique Id of an event
      required: true
      schema:
        $ref: '#/components/schemas/uuid-property'
    locale1:
      name: locale
      required: false
      description: Locale code in IETF Language tag format. Indicates desired locale of return values.
      in: query
      schema:
        $ref: '#/components/schemas/Locale'
    token:
      name: token
      in: query
      description: 'The continuation token returned from a previous class. This must be a valid UUID v4 if provided.

        This will override any other pageable parameters provided.

        '
      style: form
      explode: true
      schema:
        type: string
        example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
  securitySchemes:
    OAuth2.authorizationCode:
      type: oauth2
      description: OAuth2 Authorization Code Flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of available times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            business-transient/bids:read: Allows the reading of BT Bid data
            business-transient/proposals:read: Allows the reading of BT Proposal data
            business-travel/bids:read: Allows the reading of BT Bid data
            business-travel/proposals:read: Allows the reading of BT Proposal data
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers and their associated attendees.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            onsite/signatures:read: Allows reading signatures.
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    OAuth2.clientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials Flow.
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
          scopes:
            account/hooks:delete: Allows the deletion of hooks.
            account/hooks:read: Allows the reading of hooks.
            account/hooks:write: Allows the creation/updation of hooks.
            account/user-groups:delete: Allows deletion for user groups
            account/user-groups:read: Allows the reading of user groups
            account/user-groups:write: Allows the writing of user groups
            account/users:delete: Allows the deletion of User
            account/users:read: Allows the reading of User, User Group
            account/users:write: Allows the creation/updating of User
            appointments/appointment-attendees:read: Allows the reading of appointment attendees and their related entities.
            appointments/appointment-events:read: Allows the reading of appointment events and their related entities.
            appointments/appointment-types:read: Allows the reading of appointment types and their related entities.
            appointments/appointments:read: Allows the reading of appointment and their related entities.
            appointments/appointments:write: Allows the writing of appointments and their related entities.
            appointments/available-times:read: Allows the reading of availability times.
            appointments/locations:read: Allows the reading of appointment locations and their related entities.
            attendee-insights/attendee-insights:read: Allows the reading of engagement scores (attendee insights).
            attendee-insights/scores:read: Allows the reading of scores.
            attendee-insights/stats:read: Allows the reading of engagement score (attendee insight) stats.
            budget/budget-items:delete: Allows the deletion of budget items
            budget/budget-items:read: Allows the reading of all budget items
            budget/budget-items:write: Allows creation/updation of budget item
            budget/budget-totals:read: Allows the reading of all event budget totals
            budget/budget-vendors:read: Allows reading of account-level budget vendors.
            budget/cards:read: Allows the reading of cards
            budget/currency-conversion-rate:delete: Allows deletion of currency conversion rate for currency.
            budget/currency-conversion-rate:read: Allows reading of currency conversion rate for currency.
            budget/currency-conversion-rate:write: Allows creation/update of currency conversion rate for currency.
            budget/payments:delete: Allows deletion of payments.
            budget/payments:read: Allows reading of payment for budget item.
            budget/payments:write: Allows creation of payment in a budget item.
            budget/transactions:delete: Allows delete card transactions.
            budget/transactions:read: Allows the reading of all card's transactions
            budget/transactions:write: Allows creation of card transactions.
            bulk/bulk-jobs:read: Allows the reading of bulk job related entities
            bulk/bulk-jobs:write: Allows the creation, update and deletion of bulk job related entities
            business-transient/bids:read: Allows the reading of Business Transient Bid data
            business-transient/proposals:read: Allows the reading of Business Transient Proposal data
            business-transient/supplier-brands:read: Allows the reading of a supplier brand or a list of travel supplier brands.
            business-transient/supplier-chains:read: Allows the reading of a travel supplier chain or a list of travel supplier chains.
            business-transient/supplier-properties:read: Allows the reading of a travel supplier property or a list of travel supplier properties.
            business-transient/supplier-property-rooms:read: Allows the reading of a list of travel supplier property rooms.
            business-transient/travel-accounts:read: Allows the reading of business transient travel account data.
            business-transient/travel-program-questions:read: Allows the reading of business transient travel program question data.
            business-transient/travel-programs:read: Allows the reading of business transient travel program data.
            business-transient/travel-supplier-accounts:read: Allows the reading of business transient travel supplier account data.
            business-travel/bids:read: Allows the reading of Business Travel Bid data
            business-travel/proposals:read: Allows the reading of Business Travel Proposal data
            business-travel/travel-accounts:read: Allows the reading of business travel account data.
            business-travel/travel-program-questions:read: Allows the reading of business travel program question data.
            business-travel/travel-programs:read: Allows the reading of business travel program data.
            compliance/communications:read: Allows the reading of communication compliance
            compliance/communications:write: Allows the writing of communication compliance
            email/bounces:read: Allow the reading of email bounces.
            email/email-status:read: Allows the reading of email statuses.
            email/emails:read: Allows the reading of emails.
            eMarketing/campaigns:read: Allows the reading of campaigns.
            emarketing/emarketing-email-status:read: Allows the reading of eMarketing email statuses.
            eMarketing/eMarketing-email-templates:read: Allows the reading of email-templates.
            eMarketing/eMarketing-send-emails:write: Allows the writing of eMarketing emails.
            event/admission-items:read: Allows the reading of admission items
            event/air-request:read: Allow reading the air request or air actual detail for attendees.
            event/alternate-travel:read: Allow reading the alternate travel answers for attendees.
            event/attendance-durations:read: Allows the read of Duration records
            event/attendee-activities-metadata:delete: Allows the deletion of attendees activities metadata.
            event/attendee-activities-metadata:read: Allows the reading of attendee activities metadata.
            event/attendee-activities-metadata:write: Allows the creation/updating of attendees activities metadata.
            event/attendee-activities:read: Allows the reading of attendee activities.
            event/attendee-activities:write: Allows the writing of external attendee activities.
            event/attendee-credits:read: Allows the reading of attendee credits.
            event/attendee-links:delete: Allows the deletion of attendee links
            event/attendee-links:read: Allows the reading of attendee links
            event/attendee-links:write: Allows the creation of attendee links
            event/attendee-messages:read: Allows the reading of attendee messages
            event/attendees:read: Allows the reading of attendees.
            event/attendees:write: Allows the creation of an attendee in an event.
            event/audience-segments:read: Allows the reading of audience segments.
            event/audience-segments:write: Allows the creation/updating/deletion of audience segments.
            event/contact-groups:read: Allows the reading of contact groups.
            event/contact-groups:write: Allows the creation/updating of contact groups.
            event/contact-types:read: Allows the reading of contact types.
            event/contacts:delete: Allows the deletion of contacts.
            event/contacts:read: Allows the reading of contacts.
            event/contacts:write: Allows the creation/updating of contacts.
            event/contacts:write-sensitive: Allows the creation/updating of sensitive data related to contacts.
            event/custom-fields:read: Allows the reading of custom fields
            event/custom-fields:write: Allows the writing of custom fields
            event/discounts:write: Allows the writing of discounts
            event/donation-items:read: Allows the reading of donation items.
            event/event-discounts:read: Allows the reading of event discounts.
            event/event-discounts:write: Allows the writing of event discounts.
            event/event-email-status:read: Allows the reading of event email statuses.
            event/event-emails:read: Allows the reading of event emails
            event/event-emails:write: Allows to send event emails.
            event/event-features:read: Allows the reading of events-features
            event/event-features:write: Allows updating the event-features
            event/event-user-groups:read: Allows the reading of user groups
            event/event-user-groups:write: Allows associating/disassociating user groups to event
            event/events:read: Allows the reading of events
            event/events:write: Allows the creation/updating of events
            event/fee-items:read: Allows the reading of fee items.
            event/hotel-request:read: Allow reading the hotel request or housing reservation request detail for attendees.
            event/invitation-lists:read: Allows the reading of the invitation lists for an event
            event/meeting-request-forms:read: Allows the reading of meeting request forms.
            event/meeting-requests:read: Allows the reading of meeting requests.
            event/meeting-requests:write: Allows the creation/updating of meeting requests.
            event/membership-items:read: Allows reading of membership items.
            event/orders:read: Allows the reading of orders
            event/planning-documents:read: Allows the reading of event planning documents
            event/players:read: Allows the reading of players
            event/process-form-submissions:read: Allows the reading of process form submissions.
            event/program-items:delete: Allows deletion of session program items
            event/program-items:read: Allows reading of session program items
            event/program-items:write: Allows writing of session program items
            event/quantity-items:read: Allows the reading of quantity items.
            event/quantity-items:write: Allows the writing of quantity items
            event/registration-paths:read: Allows the reading of registration paths
            event/registration-types:read: Allows the reading of registration types
            event/registration-types:write: Allows the writing of registration types
            event/role-assignments:read: Allows the reading of event role assignment.
            event/session-attendance:read: Allows the reading of sessions attendance
            event/session-attendance:write: Allows the creation/updating of sessions attendance
            event/session-categories:read: Allows reading of session categories
            event/session-categories:write: Allows writing of session categories
            event/session-enrollment:delete: Allows the deletion of session registrations
            event/session-enrollment:read: Allows the reading of sessions registrations
            event/session-enrollment:write: Allows the writing of sessions registrations
            event/session-segments:read: Allows reading of session segments
            event/sessions:delete: Allows the deletion of a session in an event
            event/sessions:read: Allows the reading of sessions
            event/sessions:write: Allows the creation of a session in an event
            event/speaker-categories:read: Allows reading of speaker categories
            event/speaker-categories:write: Allows writing of speaker categories
            event/speakers:delete: Allows the deletion of a speaker in an event
            event/speakers:read: Allows the reading of speakers
            event/speakers:write: Allows the creation of a speaker in an event
            event/taxes:read: Allows the reading of taxes.
            event/transactions:read: Allows the reading of transactions
            event/transactions:write: Allows the writing of transactions
            event/video-views:read: Allows reading of video views.
            event/videos:read: Allows the reading of video data.
            event/videos:write: Allows the creation/updating of video data.
            event/vouchers:read: Allows reading of event vouchers.
            event/webcasts:delete: Allows the deletion of webcast
            event/webcasts:read: Allows the reading of webcasts
            event/webcasts:write: Allows the creation of webcast
            event/weblinks:read: Allows the reading of event weblinks
            events-plus/hubs:read: Allows the reading of Events+ hub data.
            exhibitor/badges:read: Allows reading badges
            exhibitor/badges:write: Allows creating/updating badges
            exhibitor/booth-staff:delete: Allows deleting booth staff
            exhibitor/booth-staff:read: Allows reading booth staff
            exhibitor/booth-staff:write: Allows creating booth staff
            exhibitor/eliterature-requests:read: Allows reading eliterature document request data
            exhibitor/exhibitor-admins:read: Allows reading exhibitor admins
            exhibitor/exhibitor-admins:write: Allows creating/updating exhibitor admins
            exhibitor/exhibitor-answers:read: Allows reading exhibitor answers
            exhibitor/exhibitor-answers:write: Allows updating exhibitor answers
            exhibitor/exhibitor-categories:delete: Allows deleting exhibitor categories
            exhibitor/exhibitor-categories:read: Allows reading exhibitor categories
            exhibitor/exhibitor-categories:write: Allows creating/updating exhibitor categories
            exhibitor/exhibitor-contents:delete: Allows deleting exhibitor content
            exhibitor/exhibitor-contents:read: Allows reading exhibitor content
            exhibitor/exhibitor-contents:write: Allows creating/updating exhibitor content
            exhibitor/exhibitor-questions:read: Allows reading exhibitor questions
            exhibitor/exhibitors:delete: Allows deleting exhibitors
            exhibitor/exhibitors:read: Allows reading exhibitors
            exhibitor/exhibitors:write: Allows creating/updating exhibitors
            exhibitor/lead-qualification-answers:read: Allows reading Lead Qualification Answers
            exhibitor/lead-qualification-questions:read: Allows reading Lead Qualification Questions.
            exhibitor/leads:read: Allows reading leads.
            exhibitor/registration-packs:delete: Allows deleting registration pack
            exhibitor/registration-packs:read: Allows reading registration pack
            exhibitor/registration-packs:write: Allows creating/updating registration pack
            exhibitor/sponsorship-levels:read: Allows reading sponsorship level
            file/file:read: Allows the reading of file
            file/file:write: Allows the uploading of file
            housing/connections:write: Allows the user to connect to the Reglink APIs.
            housing/hotel-room-rates:write: Allows the user to create/update hotel room rates.
            housing/housing-event-available-nights:read: Allows the user to read availability information for given event.
            housing/housing-event-hotels:read: Allows the user to read information about event hotels.
            housing/housing-event-inventory:read: Allows the user to get information about housing event inventory.
            housing/housing-event-room-types:read: Allows the user to read information about event room types.
            housing/housing-events:read: Allows the user to read information about events.
            housing/reservation-requests:delete: Allows the user to cancel reservation request.
            housing/reservation-requests:read: Allows the user to read reservation request information.
            housing/reservation-requests:write: Allows the user to create/update reservation request.
            housing/reservations-link:delete: Allows the user to remove association from reservation.
            housing/reservations-link:write: Allows the user to associate reservation to reservation request.
            housing/reservations:delete: Allows the user to cancel reservation.
            housing/reservations:read: Allows the user to read reservation details information.
            housing/reservations:write: Allows the user to create/update reservation.
            onsite/signatures:read: Allows reading signatures.
            proposal/proposals:write: Allows the creation/writing of proposal
            remote-printing/badge-print-jobs:read: Allows reading print jobs.
            remote-printing/badge-print-jobs:write: Allows creating print jobs.
            remote-printing/badge-printer-pools:read: Allows reading pools.
            rfp/rfp-agenda-items:read: Allows the reading of RFP agenda items.
            rfp/rfp-attachments:read: Allows the reading of RFP attachments.
            rfp/rfp-custom-fields:read: Allows the reading of RFP custom fields.
            rfp/rfp-guest-rooms:read: Allows the reading of RFP guest rooms.
            rfp/rfp-internal-documents:read: Allows the reading of RFP internal documents.
            rfp/rfp-lead-sources:read: Allows the reading of RFP lead sources.
            rfp/rfp-past-events:read: Allows the reading of past events similar to rfp event.
            rfp/rfp-questions:read: Allows the reading of RFP questions.
            rfp/rfp-recipients-history:read: Allows the reading of RFP recipients history.
            rfp/rfp-suppliers:read: Allows the reading of RFP suppliers.
            rfp/rfps:read: Allows the reading of basic details of RFP.
            seating/assignments:read: Allows to read attendee seat assignment information.
            seating/event-seatings:read: Allows to read event seating.
            seating/seats:read: Allows to read seat information.
            seating/tables:read: Allows to read table information.
            secure-ecommerce/card-tokens:write: Allows creation of credit card tokens
            survey/questions:read: Allows the reading of survey questions
            survey/respondents:read: Allows reading the survey respondents
            survey/responses:read: Allows reading the survey responses
            survey/standard-survey-email-templates:read: Allows reading the standalone survey email templates
            survey/standard-survey-email:write: Allows writing operations on standalone survey emails
            survey/standard-survey-questions:read: Allows the reading of standalone surveys questions
            survey/standard-survey-respondents:read: Allows reading the standalone survey respondents
            survey/standard-survey-respondents:write: Allows write operations on standalone survey respondents
            survey/standard-survey-responses:read: Allows reading the standalone survey responses
            survey/standard-survey-responses:write: Allows write operations on standalone surveys respondent's responses
            survey/standard-surveys:read: Allows the reading of standalone surveys
            survey/survey-questions:read: Allows the reading of event survey questions
            survey/survey-respondents:read: Allows reading the event survey respondents
            survey/survey-respondents:write: Allows write operations on the event survey respondents
            survey/survey-responses:read: Allows reading the event survey responses
            survey/survey-responses:write: Allows write operations on the event surveys respondent's responses
            survey/surveys:read: Allows the reading of event surveys
            venue/meeting-room-images:delete: Allows disassociating images from meeting rooms.
            venue/meeting-room-images:read: Allows retrieving meeting room images.
            venue/meeting-room-images:write: Allows associating images with meeting rooms.
            venue/meeting-room-overviews:read: Allows read access for overview of meeting room.
            venue/meeting-rooms:write: Allows the creation and modification of meeting rooms.
            venue/venue-details-overview:read: Allows read access for overview of venue details.
            venue/venue-details:write: Allows the creation and modification of venue details.
            venue/venue-facility:write: Allows the modification of venue facility information.
    CallbackApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: This security scheme is used to indicate that Cvent should use API Key auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
    CallbackBasicAuth:
      type: http
      scheme: basic
      description: This security scheme is used to indicate that Cvent should use basic auth when invoking your callback. This scheme is only supported for callback operations, and cannot be used to make calls to Cvent endpoints.
externalDocs:
  description: Cvent Developer Documentation
  url: https://developers.cvent.com/docs
